///
/// Punica CSS Framework
/// Components : Navbar
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Options" as *;
@use "../../../Core/Global/Sass" as *;
@use "../../../Core/Global/Mixins" as *;
@use "../../../Core/Global/Colors" as color;
@use "../../../Core/Theme/Getters" as *;
@use "../../../Core/Theme/Setters" as *;
@use "mixins";

@if enabled('components', 'navbar') {
	.#{class('navbar', 'name')} {
		display        : flex;
		flex-wrap      : wrap;
		align-items    : stretch;
		justify-content: space-between;
		font-family    : components('navbar', 'font-family');
		min-height     : components('navbar', 'min-height');
		background     : components('navbar', 'background-color');
		color          : components('navbar', 'color');
		width          : components('navbar', 'width');
		// grid container
		.#{class('grid', 'container')} {
			display: flex;
			width  : elements('grid', 'container', 'width');
		}
		// navbar brand
		.#{class('navbar', 'brand')} {
			display        : flex;
			justify-content: center;
			min-height     : 100%;
			align-items    : center;
			white-space    : nowrap;
			padding        : components('navbar', 'brand', 'padding');
			margin-right   : components('navbar', 'brand', 'margin-right');
			img {
				width: components('navbar', 'brand', 'img', 'width');
			}
			a,
			a:visited {
				text-decoration: none;
				color          : components('navbar', 'brand', 'href', 'color');
				display        : flex;
				font-size      : components('navbar', 'font-size');
				font-weight    : components('navbar', 'brand', 'font-weight');
			}
		}
		// navbar burger
		input[type=checkbox]##{class('navbar', 'burger')},
		.#{class('navbar', 'burger')} {
			display: none;
		}
		.#{class('navbar', 'burger')} {
			&::before {
				display   : none;
				position  : absolute;
				cursor    : pointer;
				right     : 0;
				top       : 0;
				content   : components('navbar', 'burger', 'symbol-open');
				font-size : components('navbar', 'burger', 'icon-size');
				min-height: components('navbar', 'min-height');
				max-height: components('navbar', 'min-height');
			}
		}
		// navbar links
		section.#{class('navbar', 'links')} {
			display    : flex;
			flex       : 1 0 0;
			align-items: center;
			// navbar sections
			div.#{class('navbar', 'section')} {
				flex       : 1 0 0;
				display    : flex;
				height     : 100%;
				align-items: center;
				&:not(:first-child):last-child {
					justify-content: flex-end;
				}
				input[type='text'] {
					color           : components('navbar', 'input', 'color');
					background-color: components('navbar', 'input', 'background-color');
					border-color    : components('navbar', 'input', 'border-color');
					border-width    : components('navbar', 'input', 'border-width');
					&::placeholder {
						color: components('navbar', 'input', 'placeholder', 'color');
					}
					&:focus {
						outline: components('navbar', 'input', 'focus', 'outline');
					}
				}
				///
				/// DIVIDED NAVBAR
				///
				@if features('components', 'navbar', 'divided') {
					&.#{class('navbar', 'divided')} {
						@include mixins.navbar-divided();
						.#{class('button', 'group')} {
							.#{class('button', 'name')},
							.#{class('button', 'dropdown')} .#{class('button', 'name')} {
								border: solid darken(components('navbar', 'background-color'), 15%);
							}
						}
						@include breakpoints(elements('grid', 'breakpoints', 'medium'), 'max-width') {
							.#{class('button', 'group')} {
								.#{class('button', 'name')},
								.#{class('button', 'dropdown')} .#{class('button', 'name')} {
									border: 0 !important;
								}
							}
						}
					}
				}
			}
		}
		&.#{class('navbar', 'fixed')} {
			position  : fixed;
			top       : 0;
			left      : 0;
			right     : 0px;
			margin-top: 0;
			transform : translateY(0px);
			z-index   : 5;
		}
		.#{class('button', 'group')} {
			height    : 100%;
			min-height: 100%;
			box-shadow: none;
			.#{class('button', 'name')},
			.#{class('button', 'dropdown')} .#{class('button', 'name')} {
				font-family  : components('navbar', 'font-family');
				background   : transparent;
				border-color : transparent;
				color        : components('navbar', 'color');
				min-height   : 100%;
				border-radius: 0;
				border       : 0;
				i {
					color: components('navbar', 'button', 'icon', 'color');
				}
				&:hover {
					background: darken(components('navbar', 'background-color'), 5%);
					border-radius: 0;
				}
				&:active,
				&.#{class('button', 'active')} {
					color           : components('navbar', 'button', 'active', 'color');
					background-color: components('navbar', 'button', 'active', 'background-color');
					transition      : components('button', 'transition');
					&:hover {
						transition: components('button', 'transition');
						background: darken(components('navbar', 'background-color'), 7%);
					}
				}
			}
			// dropdown menu
			.#{class('button', 'dropdown')} > .#{class('menu', 'name')} {
				background-color: components('navbar', 'menu', 'background-color');
				.#{class('menu', 'item')} a {
					color: components('navbar', 'menu', 'item', 'color');
					&:hover {
						color           : components('navbar', 'menu', 'hover', 'color');
						background-color: components('navbar', 'menu', 'hover', 'background-color');
					}
					&:active,
					&.#{class('button', 'active')} {
						color           : components('navbar', 'menu', 'active', 'color');
						background-color: components('navbar', 'menu', 'active', 'background-color');
					}
				}
			}
			.#{class('button', 'dropdown')}:last-child,
			.#{class('button', 'dropdown')}:last-child > .#{class('button', 'name')}:first-child,
			.#{class('button', 'dropdown')}:last-child > .#{class('button', 'name')}:last-child {
				border-radius: 0;
			}
		}
		.#{class('button', 'name')},
		.#{class('button', 'dropdown')} .#{class('button', 'name')} {
			font-size  : components('navbar', 'font-size');
			padding    : components('navbar', 'button', 'padding');
			font-weight: components('navbar', 'font-weight');
		}
		///
		/// GRADIENT
		///
		@if features('components', 'navbar', 'gradient') {
			&.#{class('navbar', 'gradient')} {
				background: linear-gradient(
					to top, 
					components('navbar', 'background-color') 0%, 
					lighten(components('navbar', 'background-color'), 11.5%) 2%, 
					darken(components('navbar', 'background-color'), 3%) 97%, 
					lighten(components('navbar', 'background-color'), 11.5%) 100%
				);
			}
			/// Gradient Left-To-Right
			&.#{class('navbar', 'gradient')}#{'-ltr'} {
				background: linear-gradient(135deg, lighten(components('navbar', 'background-color'), 7.5%), components('navbar', 'background-color'));
			}
			/// Gradient Right-To-Left
			&.#{class('navbar', 'gradient')}#{'-rtl'} {
				background: linear-gradient(-135deg, lighten(components('navbar', 'background-color'), 7.5%), components('navbar', 'background-color'));
			}
		}
		/// 
		/// NAVBAR THEMES
		///
		@if features('components', 'navbar', 'themes') {
			@each $theme-name, $bg-color, $text-color, $input-bg, $input-color, $input-border-color, $divider-color in components('navbar', 'styles') {
				&.#{$theme-name} {
					@include mixins.navbar-themes($bg-color, $text-color, $input-bg, $input-color, $input-border-color, $divider-color);
				}
			}
		}
		///
		/// NAVBAR SIZES
		///
		@if features('components', 'navbar', 'sizes') {
			@each $size-name, $min-height, $font-size, $button-padding in components('navbar', 'sizes') {
				&.#{$size-name} {
					min-height: $min-height;
					& .#{class('button', 'name')},
					& .#{class('button', 'dropdown')} .#{class('button', 'name')} {
						font-size: $font-size;
						padding  : $button-padding;
					}
				}
			}
		}
	}
	//
	@include breakpoints(elements('grid', 'breakpoints', 'medium'), 'max-width') {
		.#{class('navbar', 'name')} {
			// grid container
			.#{class('grid', 'container')} {
				padding: 0 div(elements('grid', 'container', 'padding'), 2);
			}
			&.#{class('navbar', 'fixed')} {
				position: relative;
			}
			section.#{class('navbar', 'links')} {
				position  : absolute;
				display   : block;
				width     : 100%;
				height    : 0;
				top       : components('navbar', 'min-height');
				left      : 0;
				overflow-x: auto;
				overflow-y: hidden;
				background: theme('color', 'background');
				z-index   : 1;
				margin    : 0 !important;
				padding   : 0 !important;
				box-shadow: theme('shadow');
				.#{class('navbar', 'section')},
				.#{class('navbar', 'section')} .#{class('button', 'group')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('menu', 'name')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('menu', 'name')} .#{class('button', 'name')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('button', 'name')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'name')} {
					display   : block !important;
					width     : 100%;
					text-align: left;
					position  : relative;
				}
				.#{class('navbar', 'section')} {
					padding: 0 !important;
					margin: 0 !important;
				}
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('button', 'name')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'name')} {
					color: theme('color', 'text');
					background: color.$grey;
					i {
						color         : theme('color', 'text');
						font-size     : components('menu', 'icon', 'font-size') !important;
						vertical-align: components('menu', 'icon', 'vertical-align');
					}
				}
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('menu', 'name')} {
					max-height: 100%;
					box-shadow: none;
				}
			}
			@each $size-name, $min-height, $font-size, $button-padding in components('navbar', 'sizes') {
				&.#{$size-name} > section.#{class('navbar', 'links')} {
					top: $min-height;
				}
			}
			.#{class('navbar', 'burger')} {
				display        : flex;
				align-items    : center;
				justify-content: center;
				margin         : 0;
				&::before {
					content        : components('navbar', 'burger', 'symbol-close');
					padding        : components('navbar', 'burger', 'padding');
					font-size      : components('navbar', 'burger', 'icon-size');
					display        : flex;
					align-items    : center;
					justify-content: center;
					top            : auto;
				}
			}
			///
			/// NAVBAR SIZES
			///
			@if features('components', 'navbar', 'sizes') {
				@each $size-name, $min-height, $font-size, $button-padding in components('navbar', 'styles') {
					&.#{$size-name} {
						& .#{class('navbar', 'burger')},
						& .#{class('navbar', 'burger')}::before {
							min-height: $min-height;
							max-height: $min-height;
						}
						section.#{class('navbar', 'links')} {
							top: $min-height;
						}
					}
				}
			}
			input[type=checkbox]##{class('navbar', 'burger')}:not(:checked) ~ section.#{class('navbar', 'links')} {
				height: 0;
			}
			input[type=checkbox]##{class('navbar', 'burger')}:checked ~ section.#{class('navbar', 'links')} {
				height: auto;
			}
			input[type=checkbox]##{class('navbar', 'burger')}:not(:checked) ~ .#{class('navbar', 'burger')}::before {
				content: components('navbar', 'burger', 'symbol-open'); // open
			}
			input[type=checkbox]##{class('navbar', 'burger')}:checked ~ .#{class('navbar', 'burger')}::before {
				content: components('navbar', 'burger', 'symbol-close'); // close
			}
		}
	}
}