/////////////////////////////////////////////////////////
/// GLOBAL MIXINS
/////////////////////////////////////////////////////////

///
///
///
@mixin breakpoints(
	$size, $width: 'min-width'
) {
	@media only screen and ($width: $size) {
		@content;
	}
}

///
///
///
@mixin media-group-specs(
	$item-name, $padding: 1px
) {
	@each $name, $number in $grids {
		&>.#{$item-name}.#{$name} {
			padding-bottom: initial !important;
			height: auto;
			&>div, &>a {
				flex: 0 0 calc(100% * (1 / #{$number}));
				flex-grow: 1;
				padding: $padding;
			}
		}
	}
}

///
///
///
@mixin set-size(
	$font-size, $padding, $size-name: null
) {
	@if $size-name {
		&.#{$size-name} {
			padding: $padding;
			font-size: $font-size;
			@content;
		}
	} @else {
		padding: $padding;
		font-size: $font-size;
		@content;
	}
	
}

///
///
///
@mixin set-style(
	$bg-color, $color, $style-name: null
) {
	@if $style-name {
		&.#{$style-name} {
			background-color: $bg-color;
			color: $color;
			@content;
		}
	} @else {
		background-color: $bg-color;
		color: $color;
		@content;
	}
}

///
///
///
@mixin embedded-media {
	// References;
	// https://css-tricks.com/fluid-width-video/
	position: relative;
	padding-bottom: 56.25% !important;
	height: 0;
	overflow: hidden;
	max-width: 100%;
    width: 100%;
    box-sizing: border-box;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	video {
		max-width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}