/*****************************************************
*** GLOBAL MIXINS ************************************/
@mixin breakpoints($size, $width: 'min-width') {
	@media only screen and ($width: $size) {
		@content;
	}
}
@mixin shadow(
	$h-offset: 0, 
	$v-offset: 3px, 
	$blur: 10px, 
	$color: rgba(0, 0, 0, 0.15)
) {
	box-shadow: $h-offset $v-offset $blur $color;
}
@mixin embedded-media {
	// References;
	// https://css-tricks.com/fluid-width-video/
	position: relative; 
	padding-bottom: 56.25% !important; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
    width: 100%;
    box-sizing: border-box;
	iframe, 
	object, 
	embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%;
		padding-left: 0;
	}
	video {
		max-width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}