/////////////////////////////////////////////////////////
/// GLOBAL DEFINITIONS
/////////////////////////////////////////////////////////

///
/// TYPOGRAPHY
///
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap');
$main-font-family		: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$main-font-weight		: 400 !default;
$main-font-size			: 13px !default;
$main-line-height		: 1.7 !default;
$main-title-weight		: 900 !default;

///
/// MAIN GRID NAMING
/// It's used in card, form and timeline.
///
$grids: (
	//"one"		: "1",
	"two"		: "2",
	"three"		: "3",
	"four"		: "4",
	"five"		: "5",
	"six"		: "6",
	"seven"		: "7",
	"eight"		: "8",
	"nine"		: "9",
	"ten"		: "10",
	"eleven"	: "11",
	"twelve"	: "12",
	"thirteen"	: "13",
	"fourteen"	: "14",
	"fifteen"	: "15",
	"sixteen"	: "16"
);
