/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENT : PANEL > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the panel component from here.
///
$panel-name			 : 'panel';
$panel-header		 : 'header';
$panel-title		 : 'title';
$panel-headline		 : 'headline';
$panel-bottom		 : 'bottom';
$panel-content		 : 'content';
$panel-media		 : 'media';
$panel-title-actions : 'actions';