/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : PANEL
/////////////////////////////////////////////////////////
///
/// if panel is enable
///
@if options('panel', 'enable') {
	.#{class('panel', 'name')} {
		display: flex;
		flex-direction: column;

		// has panel border?
		@if options('panel', 'features', 'border') {
			@include border();
			/// border radius
			border-radius: if(theme('components', 'panel', 'radius'), theme('components', 'panel', 'radius'), theme('border', 'radius'));
		}

		// has panel shadow?
		@if options('panel', 'features', 'shadow') {
			@include shadow();
		}

		/// background color
		background-color: if(theme('components', 'panel', 'background'), theme('components', 'panel', 'background'), theme('color', 'background'));

		margin: variables('panel', 'margin');
		&>.#{class('panel', 'header')},
		&>.#{class('panel', 'bottom')} {
			display: flex;
			flex-direction: row;
			align-items: center;
			.#{class('panel', 'actions')} {
				margin-left: auto;
				&:before {
					flex-grow: 1;
				}
			}
		}
		&>.#{class('panel', 'header')} {
			border-bottom: set-border();
			padding: variables('panel', 'title-padding');
			&.dashed {
				border-bottom-style: dashed;
			}
			&.dotted {
				border-bottom-style: dotted;
			}
			>.#{class('panel', 'title')} {
				font-size: 1.185rem;
				font-weight: theme('typography', 'header-weight');
			}
		}
		&>.#{class('panel', 'content')} {
			flex: 1 1 auto;
			padding: variables('panel', 'padding');
			height: auto;
			///
			/// MEDIA
			///
			@if options('panel', 'features', 'media') {
				&>.#{class('panel', 'media')} {
					min-width: 0;
					flex: auto;
					margin-bottom: 32px;
					flex-wrap: wrap;
					display: flex;
					@include embedded-media();
					img {
						display: block;
					}
				}
				///
				/// MEDIA GROUP
				///
				@if options('panel', 'features', 'media-group') {
					@include media-group-specs(class('panel', 'media'));
				}
			}
			.#{class('panel', 'headline')},
			p.#{class('panel', 'headline')} {
				font-size: 1.39em;
				line-height: 1.5;
				margin-bottom: 26px;
				color: darken(theme('color', 'text'), 16%);
				letter-spacing: -.0158em;
			}
		}
		&>.#{class('panel', 'bottom')} {
			min-height: 50px;
			border-top: set-border();
			padding: variables('panel', 'padding');
		}
		///
		/// SIZES
		///
		@if options('panel', 'features', 'sizes') {
			@each $size-name, $font-size, $padding in $panel-sizes {
				&.#{$size-name} {
					>.#{class('panel', 'header')} {
						padding: $padding;
						.#{class('panel', 'title')} {
							font-size: $font-size;
						}
					}
					>.#{class('panel', 'content')},
					>.#{class('panel', 'bottom')} {
						padding: $padding;
					}
				}
			}
		}
	}
}
