/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : PANEL
/////////////////////////////////////////////////////////
///
/// if panel is enable
///
@if $components-panel {
	.#{$panel-name} {
		display: flex;
		flex-direction: column;

		// has panel border?
		@if $has-panel-border {
			@include border();
			border-radius: theme('border-radius');
		}

		// has panel shadow?
		@if $has-panel-shadow {
			@include shadow();
		}

		background-color: theme('background-color');
		margin: $panel-margin;
		&>.#{$panel-header},
		&>.#{$panel-bottom} {
			display: flex;
			flex-direction: row;
			align-items: center;
			.#{$panel-title-actions} {
				margin-left: auto;
				&:before {
					flex-grow: 1;
				}
			}
		}
		&>.#{$panel-header} {
			border-bottom: theme('border-width') theme('border-style') theme('border-color');
			padding: $panel-title-padding;
			&.dashed {
				border-bottom-style: dashed;
			}
			&.dotted {
				border-bottom-style: dotted;
			}
			.#{$panel-title} {
				font-size: $panel-title-font-size;
				font-weight: $panel-title-font-weight;
			}
		}
		&>.#{$panel-content} {
			flex: 1 1 auto;
			padding: $panel-padding;
			height: auto;
			///
			/// MEDIA
			///
			@if $components-panel-media {
				&>.#{$panel-media} {
					min-width: 0;
					max-width: 100%;
					flex: auto;
					margin-bottom: 32px;
					width: 100%;
					flex-wrap: wrap;
					display: flex;
					@include embedded-media();
					img {
						display: block;
					}
				}
				///
				/// MEDIA GROUP
				///
				@if $components-panel-media-group {
					@include media-group-specs($panel-media);
				}
			}
			.#{$panel-headline},
			p.#{$panel-headline} {
				font-size: $panel-headline-font-size;
				line-height: $panel-headline-line-height;
				margin-bottom: $panel-headline-margin-bottom;
				color: $panel-headline-color;
				letter-spacing: $panel-headline-letter-spacing;
			}
		}
		&>.#{$panel-bottom} {
			min-height: $panel-bottom-min-height;
			border-top: theme('border-width') theme('border-style') theme('border-color');
			padding: $panel-bottom-padding;
		}
	}
}
