/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENT : PANEL > VARIABLES
/////////////////////////////////////////////////////////

/// STYLE OPTIONS =======================================
$has-panel-shadow	 : true;
$has-panel-border	 : true;

/// PREFERENCES =========================================
$panel-padding		 : 16px;
$panel-margin		 : $panel-padding 0;
$panel-title-padding : 12px $panel-padding;
