/***************************************************** 
PUNICA CSS > ELEMENTS : TYPOGRAPHY > VARIABLES *******/

$text-h-line-height		: 2;
$text-p-size			: 1.3em; // paragraph
// headers (name, font-size, responsive font-size)
$typography-headers	: ( 
	("h1", 2rem, 1.7rem),
	("h2", 1.8rem, 1.5rem),
	("h3", 1.6rem, 1.3rem),
	("h4", 1.4rem, 1.1rem),
	("h5", 1.2rem, .9rem),
	("h6", 1rem, inherit)
);