/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : CAPTION
/////////////////////////////////////////////////////////
///
/// if caption is enable
///
@if $elements-caption {
	.#{$caption-name} {
		display: flex;
	    align-items: center;
		margin: $caption-margin;
		font-size: $caption-font-size;
		font-weight: theme('header-weight');
		line-height: theme('line-height') - .2;
		text-align: left;
		>img,
	    >.#{$icon-font-class-name},
	    >i {
	    	margin-right: $caption-media-spacer;
	    }
	    >.#{$icon-font-class-name},
	    >i {
	    	font-size: $caption-font-size * 1.4;
	    }
	    &.#{$caption-divided} {
	    	border-bottom: set-border();
	    	padding-bottom: $caption-media-spacer;
	    }
	    &>span,
	    &>div {
	    	/// ..children of a flex container are
	    	/// forced to have a block-flavored display type.
	    	display: contents;
	    }
	    &.#{$caption-centered} {
	    	flex-direction: column;
	    	text-align: center;
	    	margin: inherit;
	    	>img,
		    >.#{$icon-font-class-name},
		    >i {
		    	margin-right: unset;
		    	margin-bottom: 2rem;
		    }
	    }
	    ///
		/// SIZES
		///
		@if ($elements-caption-sizes) {
			@each $size-name, $margin, $font-size, $font-weight in $caption-sizes {
				@include set-size($font-size, null, $size-name) {
					margin: $margin;
					font-weight: $font-weight;
					>.#{$icon-font-class-name},
				    >i {
				    	font-size: $font-size * 1.4;
				    }
				};
			}
		}
		//
		@include breakpoints($breakpoints-medium, 'max-width') {
			flex-direction: column;
	    	text-align: center;
	    	margin: inherit;
	    	>img,
		    >.#{$icon-font-class-name},
		    >i {
		    	margin-right: unset;
		    	margin-bottom: 2rem;
		    }
		}
	}
}