/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : CAPTION > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the caption element from here.
///
$caption-name		: 'caption';
$caption-centered	: 'centered';
$caption-divided	: 'divided';