/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : CAPTION > VARIABLES
/////////////////////////////////////////////////////////

/// SIZES =============================================== 
$caption-sizes: (
	// size name, margin, font-size, font-weight
    ("small", 1em .1rem, 1.65rem, theme('font-weight')),
    ("large", 1.4em .3rem, 2.35rem, theme('header-weight'))
);

/// PREFERENCES =========================================
$caption-margin: 1.3em .2rem;
$caption-font-size: 2rem;
$caption-line-height: 1.15;
$caption-media-spacer: .559em;
