/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : TABNAV > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the tabnav component from here.
///
$tabnav-name: 'tab';
$tabnav-active: 'active';
$tabnav-centered: 'centered';