/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : TABNAV
/////////////////////////////////////////////////////////
@import "mixins";
///
/// if tabnav is enable
///
@if $components-tabnav {
	.#{$tabnav-name} {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		border-bottom: $tabnav-border-width theme('border-style') theme('color-secondary');
		padding: 0;
		&>.#{$button-class-group} {
			box-shadow: none;
			border-radius: 0;
		}
		///
		/// Default button styles in Tabnav
		///
		@include tab-button-styles() {
			background: transparent;
			border: none;
			border-radius: 0 !important;
			line-height: unset;
	        font-size: 1.025em;
			color: theme('text-color');
			padding: .935rem 1.4rem;
			box-shadow: none;
			border-bottom: $tabnav-border-width solid transparent;
	        margin-bottom: -$tabnav-border-width;
			&:hover {
				color: theme('text-color');
				border-bottom-color: theme('color-grey');
			}
			&.#{$button-class-disabled} {
				opacity: .45;
			}
			&.#{$tabnav-active} {
				color: theme('primary-color');
				font-weight: theme('header-weight');
				border-bottom-color: theme('primary-color');
				i, [class^="#{$icon-font-class-name}"] {
					color: inherit;
				}
			}
			i, [class^="#{$icon-font-class-name}"] {
				font-size: 1rem;
			}
		}
		///
		/// Bottom Tabnav
		///
		@if $components-tabnav-bottom-position {
			&.#{$tabnav-bottom} {
				border-bottom: 0;
				border-top: $tabnav-border-width theme('border-style') theme('color-secondary');
				@include tab-button-styles() {
					margin-top: -$tabnav-border-width;
					border-top: $tabnav-border-width solid transparent;
					border-bottom: 0;
					margin-bottom: 0;
					&:hover {
						border-top-color: theme('color-grey');
					}
					&.#{$tabnav-active} {
						border-top-color: theme('primary-color');
					}
				}
			}
		}
		///
		/// STYLES
		///
		@if $components-tabnav-styles {
			@each $type-name, $color in $tabnav-styles {
				&.#{$type-name} {
					.#{$button-class},
					a.#{$button-class},
					.#{$dropdown-name} .#{$button-class},
					.#{$dropdown-name} a.#{$button-class} {
						&.#{$tabnav-active} {
							color: $color;
							border-bottom-color: $color;
						}
					}
				}
				///
				/// Bottom Tabnav
				///
				@if $components-tabnav-bottom-position {
					&.#{$type-name}.#{$tabnav-bottom} {
						.#{$button-class},
						a.#{$button-class},
						.#{$dropdown-name} .#{$button-class},
						.#{$dropdown-name} a.#{$button-class} {
							&.#{$tabnav-active} {
								border-top-color: $color;
							}
						}
					}
				}
			}
		}
        &.#{$tabnav-centered} {
            justify-content: center;
        }
	}
}
