/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : TABNAV
/////////////////////////////////////////////////////////
@import "mixins";
///
/// if tabnav is enable
///
@if options('tabnav', 'enable') {
	.#{class('tabnav', 'name')} {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		border-bottom: variables('tabnav', 'border-width') theme('border', 'style') theme('color', 'secondary');
		padding: 0;
		&>.#{class('button', 'group')} {
			box-shadow: none;
			border-radius: 0;
		}
		///
		/// Default button styles in Tabnav
		///
		@include tab-button-styles() {
			background: transparent;
			border: none;
			border-radius: 0 !important;
			line-height: unset;
	        font-size: 1.025em;
			color: theme('color', 'text');
			padding: .935rem 1.4rem;
			box-shadow: none;
			border-bottom: variables('tabnav', 'border-width') solid transparent;
	        margin-bottom: -variables('tabnav', 'border-width');
			&:hover {
				color: theme('color', 'text');
				border-bottom-color: theme('color', 'grey');
			}
			&.#{class('button', 'disabled')} {
				opacity: .45;
			}
			&.#{class('tabnav', 'active')} {
				color: theme('color', 'primary');
				border-bottom-color: theme('color', 'primary');
				i, [class^="#{class('icon', 'class-name')}"] {
					color: inherit;
				}
			}
			i, [class^="#{class('icon', 'class-name')}"] {
				font-size: 1rem;
			}
		}
		///
		/// Bottom Tabnav
		///
		@if options('tabnav', 'features', 'bottom-position') {
			&.#{class('tabnav', 'bottom')} {
				border-bottom: 0;
				border-top: variables('tabnav', 'border-width') theme('border', 'style') theme('color', 'secondary');
				@include tab-button-styles() {
					margin-top: -variables('tabnav', 'border-width');
					border-top: variables('tabnav', 'border-width') solid transparent;
					border-bottom: 0;
					margin-bottom: 0;
					&:hover {
						border-top-color: theme('color', 'grey');
					}
					&.#{class('tabnav', 'active')} {
						border-top-color: theme('color', 'primary');
					}
				}
			}
		}
		///
		/// STYLES
		///
		@if options('tabnav', 'features', 'styles') {
			@each $type-name, $color in $tabnav-styles {
				&.#{$type-name} {
					.#{class('button', 'name')},
					a.#{class('button', 'name')},
					.#{class('button', 'dropdown')} .#{class('button', 'name')},
					.#{class('button', 'dropdown')} a.#{class('button', 'name')} {
						&.#{class('tabnav', 'active')} {
							color: $color;
							border-bottom-color: $color;
						}
					}
				}
				///
				/// Bottom Tabnav
				///
				@if options('tabnav', 'features', 'bottom-position') {
					&.#{$type-name}.#{class('tabnav', 'bottom')} {
						.#{class('button', 'name')},
						a.#{class('button', 'name')},
						.#{class('button', 'dropdown')} .#{class('button', 'name')},
						.#{class('button', 'dropdown')} a.#{class('button', 'name')} {
							&.#{class('tabnav', 'active')} {
								border-top-color: $color;
							}
						}
					}
				}
			}
		}
        &.#{class('tabnav', 'centered')} {
            justify-content: center;
        }
	}
}
