/*****************************************************
PUNICA CSS > COMPONENTS : TABNAV *********************/

@if $components-tabnav {
	.#{$tabnav-name} {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		border-bottom: $tabnav-border-bottom-width $main-border-style $main-secondary-bg;
		padding: 0;
		.#{$button-class-group} {
			box-shadow: none;
			border-radius: 0;
		}
		.#{$button-class},
		a.#{$button-class},
		.#{$dropdown-name} .#{$button-class},
		.#{$dropdown-name} a.#{$button-class} {
			background: transparent;
			border: none;
		    border-bottom: $tabnav-border-bottom-width solid transparent;
		    border-radius: 0 !important;
	        margin-bottom: -$tabnav-border-bottom-width;
	        line-height: initial;
            font-size: $tabnav-item-button-size;
			font-weight: initial;
            transition: border-bottom-color, color .2s;
			color: darken($main-grey-color, 5%);
			padding: .935rem 1.4rem;
			&:hover {
				color: darken($main-font-color, 8%);
				border-bottom-color: darken($main-secondary-bg, 16%);
				transition: border-bottom-color, color .2s;
			}
			&.#{$button-class-disabled} {
				opacity: .45;
			}
			&.#{$tabnav-active} {
				color: $primary-color;
				border-bottom-color: $primary-color;
				font-weight: 700;
				i, [class^="material-icons"] {
					color: initial;
				}
			}
		}
		// if tabnav style is enable
		@if $components-tabnav-types {
			// badge types
			@each $type-name, $bg-color in $tabnav-types {
				&.#{$type-name} {
					.#{$button-class},
					a.#{$button-class},
					.#{$dropdown-name} .#{$button-class},
					.#{$dropdown-name} a.#{$button-class} {
						&.#{$tabnav-active} {
							color: $bg-color;
							border-bottom-color: $bg-color;
						}
					}
				}
			}
		}
	}
}
