/***************************************************** 
PUNICA CSS > COMPONENTS : MENU > VARIABLES ***********/

/*****************************************************
CLASS NAMING *****************************************/
$tabnav-name: 'tab';
$tabnav-active: 'active';

/*****************************************************
STYLES ***********************************************/
$tabnav-styles: (
	"success": $success-color,
	"warning": $warning-color,
	"error": $error-color,
	"dark": $main-dark-color,
);

/***************************************************** 
PREFERENCES ******************************************/
$tabnav-border-bottom-width: 2px;
$tabnav-item-button-size: 1.025em;