/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : MENU > VARIABLES
/////////////////////////////////////////////////////////

/// CLASS NAMING ========================================
$tabnav-name: 'tab';
$tabnav-active: 'active';

/// STYLES ==============================================
$tabnav-styles: (
	"success"	: theme('success-color'),
	"warning"	: theme('warning-color'),
	"error"		: theme('error-color'),
	"dark"		: theme('text-color'),
);

/// PREFERENCES =========================================
$tabnav-border-bottom-width: 2px;
$tabnav-item-button-size: 1.025em;