///
/// Punica CSS Framework
/// Components : Tooltip
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Options" as *;
@use "../../../Core/Global/Mixins" as *;

@if enabled('components', 'tooltip') {
	.#{class('tooltip', 'name')} {
		display        : inline-flex;
		justify-content: center;
		align-items    : center;
		position       : relative;
		cursor         : default;
		.#{class('tooltip', 'text')} {
			position        : absolute;
			display         : flex;
			align-items     : center;
			justify-content : center;
			color           : components('tooltip', 'color');
			font-size       : components('tooltip', 'font-size');
			font-weight     : components('tooltip', 'font-weight');
			visibility      : hidden;
			background-color: components('tooltip', 'background-color');
			border-radius   : components('tooltip', 'border-radius');
			width           : components('tooltip', 'width');
			max-width       : components('tooltip', 'max-width');
			text-wrap       : components('tooltip', 'text-wrap');
			white-space     : components('tooltip', 'white-space');
			text-align      : components('tooltip', 'text-align');
			line-height     : components('tooltip', 'line-height');
			padding         : components('tooltip', 'padding');
			top             : 120%;
			opacity         : 0;
			transition      : components('tooltip', 'transition');
			z-index         : 1;
			&::after {
				content     : "";
				position    : absolute;
				top         : auto;
				bottom      : 100%;
				left        : 50%;
				margin-left : -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent components('tooltip', 'background-color') transparent;
			}
		}
        &.#{class('tooltip', 'left')},
        &.#{class('tooltip', 'right')},
        &.#{class('tooltip', 'top')} {
            &>.#{class('tooltip', 'text')} {
                top: auto;
                 &::after {
                    bottom: auto;
                 }
            }
        }
        &.#{class('tooltip', 'right')} {
            &>.#{class('tooltip', 'text')} {
                left: 110%;
                &::after {
					right       : 100%;
					left        : auto;
					border-color: transparent components('tooltip', 'background-color') transparent transparent;
                }
            }
        }
        &.#{class('tooltip', 'left')} {
            &>.#{class('tooltip', 'text')} {
                right: 110%;
                &::after {
					left        : 100%;
					right       : auto;
					margin      : auto -5px auto auto ;
					border-color: transparent transparent transparent components('tooltip', 'background-color');
                }
            }
        }
        &.#{class('tooltip', 'top')} {
            &>.#{class('tooltip', 'text')} {
                bottom: 120%;
                &::after {
					top         : 100%;
					border-color: components('tooltip', 'background-color') transparent transparent transparent;
                }
            }
        }
		&:hover .#{class('tooltip', 'text')} {
			visibility: visible;
			opacity   : 1;
		}
	}
}