///
/// Punica CSS Framework
/// Module : Navbar
///

@use "../../Core/Global/Getters" as *;
@use "../../Core/Global/Options" as *;
@use "../../Core/Global/Sass" as *;
@use "../../Core/Global/Mixins" as *;
@use "../../Core/Global/Colors" as color;
@use "../../Core/Theme/Getters" as *;
@use "../../Core/Theme/Setters" as *;
@use "mixins";

@if enabled('navbar') {
	.#{class('navbar', 'name')} {
		display        : flex;
		flex-wrap      : wrap;
		align-items    : stretch;
		justify-content: space-between;
		font-family    : module('navbar', 'font-family');
		min-height     : module('navbar', 'min-height');
		background     : module('navbar', 'background-color');
		color          : module('navbar', 'color');
		width          : module('navbar', 'width');
		// grid container
		.#{class('grid', 'container')} {
			display: flex;
			width  : module('grid', 'container', 'width');
		}
		// navbar brand
		.#{class('navbar', 'brand')} {
			display        : flex;
			justify-content: center;
			min-height     : 100%;
			align-items    : center;
			white-space    : nowrap;
			padding        : module('navbar', 'brand', 'padding');
			margin-right   : module('navbar', 'brand', 'margin-right');
			img {
				width: module('navbar', 'brand', 'img', 'width');
			}
			a,
			a:visited {
				display        : flex;
				color          : module('navbar', 'brand', 'href', 'color');
				font-family    : module('navbar', 'brand', 'href', 'font-family');
				font-size      : module('navbar', 'brand', 'href', 'font-size');
				font-weight    : module('navbar', 'brand', 'href', 'font-weight');
				text-decoration: none;
			}
		}
		// navbar burger
		input[type=checkbox]##{class('navbar', 'burger')},
		.#{class('navbar', 'burger')} {
			display: none;
		}
		.#{class('navbar', 'burger')} {
			&::before {
				display   : none;
				position  : absolute;
				cursor    : pointer;
				right     : 0;
				top       : 0;
				content   : module('navbar', 'burger', 'symbol-open');
				font-size : module('navbar', 'burger', 'icon-size');
				min-height: module('navbar', 'min-height');
				max-height: module('navbar', 'min-height');
			}
		}
		// navbar links
		section.#{class('navbar', 'links')} {
			display    : flex;
			flex       : 1 0 0;
			align-items: center;
			// navbar sections
			div.#{class('navbar', 'section')} {
				flex       : 1 0 0;
				display    : flex;
				height     : 100%;
				align-items: center;
				&:not(:first-child):last-child {
					justify-content: flex-end;
				}
				input[type='text'] {
					color           : module('navbar', 'input', 'color');
					background-color: module('navbar', 'input', 'background-color');
					border-color    : module('navbar', 'input', 'border-color');
					border-width    : module('navbar', 'input', 'border-width');
					&::placeholder {
						color: module('navbar', 'input', 'placeholder', 'color');
					}
					&:focus {
						outline: module('navbar', 'input', 'focus', 'outline');
					}
				}
				///
				/// DIVIDED NAVBAR
				///
				@if features('navbar', 'divided') {
					&.#{class('navbar', 'divided')} {
						@include mixins.navbar-divided();
						.#{class('button', 'group')} {
							.#{class('button', 'name')},
							.#{class('button', 'dropdown')} .#{class('button', 'name')} {
								border: solid darken(module('navbar', 'background-color'), 15%);
							}
						}
						@include breakpoints(module('grid', 'breakpoints', 'medium'), 'max-width') {
							.#{class('button', 'group')} {
								.#{class('button', 'name')},
								.#{class('button', 'dropdown')} .#{class('button', 'name')} {
									border: 0 !important;
								}
							}
						}
					}
				}
			}
		}
		&.#{class('navbar', 'fixed')} {
			position  : fixed;
			top       : 0;
			left      : 0;
			right     : 0px;
			margin-top: 0;
			transform : translateY(0px);
			z-index   : 5;
		}
		.#{class('button', 'group')} {
			height    : 100%;
			min-height: 100%;
			box-shadow: none;
			.#{class('button', 'name')},
			.#{class('button', 'dropdown')} .#{class('button', 'name')} {
				font-family  : module('navbar', 'font-family');
				background   : transparent;
				border-color : transparent;
				color        : module('navbar', 'color');
				min-height   : 100%;
				border-radius: 0;
				border       : 0;
				i {
					color: module('navbar', 'button', 'icon', 'color');
				}
				&:hover {
					color           : module('navbar', 'button', 'hover', 'color');
					background-color: module('navbar', 'button', 'hover', 'background-color');
					border-radius   : 0;
				}
				&:active,
				&.#{class('button', 'active')} {
					color           : module('navbar', 'button', 'active', 'color');
					background-color: module('navbar', 'button', 'active', 'background-color');
					transition      : module('button', 'transition');
					&:hover {
						transition: module('button', 'transition');
					}
				}
			}
			// dropdown menu
			.#{class('button', 'dropdown')} > .#{class('menu', 'name')} {
				background-color: module('navbar', 'menu', 'background-color');
				.#{class('menu', 'item')} a {
					color: module('navbar', 'menu', 'item', 'color');
					&:hover {
						color           : module('navbar', 'menu', 'hover', 'color');
						background-color: module('navbar', 'menu', 'hover', 'background-color');
					}
					&:active,
					&.#{class('button', 'active')} {
						color           : module('navbar', 'menu', 'active', 'color');
						background-color: module('navbar', 'menu', 'active', 'background-color');
					}
				}
			}
			.#{class('button', 'dropdown')}:last-child,
			.#{class('button', 'dropdown')}:last-child > .#{class('button', 'name')}:first-child,
			.#{class('button', 'dropdown')}:last-child > .#{class('button', 'name')}:last-child {
				border-radius: 0;
			}
		}
		.#{class('button', 'name')},
		.#{class('button', 'dropdown')} .#{class('button', 'name')} {
			font-size  : module('navbar', 'font-size');
			padding    : module('navbar', 'button', 'padding');
			font-weight: module('navbar', 'font-weight');
		}
		///
		/// GRADIENT
		///
		@if features('navbar', 'gradient') {
			&.#{class('navbar', 'gradient')} {
				background: linear-gradient(
					to top, 
					module('navbar', 'background-color') 0%, 
					lighten(module('navbar', 'background-color'), 11.5%) 2%, 
					darken(module('navbar', 'background-color'), 3%) 97%, 
					lighten(module('navbar', 'background-color'), 11.5%) 100%
				);
			}
			/// Gradient Left-To-Right
			&.#{class('navbar', 'gradient')}#{'-ltr'} {
				background: linear-gradient(135deg, lighten(module('navbar', 'background-color'), 7.5%), module('navbar', 'background-color'));
			}
			/// Gradient Right-To-Left
			&.#{class('navbar', 'gradient')}#{'-rtl'} {
				background: linear-gradient(-135deg, lighten(module('navbar', 'background-color'), 7.5%), module('navbar', 'background-color'));
			}
		}
		/// 
		/// NAVBAR THEMES
		///
		@if features('navbar', 'themes') {
			@each $theme-name, $bg-color, $text-color, $input-bg, $input-color, $input-border-color, $divider-color in module('navbar', 'styles') {
				&.#{$theme-name} {
					@include mixins.navbar-themes($bg-color, $text-color, $input-bg, $input-color, $input-border-color, $divider-color);
				}
			}
		}
		///
		/// NAVBAR SIZES
		///
		@if features('navbar', 'sizes') {
			@each $size-name, $min-height, $font-size, $button-padding in module('navbar', 'sizes') {
				&.#{$size-name} {
					min-height: $min-height;
					& .#{class('button', 'name')},
					& .#{class('button', 'dropdown')} .#{class('button', 'name')} {
						font-size: $font-size;
						padding  : $button-padding;
					}
				}
			}
		}
	}
	//
	@include breakpoints(module('grid', 'breakpoints', 'medium'), 'max-width') {
		.#{class('navbar', 'name')} {
			// grid container
			.#{class('grid', 'container')} {
				padding: 0 div(module('grid', 'container', 'padding'), 2);
			}
			&.#{class('navbar', 'fixed')} {
				position: relative;
			}
			section.#{class('navbar', 'links')} {
				position  : absolute;
				display   : block;
				width     : 100%;
				height    : 0;
				top       : module('navbar', 'min-height');
				left      : 0;
				overflow-x: auto;
				overflow-y: hidden;
				background: theme('color', 'background');
				z-index   : 1;
				margin    : 0 !important;
				padding   : 0 !important;
				box-shadow: theme('shadow');
				.#{class('navbar', 'section')},
				.#{class('navbar', 'section')} .#{class('button', 'group')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('menu', 'name')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('menu', 'name')} .#{class('button', 'name')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('button', 'name')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'name')} {
					display   : block !important;
					width     : 100%;
					text-align: left;
					position  : relative;
				}
				.#{class('navbar', 'section')} {
					padding: 0 !important;
					margin : 0 !important;
					height : auto !important;
					>.#{class('form', 'name')} {
						padding-top   : 10px;
						padding-bottom: 10px;
					}
					>.#{class('button', 'name')} {
						display: flex;
						width  : auto;
					}
				}
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('button', 'name')},
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'name')} {
					color: theme('color', 'text');
					i {
						color         : theme('color', 'text');
						font-size     : module('menu', 'icon', 'font-size') !important;
						vertical-align: module('menu', 'icon', 'vertical-align');
					}
				}
				.#{class('navbar', 'section')} .#{class('button', 'group')} .#{class('button', 'dropdown')} .#{class('menu', 'name')} {
					max-height      : 100%;
					box-shadow      : none;
					padding         : 0 1.563rem;
					background-color: transparent;
				}
			}
			@each $size-name, $min-height, $font-size, $button-padding in module('navbar', 'sizes') {
				&.#{$size-name} > section.#{class('navbar', 'links')} {
					top: $min-height;
				}
			}
			.#{class('navbar', 'burger')} {
				display        : flex;
				align-items    : center;
				justify-content: center;
				margin         : 0;
				&::before {
					content        : module('navbar', 'burger', 'symbol-close');
					padding        : module('navbar', 'burger', 'padding');
					font-size      : module('navbar', 'burger', 'icon-size');
					display        : flex;
					align-items    : center;
					justify-content: center;
					top            : auto;
				}
			}
			input[type=checkbox]##{class('navbar', 'burger')}:not(:checked) ~ section.#{class('navbar', 'links')} {
				height: 0;
			}
			input[type=checkbox]##{class('navbar', 'burger')}:checked ~ section.#{class('navbar', 'links')} {
				height: calc(100vh - module('navbar', 'min-height'));
			}
			///
			/// NAVBAR SIZES
			///
			@if features('navbar', 'sizes') {
				@each $size-name, $min-height, $font-size, $button-padding in module('navbar', 'sizes') {
					&.#{$size-name} {
						& .#{class('navbar', 'burger')},
						& .#{class('navbar', 'burger')}::before {
							min-height: $min-height;
							max-height: $min-height;
						}
						section.#{class('navbar', 'links')} {
							top: $min-height;
						}
						input[type=checkbox]##{class('navbar', 'burger')}:checked ~ section.#{class('navbar', 'links')} {
							height: calc(100vh - $min-height);
						}
					}
				}
			}
			input[type=checkbox]##{class('navbar', 'burger')}:not(:checked) ~ .#{class('navbar', 'burger')}::before {
				content: module('navbar', 'burger', 'symbol-open'); // open
			}
			input[type=checkbox]##{class('navbar', 'burger')}:checked ~ .#{class('navbar', 'burger')}::before {
				content: module('navbar', 'burger', 'symbol-close'); // close
			}
		}
	}
}