///
/// Punica CSS Framework
/// [Core/Global/Colors.scss]
/// Secondary Color Variables/Mixes
/// 

@use "sass:color" as color;
@use "../Theme/Getters" as *;

// Grey
$grey       : color.mix(theme('color', 'text'), theme('color', 'background'), 14.5%);
$dark-grey  : color.mix(theme('color', 'text'), theme('color', 'background'), 9.5%);
$darken-grey: color.mix(theme('color', 'text'), theme('color', 'background'), 4.5%);
//
$sharp-grey  : color.mix(theme('color', 'text'), theme('color', 'dark'), 24.5%);
$sharpen-grey: color.mix(theme('color', 'text'), theme('color', 'dark'), 45%);