/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : BADGE
/////////////////////////////////////////////////////////
///
/// if badge is enable
///
@if $components-badge {
	.#{$badge-name} {
		@include set-style(theme('background-color'), theme('text-color')) {
			position: relative;
			white-space: nowrap;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-weight: theme('header-weight');
			border-radius: 500px;
		};
		@include set-size(.854rem, 1px 6px);
		///
		/// STYLES
		///
		@if $components-badge-styles {
			@each $name, $bg-color in $badge-styles {
				@include set-style($bg-color, theme('color-negative'), $name);
			}
		}
		///
		/// SIZES
		///
		@if ($components-badge-sizes) {
			@each $size-name, $font-size, $padding in $badge-sizes {
				@include set-size($font-size, $padding, $size-name);
			}
		}
	}
}