/***************************************************** 
PUNICA CSS > COMPONENTS : BADGE > VARIABLES **********/

/* 
NAMING ***********************************************/
$badge-name 			: 'badge';

$badge-bg				: $primary-color;
$badge-color			: $main-invert-color;
$badge-font-size		: 1em;
$badge-font-weight		: 700;
$badge-border-radius	: 500px;
$badge-padding-y		: 2px;
$badge-padding-x		: 8px;