///
/// Punica CSS Framework
/// Core/Theme/Getters.scss
/// 

@use "sass:map" as map;

/// ======================================================
	$theme-map: null !default;
/// ======================================================

///
/// Get active theme's value by key(s) from the theme map
///
/// @param {String} $node
/// @param {String} $key
/// @param {String} $child
/// @param {String} $sub
///
/// @example theme('name')
/// @example theme('color', 'primary')
/// @example theme('elements', 'button', 'font-weight')
///
/// @return mixed
/// 
@function theme($node, $key: null, $child: null, $sub: null) 
{
	$value: if(map.has-key($theme-map, $node), map.get($theme-map, $node), null);

	@if ($value != null) and $key {
		$value: if(map.has-key($value, $key), map.get($value, $key), null);

		@if ($value != null) and $child {
			$value: if(map.has-key($value, $child), map.get($value, $child), null);

			@if ($value != null) and $sub {
				$value: if(map.has-key($value, $sub), map.get($value, $sub), null);
			}
		}
	}

	@return $value;
}
