/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : MENU > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the menu component from here.
///
$menu-name 			: 'menu';
$menu-small 		: 'small';
$menu-title 		: 'title';
$menu-item 			: 'item';
$menu-item-active	: 'active';
$menu-badge			: 'badge';
$menu-secondary		: 'secondary';
$menu-divided		: 'divided';
$menu-disabled		: 'disabled';