/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : MENU
/////////////////////////////////////////////////////////
///
/// if menu is enable
///
@if options('menu', 'enable') {
	.#{class('menu', 'name')} {
		background-color: if(theme('components', 'menu', 'background'), theme('components', 'menu', 'background'), lighten(theme('color', 'background'), 2.5%));
		border-radius: variables('menu', 'border-radius');
		list-style: none;
		margin: variables('menu', 'margin');
		width: variables('menu', 'width');
		min-width: max-content;
		padding: variables('menu', 'padding');
		@include shadow();
		z-index: 300;
		// menu title
		.#{class('menu', 'title')} {
			font-size: variables('menu', 'title', 'font-size');
			min-height: variables('menu', 'title', 'min-height');
			color: theme('color', 'text');
			padding: variables('menu', 'title', 'padding');
			font-weight: theme('typography', 'header-weight');
			letter-spacing: variables('menu', 'title', 'letter-spacing');
		}
		// menu item
		.#{class('menu', 'item')} {
			padding: 0; // default container
			position: relative;
			text-decoration: none;
		    text-align: variables('menu', 'item', 'text-align');
			& > a {
				color: theme('color', 'text');
				display: block;
				width: variables('menu', 'item', 'width');
				padding: variables('menu', 'item', 'padding');
				text-decoration: none;
				font-size: variables('menu', 'item', 'font-size');
				font-weight: theme('typography', 'font-weight');
				transition: variables('menu', 'item', 'transition');
				&:hover {
					background: theme('color', 'secondary');
					color: theme('color', 'text');
					transition: variables('menu', 'item', 'transition');
				}
				&:active,
				&:focus,
				&.#{class('menu', 'active')} {
					background: theme('color', 'secondary');
					color: theme('color', 'text');
					transition: variables('menu', 'item', 'transition');
				}
			}
			i, span.#{class('icon', 'class-name')} {
				color: theme('color', 'grey');
				font-size: variables('menu', 'icon', 'font-size');
				margin-right: variables('menu', 'icon', 'margin-right');
				vertical-align: variables('menu', 'icon', 'vertical-align');
			}
			.#{class('menu', 'name')} {
				padding: variables('menu', 'item', 'sub-padding');
			}
		}
		// menu badge
		.#{class('menu', 'badge')} {
			position: absolute;
			right: variables('menu', 'badge', 'right');
			top: variables('menu', 'badge', 'top');
			padding: variables('menu', 'badge', 'padding');
			font-size: variables('menu', 'badge', 'font-size');
		}
		// small menu
		&.#{class('menu', 'small')} > .#{class('menu', 'item')} a {
			font-size: variables('menu', 'item', 'small-size');
		}
		// divided menu
		&.#{class('menu', 'divided')} {
			.#{class('menu', 'item')} {
				border-bottom: set-border();
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}
