/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : MENU
/////////////////////////////////////////////////////////
///
/// if menu is enable
///
@if $components-menu {
	.#{$menu-name} {
		background-color: theme('background-color');
		border-radius: 0;
		list-style: none;
		margin: 0;
		width: 100%;
		min-width: max-content;
		padding: .9rem;
		@include shadow();
		z-index: 300;
		// menu title
		.#{$menu-title} {
			font-size: 1.25em;
			min-height: 2rem;
			color: theme('text-color');
			padding: .6rem 0;
			font-weight: 700;
			letter-spacing: -.015rem;
		}
		// menu item
		.#{$menu-item} {
			padding: 0;
			position: relative;
			text-decoration: none;
		    text-align: left;
			& > a {
				color: theme('text-color');
				display: block;
				width: 100%;
				padding: .28rem .9rem;
				text-decoration: none;
				font-size: 1em;
				font-weight: 600;
				transition: background .15s, color .15s;
				&:hover {
					background: theme('color-secondary');
					color: theme('text-color');
					transition: background .15s, color .15s;
				}
				&:active,
				&:focus,
				&.#{$menu-item-active} {
					//background: darken(theme('background-color'), 11%);
					background: theme('color-secondary');
					color: theme('text-color');
					transition: background .15s, color .15s;
				}
			}
			i, span.#{$icon-font-class-name} {
				color: theme('color-grey');
				font-size: 1.2rem;
				margin-right: 10px;
				vertical-align: text-bottom;
			}
			.#{$menu-name} {
				padding: .4rem;
			}
		}
		// menu badge
		.#{$menu-badge} {
			position: absolute;
			right: 0;
			top: 4px;
			padding: 0 4px;
			font-size: .93em;
		}
		// small menu
		&.#{$menu-small} > .#{$menu-item} a {
			font-size: .879em;
		}
		// divided menu
		&.#{$menu-divided} {
			.#{$menu-item} {
				border-bottom: theme('border-width') theme('border-style') theme('color-active');
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}
