/*****************************************************
PUNICA CSS > COMPONENTS : MENU ***********************/

// if menu is enable
@if $components-menu {
	.#{$menu-name} {
		background: $menu-bg;
		border-radius: $menu-border-radius;
		list-style: none;
		margin: 0;
		width: 100%;
		min-width: $menu-min-width;
		padding: $menu-padding;
		@include shadow(0, 7px, 10px, rgba(0, 0, 0, 0.15));
		z-index: $menu-z-index;
		.#{$menu-title} {
			font-size: $menu-title-font-size;
			min-height: $menu-title-min-height;
			color: $menu-title-color;
			padding: $menu-title-padding;
			font-weight: $menu-title-font-weight;
			letter-spacing: $menu-title-spacing;
		}
		.#{$menu-item} {
			padding: 0;
			position: relative;
			text-decoration: none;
		    text-align: left;
			& > a {
				color: $menu-item-color;
				display: block;
				width: 100%;
				padding: $menu-item-padding;
				text-decoration: none;
				font-size: $menu-font-size;
				transition: background .15s, color .15s;
				&:hover {
					background: $menu-item-hover-bg;
					color: darken($menu-item-color, 22%);
					transition: background .15s, color .15s;
				}
				&:active,
				&:focus,
				&.#{$menu-item-active} {
					background: $menu-item-hover-bg;
					color: $menu-item-color;
					font-weight: 700;
					transition: background .15s, color .15s;
				}
				&:focus {
					font-weight: inherit;
				}
			}
			& + .#{$menu-item} {
				//margin-top: .2rem;
				//margin-bottom: .3rem;
			}
			i,
			span.material-icons {
				color: $menu-item-icon-color;
				font-size: $menu-item-icon-size;
				margin-right: $menu-item-icon-mr;
				vertical-align: $menu-item-icon-va;
			}
			.#{$menu-name} {
				padding: $menu-padding-nested;
			}
		}
		.#{$menu-badge} {
			position: absolute;
			right: 0;
			top: 4px;
			padding: 0 4px;
			font-size: .93em;
		}
		&.#{$menu-small} > .#{$menu-item} a {
			font-size: $menu-small-font-size;
		}
		&.#{$menu-divided} {
			.#{$menu-item} {
				border-bottom: $main-border-width $main-border-style $menu-divided-color;
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}
