/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : MENU > VARIABLES
/////////////////////////////////////////////////////////

/// CLASS NAMING ========================================
$menu-name 					: 'menu';
$menu-small 				: 'small';
$menu-title 				: 'title';
$menu-item 					: 'item';
$menu-item-active			: 'active';
$menu-badge					: 'badge';
$menu-secondary				: 'secondary';
$menu-divided				: 'divided';
