/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : MENU > VARIABLES
/////////////////////////////////////////////////////////

/// CLASS NAMING ========================================
$menu-name 					: 'menu';
$menu-small 				: 'small';
$menu-title 				: 'title';
$menu-item 					: 'item';
$menu-item-active			: 'active';
$menu-badge					: 'badge';
$menu-secondary				: 'secondary';
$menu-divided				: 'divided';

/// PREFERENCES =========================================
$menu-bg					: theme('component-bg');
$menu-linear-bg				: theme('component-bg-linear');
$menu-font-size				: 1em;
$menu-small-font-size		: .879em;
$menu-border-radius			: 0;
$menu-min-width				: max-content;
$menu-padding 				: .9rem;
$menu-padding-nested		: .4rem;
$menu-z-index				: 300;
/* Title */
$menu-title-font-size		: 1.25em;
$menu-title-min-height		: 2rem;
$menu-title-color			: theme('text-color');
$menu-title-font-weight		: 700;
$menu-title-padding			: .6rem 0;
$menu-title-spacing			: -.015rem;
/* Menu Item */
$menu-item-padding			: .28rem $menu-padding;
$menu-item-color			: theme('text-color');
$menu-item-hover-bg			: darken($menu-bg, 6%);
/* Menu Item Icon */
$menu-item-icon-color		: theme('color-grey');
$menu-item-icon-size		: 1.2rem;
$menu-item-icon-mr			: 10px; // margin-right
$menu-item-icon-va			: text-bottom; // vertical-align
