/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : TABLE > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the table element from here.
///
$table-class			: 'table';
$table-class-striped	: 'striped';
$table-class-hovered	: 'hovered';
$table-class-active		: 'active';