/***************************************************** 
PUNICA CSS > ELEMENTS : TABLE ************************/
//
// if table is enable
//
@if $elements-table {
	.#{$table-class} {
		position: relative;
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		max-width: 100%;
		text-align: left;
		overflow: hidden;
		flex: 1;
		margin-bottom: 1.5rem;
		//
		// STRIPED
		//
		@if $elements-table-striped {
			&.#{$table-class-striped} {
				tr,
				tbody tr {
					&.#{$table-class-active} {
						background: $main-striped-bg;
					}
					&:nth-of-type(odd) {
						background: $main-striped-bg;
					}
				}
				thead tr {
					background: $table-thead-bg !important;
				}
			}
		}
		// 
		// HOVERED
		//
		@if $elements-table-hovered {
			&.#{$table-class-hovered} {
				tr,
				tbody tr {
					&:hover {
						background: $main-hovered-bg;
						color: $main-font-color;
					}
				}
				thead tr {
					background: $table-thead-bg !important;
				}
			}
		}
		tr,
		tbody tr {
			transition: all 0.3s;
			&.#{$table-class-active},
			&.#{$table-class-active}:hover {
				background: $main-secondary-bg;
			}
		}
		td,
		th {
			border-bottom: $table-bottom-border-width solid $table-border-color;
			padding: $table-padding-y $table-padding-x;
			text-align: inherit;
		}
		thead tr {
			background: $table-thead-bg;
			th {
				border-bottom-width: $table-bottom-border-width;
				border-bottom-color: $main-border-color;
				font-weight: $table-th-weight;
				color: $table-th-color;
			}
		}
	}
}