/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : TABLE
/////////////////////////////////////////////////////////
///
/// if table is enable
///
@if $elements-table {
	.#{$table-class} {
		position: relative;
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		max-width: 100%;
		text-align: left;
		margin-bottom: 1.5rem;
		caption {
			text-align: inherit;
			color: theme('text-color');
			font-size: 1rem;
			font-weight: bold;
			padding: $table-heading-padding;
			border-bottom: theme('border-width') theme('border-style') theme('text-color');
		}
		///
		/// STRIPED
		///
		@if $elements-table-striped {
			&.#{$table-class-striped} {
				tr,
				tbody tr {
					&.#{$table-class-active} {
						background: theme('color-secondary');
					}
					&:nth-of-type(odd) {
						background: theme('color-secondary');
					}
				}
			}
		}
		/// 
		/// HOVERED
		///
		@if $elements-table-hovered {
			&.#{$table-class-hovered} {
				tr,
				tbody tr {
					&:hover {
						background: theme('color-secondary');
						color: theme('text-color');
					}
				}
			}
		}
		tr,
		tbody tr {
			transition: all 0.3s;
			&.#{$table-class-active},
			&.#{$table-class-active}:hover {
				background: theme('color-secondary');
			}
		}
		td,
		th {
			border-bottom: theme('border-width') theme('border-style') theme('color-secondary');
			padding: $table-inline-padding;
			text-align: inherit;
		}
		thead tr {
			background: transparent !important;
			th {
				border-bottom-color: theme('border-color');
				font-weight: 400;
				color: theme('color-grey');
				padding: $table-heading-padding;
			}
		}
	}
}