/***************************************************** 
PUNICA CSS > ELEMENTS : TABLE > VARIABLES ************/

/*****************************************************
CLASS NAMING *****************************************/
$table-class					: 'table';
$table-class-striped			: 'striped';
$table-class-hovered			: 'hovered';
$table-class-active				: 'active';

/*****************************************************
STYLES ***********************************************/
$table-border-color				: #dedede;
$table-thead-bg					: transparent;
$table-th-color					: #9d9d9d;
$table-th-weight				: 400;

/***************************************************** 
PREFERENCES ******************************************/
$table-bottom-border-width		: 1px;
$table-padding-y				: 5px;
$table-padding-x				: 7px;