/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : TABLE > VARIABLES
/////////////////////////////////////////////////////////

/// CLASS NAMING ========================================
$table-class			: 'table';
$table-class-striped	: 'striped';
$table-class-hovered	: 'hovered';
$table-class-active		: 'active';