/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : TABLE > VARIABLES
/////////////////////////////////////////////////////////

/// CLASS NAMING ========================================
$table-class			: 'table';
$table-class-striped	: 'striped';
$table-class-hovered	: 'hovered';
$table-class-active		: 'active';

/// PREFERENCES =========================================
$table-heading-padding	: .7rem;
$table-inline-padding	: 5px .7rem;