///
/// Punica CSS Framework
/// Components : Label
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Options" as *;
@use "../../../Core/Theme/Getters" as *;
@use "../../../Core/Theme/Setters" as *;

@if enabled('elements', 'label') {
	a.#{class('label', 'name')},
	.#{class('label', 'name')} {
		@include set-style(theme('color', 'background'), theme('color', 'text')) {
			display: inline-block;
			font-weight: elements('label', 'font-weight');
			line-height: elements('label', 'line-height');
			margin: elements('label', 'margin');
			border-radius: elements('label', 'border-radius');
			text-decoration: elements('label', 'text-decoration');
			@include border();
			@include shadow(0, .155em, 0, rgba(0, 0, 0, 0.095));
			border-color: elements('label', 'border-color');
			@include set-size(elements('label', 'font-size'), elements('label', 'padding'));
			>i {
				vertical-align: text-top;
			}
		};
		///
		/// STYLES
		///
		@if features('elements', 'label', 'styles') {
			@each $style-name, $bg-color in components('label', 'styles') {
				@include set-style($bg-color, white, $style-name) {
					border-color: darken($bg-color, 3%);
				};
			}
		}
		///
		/// SIZES
		///
		@if features('elements', 'label', 'sizes') {
			@each $size-name, $padding, $font-size in components('label', 'sizes') {
				@include set-size($font-size, $padding, $size-name);
			}
		}
	}
}