/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : PROCESS > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the process component from here.
///
$process-name				: 'process';
$process-item				: 'item';
$process-active				: 'active';
/* Vertical */
$process-vertical			: 'vertical';
$process-vertical-reversed	: 'reversed';