/******************************************************** 
PUNICA CSS > COMPONENTS : PROCESS > MIXINS **************/
@mixin process-styles($color: $primary-color) {
	.#{$process-item} {
		&:not(:first-child)::before {
			background: $color;
		}
		a {
			padding: 10px;
			&::before {
				background: $color;
			}
		}
		&.#{$process-active} {
			a {
				color: $color;
				&::after {
					color: $color;
				}
			}
			&~.#{$process-item} {
				&::before {
					background: $main-border-color;
				}
			}
		}
	}
}
@mixin process-vertical() {
	display: flex;
	padding: $timeline-padding;
	margin: $process-vertical-margin;
	flex-direction: column;
	align-items: flex-start;
	.#{$process-item} {
		justify-content: flex-start;
		align-items: center;
		max-width: 100%;
		min-width: 100%;
		border-bottom: $main-border-width $main-border-style $main-border-color;
		border-right: $main-border-width $main-border-style $main-border-color;
		padding-left: 20px;
		&:first-child {
			border-top: $main-border-width $main-border-style $main-border-color;
		}
		&:not(:first-child)::before {
			width: $process-stage-stick-width;
			height: 100%;
			left: 0;
		}
		a {
			&::before {
				width: $process-vertical-stick-width;
			}
			&:first-child::before {
				left: 0;
				height: 100%;
			}
		}
		&.#{$process-active} {
			a {
				font-weight: bold;
				&::after {
					top: 15px;
					left: calc(-15px - #{$process-current-icon-size});
				}
			}
		}
	}
	&.#{$process-vertical-reversed} {
		flex-direction: column-reverse;
		.#{$process-item} {
			&:last-child {
				border-top: $main-border-width $main-border-style $main-border-color;
			}
			&:first-child {
				border-top: none;
			}
		}
	}
}