/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : PROCESS
/////////////////////////////////////////////////////////
@import "mixins";
///
/// if process is enable
///
@if $components-process {
	.#{$process-name} {
		display: flex;
		flex-wrap: nowrap;
		margin: $process-margin;
		width: 100%;
		list-style: none;
		.#{$process-item} {
			flex: 1 1 0;
			min-height: $process-item-min-height;
			position: relative;
			align-items: center;
			justify-content: center;
			display: flex;
			word-break: break-word;
			line-height: 1.3;
			text-align: center;
			&:not(:first-child)::before {
				background: theme('primary-color');
				content: "";
				height: $process-stick-height;
				left: -50%;
				position: absolute;
				top: 0;
				width: 100%;
			}
			a {
				color: theme('text-color');
				display: inline-block;
				padding: 10px 10px 0;
				text-decoration: none;
				font-weight: theme('header-weight');
				&::before {
					position: absolute;
					content: "";
					background: theme('primary-color');
					top: 0;
					left: 50%;
					height: $process-stage-stick-height;
					width: $process-stage-stick-width;
					z-index: 1;
				}
				&:first-child::before {
					left: calc(50% - (#{$process-stage-stick-width} - 1px));
				}
			}
			&.#{$process-active} {
				a {
					color: theme('primary-color');
					font-weight: theme('header-weight');
					&::after {
						content: "#{$icon-process-current}"; // [*]
						font-family: "#{$icon-font-name}"; // [*]
						position: absolute;
						top: calc(-15px - #{$process-current-icon-size});
						left: calc(50% - ((#{$process-stage-stick-width} * 10) / 2));
						color: theme('primary-color');
						font-size: $process-current-icon-size;
					}
				}
				&~.#{$process-item} {
					&::before {
						background: theme('border-color');
					}
					a {
						color: theme('text-color');
						&:hover {
							color: theme('primary-color');
						}
						&::before {
							background: theme('border-color');
						}
					}
				}
			}
		}
		///
		/// STYLES
		///
		@if $components-process-styles {
			@each $type, $bg-color in $process-styles {
				&.#{$type} {
					@include process-styles($bg-color);
				}
			}
		}
		///
		/// VERTICAL PROCESS
		///
		@if $components-process-vertical {
			&.#{$process-vertical} {
				@include process-vertical();
			}
		}

		// vertical style is setted as "true" for mobile devices
		@include breakpoints($breakpoints-medium, 'max-width') {
			@include process-vertical();
		}
	}
}
/*
REFERENCES ******************************************
[*] Defined at Elements -> Icon -> variables.scss
https://material.io/resources/icons/
*****************************************************/