/***************************************************** 
PUNICA CSS > COMPONENTS : CARD ***********************/
@import "mixins";

// if process is enable
@if $components-process {
	.#{$process-name} {
		display: flex;
		flex-wrap: nowrap;
		margin: $process-margin;
		width: 100%;
		list-style: none;
		.#{$process-item} {
			flex: 1 1 auto;
			min-height: $process-item-min-height;
			position: relative;
			align-items: center;
			justify-content: center;
			display: flex;
			max-width: $process-item-min-width;
			min-width: $process-item-min-width;
			word-break: break-word;
			line-height: 1.3;
			text-align: center;
			&:not(:first-child)::before {
				background: $primary-color;
				content: "";
				height: $process-stick-height;
				left: -50%;
				position: absolute;
				top: 0;
				width: 100%;
			}
			a {
				color: $main-font-color;
				display: inline-block;
				padding: 10px 10px 0;
				text-decoration: none;
				font-weight: 700;
				&::before {
					position: absolute;
					content: "";
					background: $primary-color;
					top: 0;
					left: 50%;
					height: $process-stage-stick-height;
					width: $process-stage-stick-width;
					z-index: 1;
				}
				&:first-child::before {
					left: calc(50% - (#{$process-stage-stick-width} - 1px));
				}
			}
			&.#{$process-active} {
				a {
					color: $primary-color;
					font-weight: 700;
					&::after {
						content: "beenhere";
						font-family: "Material Icons";
						position: absolute;
						top: calc(-15px - #{$process-current-icon-size});
						left: calc(50% - ((#{$process-stage-stick-width} * 10) / 2));
						color: $primary-color;
						font-size: $process-current-icon-size;
					}
				}
				&~.#{$process-item} {
					&::before {
						background: $main-border-color;
					}
					a {
						color: $main-grey-color;
						&:hover {
							color: darken($main-grey-color, 45%);
						}
						&::before {
							background: $main-border-color;
						}
					}
				}
			}
		}
		@each $type, $bg-color in $process-styles {
			&.#{$type} {
				@include process-styles($bg-color);
			}
		}
		&.#{$process-vertical} {
			@include process-vertical();
		}
		@include breakpoints($breakpoints-medium, 'max-width') {
			@include process-vertical();
		}
	}
}