/***************************************************** 
PUNICA CSS > COMPONENTS : PROCESS > VARIABLES ********/

/***************************************************** 
CLASS NAMING *****************************************/
$process-name					: 'process';
$process-item					: 'item';
$process-active					: 'active';
/* Vertical */
$process-vertical				: 'vertical';
$process-vertical-reversed		: 'reversed';

/***************************************************** 
STYLES ***********************************************/
$process-styles	: (
	"success": $success-color,
	"warning": $warning-color,
	"error": $error-color,
	"dark": $main-dark-color,
);

/***************************************************** 
PREFERENCES ******************************************/
$process-margin					: 1em 0 5em;
$process-item-min-height		: 4rem;
$process-stick-height			: 6px;
$process-stage-stick-width		: 3px;
$process-stage-stick-height		: .8rem;
$process-current-icon-size		: 1.8rem;
/* Vertical */
$process-vertical-margin		: 1em 0;
$process-vertical-stick-width	: 9px;
