/***************************************************** 
PUNICA CSS > COMPONENTS : PROCESS > VARIABLES ********/

/* 
NAMING ***********************************************/
$process-name		: 'process';
$process-item		: 'item';
$process-active		: 'active';