/// 
/// Backdrop Filter
/// 
/// The backdrop-filter property is used to apply 
/// a graphical effect to the area behind an element.
/// 
$backdrop-blur-ranges: (
	// (values, suffixes)
	(4px,4)(7px,7)(10px,10)(12px,12)(16px,16)(20px,20)
);
$backdrop-blur: (
	// class name (prefix), filter function
	("backdrop-blur-", "blur"),
);
$backdrop-filter-ranges: (
	// (values, suffixes)
	(0,0)(.25,25)(.5,50)(.75,75)(1,100)(1.25,125)(1.5,150)(1.75,175)(2,200)
);
$backdrop-filters: (
	// class name (prefix), filter function
	("backdrop-brightness-", "brightness"),
	("backdrop-contrast-", "contrast"),
	//("backdrop-shadow-", "drop-shadow"),
	("backdrop-grayscale-", "grayscale"),
	//("backdrop-hue-", "hue-rotate"),
	("backdrop-invert-", "invert"),
	("backdrop-opacity-", "opacity"),
	("backdrop-saturate-", "saturate"),
	("backdrop-sepia-", "sepia"),
);