///
/// Punica CSS Framework
/// Components : Billboard
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Options" as *;
@use "../../../Core/Global/Mixins" as *;
@use "../../../Core/Theme/Getters" as *;
@use "../../../Core/Theme/Setters" as *;

@if enabled('components', 'billboard') {
	.#{class('billboard', 'name')} {
		@include set-style(theme('color', 'background'), theme('color', 'text')) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: components('billboard', 'padding');
			border-color: components('billboard', 'border-color');
			@include border();
		};
		///
		/// STYLES
		///
		@if features('components', 'billboard', 'styles') {
			@each $style-name, $bg-color in components('billboard', 'styles') {
				@include set-style($bg-color, white, $style-name) {
					border-color: darken($bg-color, 4.5%);
				};
			}
		}
		///
		/// SIZES
		///
		@if features('components', 'billboard', 'sizes') {
			@each $size-name, $padding, $font-size in components('billboard', 'sizes') {
				@include set-size($font-size, $padding, $size-name) {
					.#{class('billboard', 'body')} {
						padding: $padding;
					}
					p {
						font-size: $font-size;
					}
				};
			}
		}
		.#{class('billboard', 'media')} {
			flex: 0 0 auto;
		}
		.#{class('billboard', 'body')} {
			padding: components('billboard', 'body', 'padding');
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		///
	    /// COVER
	    ///
	    @if features('components', 'billboard', 'cover') {
			&.#{class('billboard', 'cover')} {
				min-height: 100vh;
				max-height: 100%;
				min-width: 100%;
				border: 0;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
    }
	///
	///
	///
	@include breakpoints(components('grid', 'breakpoints', 'medium'), 'max-width') {
		.#{class('billboard', 'name')} {
			padding: 2.5rem 1rem;
			flex-direction: column;
			.#{class('billboard', 'media')} {
				img {
					width: 100%;
				}
			}
			.#{class('billboard', 'body')} {
				padding: 2.5rem 1rem;
			}
			///
			/// SIZES
			///
			@if features('components', 'billboard', 'sizes') {
				@each $size, $padding, $font-size in components('billboard', 'responsive-sizes') {
					&.#{$size} {
						padding: $padding;
						.#{class('billboard', 'body')} {
							padding: $padding;
						}
						p {
							font-size: $font-size;
						}
					}
				}
			}
		}
	}
}