///
/// Punica CSS Framework
/// Components : Billboard -> Variables
///

@use "../../../Core/Theme/Getters" as *;

/// STYLES ==============================================
$styles: (
	// style name (class), theme variable
	"primary"	: theme('color', 'primary'),
	"success"	: theme('color', 'success'),
	"warning"	: theme('color', 'warning'),
	"error"		: theme('color', 'error'),
	"dark"		: theme('color', 'dark'),
);

/// SIZES ===============================================
$sizes: (
	(
		"small", // size name (class)
		2.5rem 1.5rem, // padding
		1em // font-size
	),
	(
		"large", // size name (class)
		7.5rem 4rem, // padding
		1.6em // font-size
	)
);
$responsive-sizes: ( 
	(
		"small", // size name (class)
		1rem, // padding
		1em // font-size
	),
	(
		"large", // size name (class)
		1rem, // padding
		1.358em // font-size
	)
);