/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : LIST > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the list component from here.
///
$list-name		: 'list';
$list-item		: 'item';
$list-body		: 'body';
$list-title		: 'title';
$list-active	: 'active';
$list-subtitle	: 'subtitle';
$list-actions	: 'actions';
$list-bordered	: 'divided';
$list-hovered	: 'hovered';
$list-striped	: 'striped';