/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : LIST
/////////////////////////////////////////////////////////
///
/// if list is enable
///
@if $components-list {
	.#{$list-name} {
		list-style: none;
		margin: 1rem 0;
		>.#{$list-item} {
		    display: flex;
		    align-items: center;
		    padding: .55em;
		    margin: 0;
		    transition: .15s;
		    >img,
		    >.#{$icon-font-class-name},
		    >i {
		    	margin-right: 1rem;
		    }
		    &>span,
		    &>div {
		    	/// ..children of a flex container are
		    	/// forced to have a block-flavored display type.
		    	display: contents;
		    }
		    >.#{$list-body} {
		    	flex: 1;
		    	line-height: 1.4;
		    	text-align: left;
		    	display: initial;
		    	>.#{$list-title},
		    	>.#{$list-subtitle} {
					display: block;
				}
		    	>.#{$list-title} {
		    		font-size: 1.28rem;
    				font-weight: $main-title-weight;
					line-height: 1;
		    	}
				>.#{$list-subtitle} {
					font-size: .889em;
					font-weight: 400;
					color: theme('primary-color');
					margin-bottom: 7px;
				}
		    }
		    >.#{$list-actions} {
	    		margin-left: auto;
    		    width: auto;
    		    margin-left: 1rem;
			}
			&.#{$list-active} {
				background: darken(theme('background-color'), 11%);
			}
		}
		///
		/// DIVIDED
		///
		@if $components-list-divided {
			&.#{$list-bordered} {
				>.#{$list-item} {
					border-bottom: set-border();
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
		///
		/// STRIPED
		///
		@if $components-list-striped {
			&.#{$list-striped} {
				>.#{$list-item} {
					&:nth-of-type(odd) {
						background: theme('color-secondary');
					}
				}
			}
		}
		///
		/// HOVERED
		///
		@if $components-list-hovered {
			&.#{$list-hovered} {
				>.#{$list-item} {
					&:hover {
						background: theme('color-secondary');
						transition: .15s;
					}
				}
			}
		}
	}
}
