/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : LIST
/////////////////////////////////////////////////////////
///
/// if list is enable
///
@if options('components', 'list', 'enable') {
	.#{class('list', 'name')} {
		list-style: none;
		margin: 1rem 0;
		>.#{class('list', 'item')} {
		    display: flex;
		    align-items: center;
		    padding: .55em;
		    margin: 0;
		    transition: .15s;
		    >img,
		    >.#{class('icon', 'class-name')},
		    >i {
		    	margin-right: 1rem;
		    }
		    &>span,
		    &>div {
		    	/// ..children of a flex container are
		    	/// forced to have a block-flavored display type.
		    	display: contents;
		    }
		    >.#{class('list', 'body')} {
		    	flex: 1;
		    	line-height: 1.4;
		    	text-align: left;
		    	display: initial;
		    	>.#{class('list', 'title')},
		    	>.#{class('list', 'subtitle')} {
					display: block;
				}
		    	>.#{class('list', 'title')} {
		    		font-size: 1.28rem;
    				font-weight: theme('typography', 'header-weight');
					line-height: 1;
		    	}
				>.#{class('list', 'subtitle')} {
					font-size: .889em;
					font-weight: theme('typography', 'font-weight');
					color: theme('color', 'primary');
					margin-bottom: 7px;
				}
		    }
		    >.#{class('list', 'actions')} {
	    		margin-left: auto;
    		    width: auto;
    		    margin-left: 1rem;
			}
			&.#{class('list', 'active')} {
				background: darken(theme('color', 'background'), 11%);
			}
		}
		///
		/// DIVIDED
		///
		@if options('components', 'list', 'features', 'divided') {
			&.#{class('list', 'divided')} {
				>.#{class('list', 'item')} {
					border-bottom: set-border();
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
		///
		/// STRIPED
		///
		@if options('components', 'list', 'features', 'striped') {
			&.#{class('list', 'striped')} {
				>.#{class('list', 'item')} {
					&:nth-of-type(odd) {
						background: theme('color', 'secondary');
					}
				}
			}
		}
		///
		/// HOVERED
		///
		@if options('components', 'list', 'features', 'hovered') {
			&.#{class('list', 'hovered')} {
				>.#{class('list', 'item')} {
					&:hover {
						background: theme('color', 'secondary');
						transition: .15s;
					}
				}
			}
		}
	}
}
