/***************************************************** 
PUNICA CSS > COMPONENTS : LIST > VARIABLES ***********/

/*****************************************************
CLASS NAMING *****************************************/
$list-name				: 'list';
$list-item				: 'item';
$list-body				: 'body';
$list-title				: 'title';
$list-actions			: 'actions';
$list-bordered			: 'bordered';
$list-hovered			: 'hovered';
$list-striped			: 'striped';

/***************************************************** 
PREFERENCES ******************************************/
$list-margin-spacer		: 1rem;
$list-body-line-height	: 1.4;
$list-title-size		: 1.28rem;
$list-item-padding		: .55em;
$list-media-width		: 70px;