///
/// Punica CSS Framework
/// Components : Breadcrumb
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Options" as *;
@use "../../../Core/Global/Mixins" as *;
@use "../../../Core/Theme/Getters" as *;
@use "../../../Core/Theme/Setters" as *;

@if enabled('components', 'breadcrumb') {
	.#{class('breadcrumb', 'name')} {
		display    : inline-block;
		white-space: nowrap;
		a.#{class('breadcrumb', 'item')},
		.#{class('breadcrumb', 'item')} {
			text-decoration: components('breadcrumb', 'text-decoration');
			color          : components('breadcrumb', 'color');
			font-size      : components('breadcrumb', 'font-size');
			font-weight    : components('breadcrumb', 'font-weight');
			&:focus,&:hover,&:active,&.active {
				color: theme('color', 'primary');
			}
			// seperator
			&::after {
				content  : components('breadcrumb', 'seperator', 'content');
				color    : components('breadcrumb', 'seperator', 'color');
				font-size: components('breadcrumb', 'seperator', 'font-size');
				cursor   : components('breadcrumb', 'seperator', 'cursor');
				padding  : components('breadcrumb', 'seperator', 'padding');
			}
			&:first-child {
				margin-left: 0;
			}
			&.#{class('breadcrumb', 'active')} {
				color      : components('breadcrumb', 'active', 'color');
				font-weight: components('breadcrumb', 'active', 'font-weight');
				&::after {
					content: none;
				}
			}
		}
		///
		/// SIZES
		///
		@if features('components', 'breadcrumb', 'sizes') {
			@each $size, $font-size, $seperator-padding, $seperator-size, $valign in components('breadcrumb', 'sizes') {
				&.#{$size} {
					.#{class('breadcrumb', 'item')} {
						font-size: $font-size;
						&::after {
							padding       : $seperator-padding;
							vertical-align: $valign;
							font-size     : $seperator-size;
						}
					}
				}
			}
		}
	}
	///
	///
	///
	@include breakpoints(elements('grid', 'breakpoints', 'medium'), 'max-width') {
		.#{class('breadcrumb', 'name')} {
			.#{class('breadcrumb', 'item')} {
				&:after {
					font-size     : components('breadcrumb', 'responsive', 'font-size');
					vertical-align: components('breadcrumb', 'responsive', 'vertical-align');
				}
			}
		}
	}
}
