///
/// Punica CSS Framework
/// Elements : Typography
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Mixins" as *;
@use "../../../Core/Theme/Getters" as *;
@use "variables";

/// Headers
@each $header, $font-size, $responsive-size in variables.$headers {
	#{$header} {
		margin-top: 0;
		color: inherit;
		line-height: 2;
		margin-bottom: 1em;
		overflow-wrap: break-word;
	}
	#{$header},
	.#{$header} {
		font-size: $font-size;
		font-weight: bold;
	}
	@include breakpoints(elements('grid', 'breakpoints', 'medium'), 'max-width') {
		#{$header},
		.#{$header} {
			font-size: $responsive-size;
		}
	}
}
h1.bordered,
h2.bordered,
h3.bordered,
h4.bordered,
h5.bordered,
h6.bordered,
.h1.bordered, 
.h2.bordered, 
.h3.bordered, 
.h4.bordered, 
.h5.bordered, 
.h6.bordered {
	border-width: 0 0 theme('border', 'width') 0 !important;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
p {
	margin: 0 0 1em;
	font-size: 1rem;
}
a, ins, u {
	text-decoration-skip: ink edges;
}
abbr[title] {
	border-bottom: 1px dotted;
	cursor: help;
	text-decoration: none;
}
blockquote {
	border-left: .1rem dotted theme('color', 'dark');
	margin-left: 0;
	padding: .4rem .8rem;
	font-style: italic;
	color: theme('color', 'text');
}
small {
  font-size: 86%;
}
sub,
sup {
  font-size: 78%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}