/////////////////////////////////////////////////////////
/// THEME GETTERS
/////////////////////////////////////////////////////////

///
/// Get Active Theme
/// @param {String} $theme
///
@mixin get-theme($theme: $active-theme) {
    $set-theme: if(map-has-key($punica-themes, $theme), $theme, theme-not-found($theme));
	$theme-map: map-get($punica-themes, $set-theme) !global;
    @debug "Compiling #{$set-theme} theme...";
	@content;
	$theme-map: null !global;
}

///
/// Get active theme's value by key
///
/// @param {String} $node
/// @param {String} $key
/// @param {String} $child
/// @param {String} $sub
///
/// @example theme('name')
/// @example theme('color', 'primary')
/// @example theme('elements', 'button', 'font-weight')
/// @example theme('elements', 'button', 'secondary', 'background')
///
@function theme($node, $key: null, $child: null, $sub: null) {
	$value: map-get($theme-map, $node);

	@if $key {
		$value: map-get($value, $key);
		@if $child {
			$value: map-get($value, $child);
			@if $sub {
				$value: map-get($value, $sub);
			}
		}
	}
	
	@return $value;
}

/// 
/// @param {String} $theme
///
@function theme-not-found($theme) {
    $error: "Invalid theme name: #{$theme}. Punica's theme map does not contains a value associated with #{$theme}. Please check the '_themes/index.scss' file.";
    @error $error;
}