/////////////////////////////////////////////////////////
/// THEME SETTERS
/////////////////////////////////////////////////////////

///
/// Shadow
///
@mixin shadow(
	$h-offset: theme('shadow-horizontal'),
	$v-offset: theme('shadow-vertical'),
	$blur: theme('shadow-blur'),
	$color: theme('shadow-color')
) {
	box-shadow: $h-offset $v-offset $blur $color;
	@content;
}

///
/// Border
///
@mixin border(
	$width: theme('border-width'),
	$style: theme('border-style'),
	$color: theme('border-color'),
	$specificity: false
) {
	@if $specificity {
		border: $width $style $color !important;
	} @else {
		border: $width $style $color;
	}
	@content;
}

///
///
///
@mixin set-size(
	$font-size, $padding, $size-name: null
) {
	@if $size-name {
		&.#{$size-name} {
			padding: $padding;
			font-size: $font-size;
			@content;
		}
	} @else {
		padding: $padding;
		font-size: $font-size;
		@content;
	}
	
}

///
///
///
@mixin set-style(
	$bg-color, $color, $style-name: null
) {
	@if $style-name {
		&.#{$style-name} {
			background-color: $bg-color;
			color: $color;
			@content;
		}
	} @else {
		background-color: $bg-color;
		color: $color;
		@content;
	}
}