/////////////////////////////////////////////////////////
/// PUNICA CSS > THEMES
/////////////////////////////////////////////////////////
@import "_getters";

///
///
///
$punica-themes: (
	///
	/// Default Theme
	///
	light: (
		///////////////////////////////////////////////////////////
		'primary-color'					: #0a8fff,
		'success-color'					: #2ec4b6,
		'warning-color'					: #de9e36,
		'error-color'					: #d62828,
		///////////////////////////////////////////////////////////
		'background-color'				: white,
		'text-color'					: #3f4143,
		//
		'color-active'					: #dcdcdc,
		'color-negative'				: white,
		'color-grey'					: #a8a8a8,
		'color-secondary'				: #e6e6e6,
		'color-dark'					: #26272b,
		///////////////////////////////////////////////////////////
		// border
		'border-color' 					: #c6c6c6,
		'border-width'					: 1px,
		'border-style'					: solid,
		'border-radius'					: 4px,
		///////////////////////////////////////////////////////////
		/// shadow
		'shadow-horizontal'				: 0,
		'shadow-vertical'				: 1px,
		'shadow-blur'					: 5px,
		'shadow-color'					: rgba(0, 0, 0, 0.15),
		///////////////////////////////////////////////////////////
		// inputs
		'input-bg'						: white,
		'input-color'					: #3f4143,
		'input-border-color'			: #c6c6c6,
		'input-outline-color'			: #26272b,
		'input-outline-width'			: 2px,
		///////////////////////////////////////////////////////////
		// secondary button
		'button-secondary-bg'			: linear-gradient(to top, #e6e6e6 0%,#ffffff 100%),
		'button-secondary-bg-hover'		: linear-gradient(to top, #ffffff 0%,#e6e6e6 100%)
	),
	///
	/// Dark Theme
	///
	dark: (
		///////////////////////////////////////////////////////////
		'primary-color'					: #10a6fa,
		'success-color'					: #2abc90,
		'warning-color'					: #b78343,
		'error-color'					: #d84955,
		///////////////////////////////////////////////////////////
		'background-color'				: #26272b,
		'text-color'					: white,
		//
		'color-active'					: lighten(#26272b, 3.7%),
		'color-negative'				: white,
		'color-grey'					: #6c6e79,
		'color-secondary'				: #2b2d2f,
		'color-dark'					: lighten(#26272b, 4.5%),
		///////////////////////////////////////////////////////////
		// border
		'border-color' 					: lighten(#26272b, 23%),
		'border-width'					: 1px,
		'border-style'					: solid,
		'border-radius'					: 4px,
		///////////////////////////////////////////////////////////
		/// shadow
		'shadow-horizontal'				: 0,
		'shadow-vertical'				: 4px,
		'shadow-blur'					: 8px,
		'shadow-color'					: rgba(0, 0, 0, 0.2),
		///////////////////////////////////////////////////////////
		// inputs
		'input-bg'						: lighten(#26272b, 8.5%),
		'input-color'					: white,
		'input-border-color'			: lighten(#26272b, 26%),
		"input-outline-color"			: white,
		'input-outline-width'			: 2px,
		///////////////////////////////////////////////////////////
		// secondary button
		'button-secondary-bg'			: linear-gradient(to top, #202125 0%,#26272b 100%),
		'button-secondary-bg-hover'		: linear-gradient(to top, #26272b 0%,#202125 100%)
	),
    ///
	/// Custom Raisin Theme
	///
	retro: (
		///////////////////////////////////////////////////////////
		'primary-color'					: #5eaaa8,
		'success-color'					: #879a67,
		'warning-color'					: #de7e57,
		'error-color'					: #cd5c5c,
		///////////////////////////////////////////////////////////
		'background-color'				: #493323,
		'text-color'					: white,
		//
		'color-active'					: lighten(#493323, 3.7%),
		'color-negative'				: white,
		'color-grey'					: #e3d0b9,
		'color-secondary'				: lighten(#493323, 1.95%),
		'color-dark'					: lighten(#493323, 8.5%),
		///////////////////////////////////////////////////////////
		// border
		'border-color' 					: lighten(#493323, 10%),
		'border-width'					: 1px,
		'border-style'					: solid,
		'border-radius'					: 2px,
		///////////////////////////////////////////////////////////
		/// shadow
		'shadow-horizontal'				: 0,
		'shadow-vertical'				: 1px,
		'shadow-blur'					: 4px,
		'shadow-color'					: rgba(0, 0, 0, 0.24),
		///////////////////////////////////////////////////////////
		// inputs
		'input-bg'						: lighten(#493323, 8.5%),
		'input-color'					: white,
		'input-border-color'			: lighten(#493323, 26%),
		"input-outline-color"			: lighten(#493323, 38%),
		'input-outline-width'			: 2px,
		///////////////////////////////////////////////////////////
		// secondary button
		'button-secondary-bg'			: linear-gradient(to top, #493323 0%,lighten(#493323, 8.5%) 100%),
		'button-secondary-bg-hover'		: linear-gradient(to top, lighten(#493323, 8.5%) 0%,#493323 100%)
	),
    ///
    /// Raisin Theme
    ///
    raisin: (
        ///////////////////////////////////////////////////////////
        'primary-color'					: #7080e2,
        'success-color'					: #66923f,
        'warning-color'					: #cf6d4e,
        'error-color'					: #b03767,
        ///////////////////////////////////////////////////////////
        'background-color'				: #2D2A2E,
        'text-color'					: white,
        //
        'color-active'					: lighten(#2D2A2E, 3.7%),
        'color-negative'				: white,
        'color-grey'					: lighten(#2D2A2E, 12.5%),
        'color-secondary'				: lighten(#2D2A2E, 7%),
        'color-dark'					: lighten(#2D2A2E, 4.5%),
        ///////////////////////////////////////////////////////////
        // border
        'border-color' 					: lighten(#2D2A2E, 23%),
        'border-width'					: 1px,
        'border-style'					: solid,
        'border-radius'					: 0,
        ///////////////////////////////////////////////////////////
        /// shadow
        'shadow-horizontal'				: 0,
        'shadow-vertical'				: 1px,
        'shadow-blur'					: 4px,
        'shadow-color'					: rgba(0, 0, 0, 0.17),
        ///////////////////////////////////////////////////////////
        // inputs
        'input-bg'						: lighten(#2D2A2E, 8.5%),
        'input-color'					: white,
        'input-border-color'			: lighten(#2D2A2E, 26%),
        "input-outline-color"			: white,
        'input-outline-width'			: 2px,
        ///////////////////////////////////////////////////////////
        // secondary button
        'button-secondary-bg'			: linear-gradient(to top, #2D2A2E 0%,lighten(#2D2A2E, 8.5%) 100%),
        'button-secondary-bg-hover'		: linear-gradient(to top, lighten(#2D2A2E, 8.5%) 0%,#2D2A2E 100%)
    ),
    ///
    /// Custom Palenight Theme
    /// Material Design
    ///
    palenight: (
        ///////////////////////////////////////////////////////////
        'primary-color'					: #30a3d1,
        'success-color'					: #87a45d,
        'warning-color'					: #b9924a,
        'error-color'					: #bf5b60,
        ///////////////////////////////////////////////////////////
        'background-color'				: #292d3e,
        'text-color'					: white,
        //
        'color-active'					: lighten(#292d3e, 3.7%),
        'color-negative'				: white,
        'color-grey'					: #565e81,
        'color-secondary'				: #32364b,
        'color-dark'					: lighten(#292d3e, 4.5%),
        ///////////////////////////////////////////////////////////
        // border
        'border-color' 					: lighten(#292d3e, 23%),
        'border-width'					: 1px,
        'border-style'					: solid,
        'border-radius'					: 4px,
        ///////////////////////////////////////////////////////////
        /// shadow
        'shadow-horizontal'				: 0,
        'shadow-vertical'				: 3px,
        'shadow-blur'					: 7px,
        'shadow-color'					: rgba(0, 0, 0, 0.21),
        ///////////////////////////////////////////////////////////
        // inputs
        'input-bg'						: lighten(#292d3e, 8.5%),
        'input-color'					: white,
        'input-border-color'			: lighten(#292d3e, 26%),
        "input-outline-color"			: white,
        'input-outline-width'			: 2px,
        ///////////////////////////////////////////////////////////
        // secondary button
        'button-secondary-bg'			: linear-gradient(to top, #292d3e 0%,#31364b 100%),
        'button-secondary-bg-hover'		: linear-gradient(to top, #31364b 0%,#292d3e 100%)
    ),
	///
	/// Custom Theme
	/// Apply your own color scheme 
	///
	/*
	custom: (
		///////////////////////////////////////////////////////////
		'primary-color'					: ,
		'success-color'					: ,
		'warning-color'					: ,
		'error-color'					: ,
		///////////////////////////////////////////////////////////
		'background-color'				: ,
		'text-color'					: ,
		//
		'color-active'					: ,
		'color-negative'				: ,
		'color-grey'					: ,
		'color-secondary'				: ,
		'color-dark'					: ,
		///////////////////////////////////////////////////////////
		// border
		'border-color' 					: ,
		'border-width'					: ,
		'border-style'					: ,
		'border-radius'					: ,
		///////////////////////////////////////////////////////////
		/// shadow
		'shadow-horizontal'				: ,
		'shadow-vertical'				: ,
		'shadow-blur'					: ,
		'shadow-color'					: ,
		///////////////////////////////////////////////////////////
		// inputs
		'input-bg'						: ,
		'input-color'					: ,
		'input-border-color'			: ,
		"input-outline-color"			: ,
		'input-outline-width'			: ,
		///////////////////////////////////////////////////////////
		// button
		'button-secondary-bg'			: ,
		'button-secondary-bg-hover'		: 
	),
	*/
);