/////////////////////////////////////////////////////////
/// PUNICA CSS > THEMES
/////////////////////////////////////////////////////////
@import "mixins";
///
/// BETA
///
$punica-themes: (
	///
	/// Default Theme (unstable)
	///
	light: (
		///////////////////////////////////////////////////////////
		'primary-color'					: #0a8fff,
		'success-color'					: #2ec4b6,
		'warning-color'					: #de9e36,
		'error-color'					: #d62828,
		///////////////////////////////////////////////////////////
		'background-color'				: white,
		'text-color'					: #3f4143,
		//
		'color-active'					: #dcdcdc,
		'color-negative'				: white,
		'color-grey'					: #c3c3c3,
		'color-secondary'				: #e6e6e6,
		'color-dark'					: #1b1f23,
		///////////////////////////////////////////////////////////
		// border
		'border-color' 					: #c6c6c6,
		'border-width'					: 1px,
		'border-style'					: solid,
		'border-radius'					: 4px,
		///////////////////////////////////////////////////////////
		/// shadow
		'shadow-horizontal'				: 0,
		'shadow-vertical'				: 4px,
		'shadow-blur'					: 8px,
		'shadow-color'					: rgba(0, 0, 0, 0.2),
		///////////////////////////////////////////////////////////
		// inputs
		'input-bg'						: white,
		'input-color'					: #3f4143,
		'input-border-color'			: #c6c6c6,
		'input-outline-color'			: #1b1f23,
		'input-outline-width'			: 2px,
		///////////////////////////////////////////////////////////
		// button
		'button-secondary-bg'			: linear-gradient(to top, #e6e6e6 0%,#ffffff 100%),
		'button-secondary-bg-hover'		: linear-gradient(to top, #ffffff 0%,#e6e6e6 100%)
	),
	///
	/// Dark Theme (unstable)
	///
	dark: (
		///////////////////////////////////////////////////////////
		'primary-color'					: #2188ff,
		'success-color'					: #2ec4b6,
		'warning-color'					: #de9e36,
		'error-color'					: #d62828,
		///////////////////////////////////////////////////////////
		'background-color'				: #1b1f23,
		'text-color'					: white,
		//
		'color-active'					: lighten(#1b1f23, 3.7%),
		'color-negative'				: white,
		'color-grey'					: #999fb5,
		'color-secondary'				: #323337,
		'color-dark'					: lighten(#1b1f23, 5.7%),
		///////////////////////////////////////////////////////////
		// border
		'border-color' 					: lighten(#1b1f23, 23%),
		'border-width'					: 1px,
		'border-style'					: solid,
		'border-radius'					: 4px,
		///////////////////////////////////////////////////////////
		/// shadow
		'shadow-horizontal'				: 0,
		'shadow-vertical'				: 4px,
		'shadow-blur'					: 8px,
		'shadow-color'					: rgba(0, 0, 0, 0.2),
		///////////////////////////////////////////////////////////
		// inputs
		'input-bg'						: lighten(#1b1f23, 8%),
		'input-color'					: white,
		'input-border-color'			: lighten(#1b1f23, 26%),
		'input-outline-color'			: #2188ff,
		'input-outline-width'			: 2px,
		///////////////////////////////////////////////////////////
		// button
		'button-secondary-bg'			: linear-gradient(to top, #1b1f23 0%,#000000 100%),
		'button-secondary-bg-hover'		: linear-gradient(to top, #000000 0%,#1b1f23 100%)
	),
);