/***************************************************** 
PUNICA CSS > UTILITIES : HELPERS > MIXINS ************/

@mixin setHelperListWithRange(
	$helpers, 
	$range, 
	$value-type: null,
	$specificity: null
) {
	@each $class, $property in $helpers {
		@each $value in $range {
			.#{$class}#{$value} {
				#{$property}: #{$value}#{$value-type} #{$specificity};
			}
		}
	}
}
@mixin setHelperList(
	$list, 
	$specificity: null
) {
	@each $class, $property, $value in $list {
		.#{$class} {
			#{$property}: #{$value} #{$specificity};
		}
	}
}