/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : PROGRESS
/////////////////////////////////////////////////////////
///
/// if progress is enable
///
@if ptions('progress', 'enable') {
	.#{class('progress', 'name')} {
		width: variables('progress', 'width');
		height: variables('progress', 'height');
		background: theme('color', 'secondary');
		@include shadow(0, 1px, 2px, rgba(0, 0, 0, 0.15), inset);
		border-radius: variables('progress', 'border-radius');
		appearance: none;
		&::-webkit-progress-bar {
			background: transparent;
			border-radius: variables('progress', 'border-radius');
		}
		&::-webkit-progress-value {
			background: theme('color', 'primary');
			border-radius: variables('progress', 'border-radius');
		}
		&::-moz-progress-bar {
			background: theme('color', 'primary');
			border-radius: variables('progress', 'border-radius');
		}
		///
		/// STYLES
		///
		@if options('progress', 'features', 'styles') {
			@each $type, $color in $progress-styles {
				&.#{$type}::-webkit-progress-value {
					background: $color;
				}
			}
		}
	}
}
