/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : PROGRESS
/////////////////////////////////////////////////////////
///
/// if progress is enable
///
@if $components-progress {
	.#{$progress-name} {
		width: 100%;
		height: 12px;
		background: theme('color-secondary');
		@include shadow(0, 1px, 2px, rgba(0, 0, 0, 0.15), inset);
		border-radius: 16px;
		appearance: none;
		&::-webkit-progress-bar {
			background: transparent;
			border-radius: 16px;
		}
		&::-webkit-progress-value {
			background: theme('primary-color');
			border-radius: 16px;
		}
		&::-moz-progress-bar {
			background: theme('primary-color');
			border-radius: 16px;
		}
		///
		/// STYLES
		///
		@if $components-progress-styles {
			@each $type, $color in $progress-styles {
				&.#{$type}::-webkit-progress-value {
					background: $color;
				}
			}
		}
	}
}
