/*****************************************************
PUNICA CSS > COMPONENTS : PROGRESS > VARIABLES *******/

/*****************************************************
CLASS NAMING *****************************************/
$progress-name			: 'progress';
$billboard-cover		: 'cover';

/*****************************************************
STYLES ***********************************************/
$progress-types		: (
	"success": $success-color,
	"warning": $warning-color,
	"error": $error-color,
	"dark": $main-dark-color
);

/*****************************************************
PREFERENCES ******************************************/
$progress-height		: 12px;
$progress-width			: 100%;
$progress-background	: $main-secondary-bg;
$progress-border-radius	: 16px;
$progress-inner-shadow	: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
