/*****************************************************
PUNICA CSS > COMPONENTS : BREADCRUMB *****************/
//
// if breadcrumb is enable
//
@if $components-breadcrumb {
	.#{$breadcrumb-name} {
		display: inline-block;
		white-space: nowrap;
		a.#{$breadcrumb-item},
		.#{$breadcrumb-item} {
			text-decoration: none;
			font-size: inherit;
			&:focus,
			&:hover,
			&:active,
			&.active {
				color: $breadcrumb-active-color;
			}
			&::after {
				font-family: 'Material Icons';
				content: $breadcrumb-seperator;
				color: $breadcrumb-seperator-color;
				padding: $breadcrumb-seperator-padding;
			    vertical-align: $breadcrumb-seperator-vertical;
		        font-size: $breadcrumb-seperator-size;
				cursor: auto;
			}
			&:first-child {
				margin-left: 0;
			}
			&.#{$breadcrumb-active} {
				color: $breadcrumb-active-color;
				font-weight: bold;
				&::after {
					content: none;
				}
			}
		}
		//
		// SIZES
		//
		@if $components-breadcrumb-sizes {
			// size, font-size, seperator-padding, seperator-size
			@each $size, $font-size, $seperator-padding, $seperator-size in $breadcrumb-sizes {
				&.#{$size} {
					.#{$breadcrumb-item} {
						font-size: $font-size;
						&::after {
							padding: $seperator-padding;
							font-size: $seperator-size;
						}
					}
				}
			}
		}
	}
	@include breakpoints($breakpoints-medium, 'max-width') {
		.#{$breadcrumb-name} {
			.#{$breadcrumb-item} {
				//display: block;
				&:after {
					font-size: 1rem;
					vertical-align: middle;
				}
			}
		}
	}
}
