/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : BREADCRUMB
/////////////////////////////////////////////////////////
///
/// if breadcrumb is enable
///
@if $components-breadcrumb {
	.#{$breadcrumb-name} {
		display: inline-block;
		white-space: nowrap;
		a.#{$breadcrumb-item},
		.#{$breadcrumb-item} {
			text-decoration: none;
			font-size: inherit;
			font-weight: bold;
			&:focus,
			&:hover,
			&:active,
			&.active {
				color: theme('color', 'primary');
			}
			&::after {
				font-family: '#{$icon-font-name}';
				content: $icon-breadcrumb-seperator; // [*]
				color: theme('color', 'primary');
				padding: 0 .25em;
			    vertical-align: middle;
		        font-size: 1.4rem;
				cursor: auto;
			}
			&:first-child {
				margin-left: 0;
			}
			&.#{$breadcrumb-active} {
				color: theme('color', 'primary');
				font-weight: bold;
				&::after {
					content: none;
				}
			}
		}
		///
		/// SIZES
		///
		@if $components-breadcrumb-sizes {
			// size, font-size, seperator-padding, seperator-size
			@each $size, $font-size, $seperator-padding, $seperator-size in $breadcrumb-sizes {
				&.#{$size} {
					.#{$breadcrumb-item} {
						font-size: $font-size;
						&::after {
							padding: $seperator-padding;
							font-size: $seperator-size;
						}
					}
				}
			}
		}
	}
	///
	///
	///
	@include breakpoints($breakpoints-medium, 'max-width') {
		.#{$breadcrumb-name} {
			.#{$breadcrumb-item} {
				&:after {
					font-size: 1rem;
					vertical-align: middle;
				}
			}
		}
	}
}
/*
REFERENCES ******************************************
[*] Defined at Elements -> Icon -> variables.scss
https://material.io/resources/icons/
*****************************************************/
