/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : BREADCRUMB
/////////////////////////////////////////////////////////
///
/// if breadcrumb is enable
///
@if options('breadcrumb', 'enable')  {
	.#{class('breadcrumb', 'name')} {
		display: inline-block;
		white-space: nowrap;
		a.#{class('breadcrumb', 'item')},
		.#{class('breadcrumb', 'item')} {
			text-decoration: none;
			font-size: inherit;
			font-weight: variables('breadcrumb', 'font-weight');
			&:focus,&:hover,&:active,&.active {
				color: theme('color', 'primary');
			}
			&::after {
				font-family: '#{variables('icon', 'font-family')}';
				content: variables('icon', 'breadcrumb', 'seperator'); // [*]
				color: theme('color', 'primary');
				padding: variables('breadcrumb', 'seperator', 'padding');
			    vertical-align: variables('breadcrumb', 'seperator', 'vertical-align');
		        font-size: variables('breadcrumb', 'seperator', 'font-size');
				cursor: variables('breadcrumb', 'seperator', 'cursor');
			}
			&:first-child {
				margin-left: 0;
			}
			&.#{class('breadcrumb', 'active')} {
				color: theme('color', 'primary');
				font-weight: variables('breadcrumb', 'active-weight');
				&::after {
					content: none;
				}
			}
		}
		///
		/// SIZES
		///
		@if options('breadcrumb', 'features', 'sizes') {
			// size, font-size, seperator-padding, seperator-size
			@each $size, $font-size, $seperator-padding, $seperator-size in $breadcrumb-sizes {
				&.#{$size} {
					.#{class('breadcrumb', 'item')} {
						font-size: $font-size;
						&::after {
							padding: $seperator-padding;
							font-size: $seperator-size;
						}
					}
				}
			}
		}
	}
	///
	///
	///
	@include breakpoints(variables('grid', 'breakpoints', 'medium'), 'max-width') {
		.#{class('breadcrumb', 'name')} {
			.#{class('breadcrumb', 'item')} {
				&:after {
					font-size: 1rem;
					vertical-align: middle;
				}
			}
		}
	}
}
/*
REFERENCES ******************************************
[*] Defined at options.scss file -> 'icon'
https://material.io/resources/icons/
*****************************************************/
