<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="https://codeforms.github.io/Punica-CSS-Framework/components/tooltip">
        <title> Tooltip - Punica CSS Framework v3 </title>
        <meta name="description" content="The Tooltip component provides additional information when a user hovers over on an element. It is ideal for offering brief descriptions, tips, or clarifications without cluttering the layout. Tooltips can be customized in terms of content, style, and positioning to fit various design needs. Just add the &lt;code&gt;.tooltip&lt;/code&gt; class to a &lt;code&gt;span&lt;/code&gt;, &lt;code&gt;button&lt;/code&gt; or &lt;code&gt;div&lt;/code&gt; element to create a tooltip.">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/codeforms/Punica-CSS-Framework@3.x.x/dist/punica-dark.min.css">
        <link rel="stylesheet" href="https://codeforms.github.io/Punica-CSS-Framework/assets/build/css/prism.css">
    </head>
    <body class="overflow-auto">
        <div class="reset container">
            <header class="fixed small navbar border-bottom-1 bg-color">
    <div class="container reset">
        <!-- responsive hamburger menu -->
        <input type="checkbox" id="burger">
        <label for="burger" class="burger"></label>
        <!-- /responsive hamburger menu-->

        <section class="brand width-240">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/" class="display-flex align-items-center text-large">
                Punica CSS <span class="weight-normal ml-5 text-small">v3</span>
            </a>
        </section>

        <section class="links">
            <div class="divided section justify-content-flex-start">
                <div class="full height borderless tab align-items-center">
                    <a href="https://codeforms.github.io/Punica-CSS-Framework/components/alert" class="button color-text-lighten-20 weight-500 height-30 border-1 px-0 mx-15 active">Components</a>
                    <a href="https://codeforms.github.io/Punica-CSS-Framework/elements/button" class="button color-text-lighten-20 weight-500 height-30 border-1 px-0 mx-15 ">Elements</a>
                    <a href="https://codeforms.github.io/Punica-CSS-Framework/utilities/accent-color" class="button color-text-lighten-20 weight-500 height-30 border-1 px-0 mx-15 ">Utilities</a>
                    <a href="https://codeforms.github.io/Punica-CSS-Framework/api/installation" class="button color-text-lighten-20 weight-500 height-30 border-1 px-0 mx-15 ">API Docs</a>
                </div>
            </div>
            <div class="section justify-content-flex-end flex-initial px-50">
                <div class="buttons">
                    <div class="dropdown bottom right">
                        <a class="button toggle " tabindex="0">
                            Preview <i class="material-symbols-outlined ml-5">keyboard_arrow_down</i>
                        </a>
                        <ul class="small menu">
                            <li class="item">
                                <a href="https://codeforms.github.io/Punica-CSS-Framework/preview/default" target="_blank">
                                    Default Theme
                                </a>    
                            </li>   
                            <li class="item">
                                <a href="https://codeforms.github.io/Punica-CSS-Framework/preview/dark" target="_blank">
                                    Default Dark Theme
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="https://github.com/codeforms/Punica-CSS-Framework" class="mx-20" target="_blank">
                    <svg viewBox="0 0 20 20" style="fill: white;" class="width-30 height-30"><path d="M10 0C4.475 0 0 4.475 0 10a9.994 9.994 0 006.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.287-.6-1.175-1.025-1.412-.35-.188-.85-.65-.013-.663.788-.013 1.35.725 1.538 1.025.9 1.512 2.337 1.087 2.912.825.088-.65.35-1.088.638-1.338-2.225-.25-4.55-1.112-4.55-4.937 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.274.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 012.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0020 10c0-5.525-4.475-10-10-10z"></path></svg>
                </a>
            </div>
        </section>
    </div>
</header>
            <div class="main-container display-flex" style="margin-top: 65px;">
                                <div class="sidebar display-flex border-right-1 width-280 shrink-0 position-fixed left-0" style="height: calc(-65px + 100vh); padding-bottom: calc(-65px + 100vh); top: 65px;">
                    <div class="position-sticky top-0 left-0 height-100 border-bottom-1 border-x-0 border-top-0 border-grey weight-normal border-solid mb-10 pt-0 full width display-block">
    <div class="leading-1 display-flex align-items-center full height width border-left-10 border-dark">
        <div class="full width px-40">
            <div class="h5 weight-normal">Components</div>
            <small class="letter-widest disabled">Tooltip</small>
        </div>
    </div>
    <div class="pure small menu display-block overflow-y-auto pb-100 pt-20 px-30" style="height: calc(-145px + 100vh);">
                <li class="item" id="0">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/alert#0" class="py-0 ">
                <span class="color-text-lighten-20">Alert</span>
            </a>
        </li>
                <li class="item" id="1">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/badge#1" class="py-0 ">
                <span class="color-text-lighten-20">Badge</span>
            </a>
        </li>
                <li class="item" id="2">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/breadcrumb#2" class="py-0 ">
                <span class="color-text-lighten-20">Breadcrumb</span>
            </a>
        </li>
                <li class="item" id="3">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/caption#3" class="py-0 ">
                <span class="color-text-lighten-20">Caption</span>
            </a>
        </li>
                <li class="item" id="4">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/card#4" class="py-0 ">
                <span class="color-text-lighten-20">Card</span>
            </a>
        </li>
                <li class="item" id="5">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/label#5" class="py-0 ">
                <span class="color-text-lighten-20">Label</span>
            </a>
        </li>
                <li class="item" id="6">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/list#6" class="py-0 ">
                <span class="color-text-lighten-20">List</span>
            </a>
        </li>
                <li class="item" id="7">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/menu#7" class="py-0 ">
                <span class="color-text-lighten-20">Menu</span>
            </a>
        </li>
                <li class="item" id="8">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/navbar#8" class="py-0 ">
                <span class="color-text-lighten-20">Navbar</span>
            </a>
        </li>
                <li class="item" id="9">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/panel#9" class="py-0 ">
                <span class="color-text-lighten-20">Panel</span>
            </a>
        </li>
                <li class="item" id="10">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/process#10" class="py-0 ">
                <span class="color-text-lighten-20">Process</span>
            </a>
        </li>
                <li class="item" id="11">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/stats#11" class="py-0 ">
                <span class="color-text-lighten-20">Stats</span>
            </a>
        </li>
                <li class="item" id="12">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/tabnav#12" class="py-0 ">
                <span class="color-text-lighten-20">Tabnav</span>
            </a>
        </li>
                <li class="item" id="13">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/timeline#13" class="py-0 ">
                <span class="color-text-lighten-20">Timeline</span>
            </a>
        </li>
                <li class="item" id="14">
            <a href="https://codeforms.github.io/Punica-CSS-Framework/components/tooltip#14" class="py-0 active bg-dark">
                <span class="color-text-lighten-20">Tooltip</span>
            </a>
        </li>
            </div>
</div>
                </div>
                                <main class="content-container display-flex flex-direction-column flex-1  ml-280 ">
                    <div class="container-xxl">
                        <div class="row">
                            <div class="col-lg-16 col-sm-16 col-xs-16 col-md-16 pt-20 pb-200 position-relative">                               
                                	<main class="row position-relative">
    <div class="col-16">
        <div class="row py-20 height-32 radius-8 align-items-center">
            <div class="col-16 px-20 opacity-1">
                <div class="display-flex align-items-center border-bottom-1">
                    <h2 class="display-flex mb-10">
                        Tooltip
                    </h2>
                    <div class="spacer"></div>
                                        <div>
                        <div class="mini buttons">
                            <a href="https://github.com/codeforms/Punica-CSS-Framework/blob/master/src/Modules/Components/Tooltip/Tooltip.scss" class="button " target="_blank">Source</a>
                            <a href="https://github.com/codeforms/Punica-CSS-Framework/blob/master/src/options.scss" class="button " target="_blank">API</a>
                        </div>
                    </div>
                                    </div>
                                    <div class="mt-20">The Tooltip component provides additional information when a user hovers over on an element. It is ideal for offering brief descriptions, tips, or clarifications without cluttering the layout. Tooltips can be customized in terms of content, style, and positioning to fit various design needs. Just add the <code>.tooltip</code> class to a <code>span</code>, <code>button</code> or <code>div</code> element to create a tooltip.</div>
                            </div>
        </div>
    </div>
</main>     <div class="container">   
	        <div class="pure panel reset">
        <div class="content">
            <a href="javascript:" class="tooltip button mr-20">
                Button
                <span class="text">Hello World!</span>
            </a>
            <div class="tooltip button mr-20">
                Long Text
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </span>
            </div>
            <div class="tooltip">
                Text
                <span class="text">Hello World!</span>
            </div>
        </div>
        <div class="content">
            <script type="text/plain" class="language-markup mt-30">
            <a href="" class="tooltip button">
                Button
                <span class="text">Hello World!</span>
            </a>
            <div class="tooltip">
                Text
                <span class="text">Hello World!</span>
            </div>
        </script>
        </div>

        <div class="header mt-50">
            <span class="h5">Directions of Tooltip</span>
        </div>
        <div class="content">
            <p class="mb-75">
                You can change the direction of the tooltip by adding any <code>.right</code>, <code>.left</code> and
                <code>.top</code> classes to <code>.tooltip</code> container.
            </p>
            <a href="javascript:" class="tooltip left button">
                Left
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </span>
            </a>
            <a href="javascript:" class="tooltip top button">
                Top
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </span>
            </a>
            <a href="javascript:" class="tooltip right button">
                Right
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </span>
            </a>
        </div>
        <div class="content">
            <script type="text/plain" class="language-markup mt-30">
            <a href="" class="tooltip right button">
                Right
                <span class="text">Hello World!</span>
            </a>
        </script>
        </div>
        <div class="content overflow-auto">
            <table class="table text-small">
                <caption>Props</caption>
                <thead>
                    <tr>
                        <th>Default Class Name</th>
                        <th>Combinators</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>tooltip</code></td>
                        <td><code>.tooltip</code></td>
                    </tr>
                    <tr>
                        <td><code>text</code></td>
                        <td><code>.tooltip > .text</code></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Directions</th>
                        <th>Combinators</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>left</code></td>
                        <td><code>.left.tooltip</code></td>
                    </tr>
                    <tr>
                        <td><code>right</code></td>
                        <td><code>.right.tooltip</code></td>
                    </tr>
                    <tr>
                        <td><code>top</code></td>
                        <td><code>.top.tooltip</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://codeforms.github.io/Punica-CSS-Framework/assets/build/js/prism.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <style type="text/css">
            @media only screen and (max-width: 1024px) {
                .sidebar {
                    position: relative !important;
                    top: auto !important;
                    width: 100% !important;
                    z-index: 0;
                }
                .main-container {
                    flex-direction: column !important;                
                }
                .content-container,
                .main-container {
                    margin: 0 !important;
                }
                .navbar .section .dark.tab {
                    flex-direction: column !important;
                    align-items: flex-start !important;
                }
                .navbar .section .dark.tab > .button {
                    width: 100%;
                }
            }
        </style>
    </body>
</html>
