/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : ICON
/////////////////////////////////////////////////////////
///
/// if icon is enable
///
@if options('elements', 'icon', 'enable') {
	.#{class('icon', 'class-name')} {
		font-size: $icon-font-size;
		line-height: $icon-line-height;
		vertical-align: $icon-vertical-align;
	}
}