/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : ICON > VARIABLES
/////////////////////////////////////////////////////////

/// PREFERENCES =========================================
$icon-font-size				: 1.1rem;
$icon-line-height			: 1;
$icon-vertical-align		: middle;