/*****************************************************
PUNICA CSS > COMPONENTS : CARD ***********************/
//
// if card is enable
//
@if $components-card {
	.#{$cards-name} {
		display: flex;
		flex-wrap: wrap;
	}
	//
	// CARD GROUPS
	//
	@if $components-card-groups {
		@each $name, $number in $grids {
			.#{$cards-name}.#{$name} {
				&>.#{$card-name} {
					flex: 0 0 calc(100% * (1 / #{$number}) - (2 * #{$card-margin}));
					height: auto;
					margin: $card-margin;
				}
			}
		}
	}
	.#{$card-name} {
		background: $card-bg;
		border: $main-border-width $main-border-style $main-border-color;
		border-radius: $main-border-radius;
		@include shadow();
		display: flex;
		flex-direction: column;
		width: $card-default-width; // for only a single card
		height: 100%;
		overflow: hidden;
		>.#{$card-body} .#{$card-title},
		.#{$card-title} {
			color: darken($main-font-color, 15%);
			line-height: initial;
			&>.#{$card-subtitle} {
				color: grey;
				flex: 1 1 auto;
			}
		}
		.#{$card-title},
		.#{$card-description},
		.#{$card-action} {
			padding: $card-padding;
		}
		.#{$card-description} {
			flex: 1 1 auto;
			color: $main-font-color;
		}
		&>.#{$card-media} {
			img {
				display: block;
			}
		}
		//
		// HORIZONTAL CARDS
		//
		@if $components-card-horizontal {
			&.#{$card-horizontal} {
				flex-direction: row;
				width: 100%;
				align-items: center;
				margin-bottom: 15px;
				>.#{$card-media} {
					display: flex;
					align-self: normal;
					img	{
						width: auto;
						object-fit: cover
					}
				}
				>.#{$card-body} {
					flex: inherit;
					.#{$card-title},
					.#{$card-description} {
						padding: calc(#{$card-padding} / 2) $card-padding;
					}
					.#{$card-description} {
						flex: 1;
					}
				}
			}
		}
	}
	@include breakpoints($breakpoints-medium, 'max-width') {
		.#{$card-name},
		.#{$cards-name} > .#{$card-name} {
			flex: 0 0 100% !important;
			width: 100%; // for only a single card
			height: fit-content !important;
		}
		//
		// HORIZONTAL CARDS
		//
		@if $components-card-horizontal {
			.#{$card-name}.#{$card-horizontal} {
				flex-direction: column;
			}
		}
	}
}
