/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : CARD
/////////////////////////////////////////////////////////
///
/// if card is enable
///
@if $components-card {
	.#{$cards-name} {
		display: flex;
		flex-wrap: wrap;
	}
	///
	/// CARD GROUPS
	///
	@if $components-card-groups {
		@each $name, $number in $grids {
			.#{$cards-name}.#{$name} {
				&>.#{$card-name} {
					flex: 0 0 calc(100% * (1 / #{$number}) - (2 * #{$card-margin}));
					height: auto;
					margin: $card-margin;
				}
			}
		}
	}
	.#{$card-name} {
		background-color: theme('background-color');

		// has card border?
		@if $has-card-border {
			@include border();
			border-radius: theme('border-radius');
		}

		// has card shadow?
		@if $has-card-shadow {
			@include shadow();
		}
		
		display: flex;
		flex-direction: column;
		width: $card-default-width; // for only a single card
		height: 100%;
		overflow: hidden;
		>.#{$card-body} .#{$card-title},
		.#{$card-title} {
			color: theme('text-color');
			line-height: initial;
			&>.#{$card-subtitle} {
				color: theme('color-grey');
				flex: 1 1 auto;
			}
		}
		.#{$card-title},
		.#{$card-description},
		.#{$card-action} {
			padding: $card-padding;
		}
		.#{$card-description} {
			flex: 1 1 auto;
			color: theme('text-color');
		}
		///
		/// MEDIA
		///
		@if $components-card-media {
			&>.#{$card-media} {
				flex-wrap: wrap;
				display: flex;
				img {
					display: block;
					width: 100%;
				}
			}
			///
			/// MEDIA GROUP
			///
			@if $components-card-media-group {
				@include media-group-specs($card-media, 0);
			}
		}
		///
		/// HORIZONTAL CARDS
		///
		@if $components-card-horizontal {
			&.#{$card-horizontal} {
				flex-direction: row;
				width: 100%;
				align-items: center;
				margin-bottom: 15px;
				///
				/// MEDIA
				///
				@if $components-card-media {
					>.#{$card-media} {
						align-self: normal;
						width: 100%;
						img	{
							width: auto;
							object-fit: cover
						}
					}
				}
				>.#{$card-body} {
					flex: inherit;
					.#{$card-title},
					.#{$card-description} {
						padding: calc(#{$card-padding} / 2) $card-padding;
					}
					.#{$card-description} {
						flex: 1;
					}
				}
			}
		}
	}
	@include breakpoints($breakpoints-medium, 'max-width') {
		.#{$card-name},
		.#{$cards-name} > .#{$card-name} {
			flex: 0 0 100% !important;
			width: 100%; // for only a single card
			height: fit-content !important;
		}
		///
		/// HORIZONTAL CARDS
		///
		@if $components-card-horizontal {
			.#{$card-name}.#{$card-horizontal} {
				flex-direction: column;
			}
		}
	}
}
