/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : CARD > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the card component from here.
///
$card-name			: 'card';
$cards-name			: 'cards';
$card-body			: 'body';
$card-title			: 'title';
$card-subtitle		: 'subtitle';
$card-description	: 'description';
$card-media			: 'media';
$card-horizontal	: 'horizontal';
$card-action		: 'actions';