/***************************************************** 
PUNICA CSS > COMPONENTS : CARD > VARIABLES ***********/

/* 
NAMING ***********************************************/
$card-name			: 'card';
$cards-name			: 'cards';
$card-body			: 'body';
$card-title			: 'title';
$card-subtitle		: 'subtitle';
$card-description	: 'description';
$card-media			: 'media';
$card-horizontal	: 'horizontal';
$card-action		: 'actions';
/* 
PREFERENCES ******************************************/
$card-bg			: #fff;
$card-padding		: 16px;
$card-margin		: 10px;
$card-shadow		: 0 3px 10px rgba(0, 0, 0, 0.15);