/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : CARD > VARIABLES
/////////////////////////////////////////////////////////

/// STYLE OPTIONS =======================================
$has-card-shadow	: true;
$has-card-border	: true;

/// CLASS NAMING ========================================
$card-name			: 'card';
$cards-name			: 'cards';
$card-body			: 'body';
$card-title			: 'title';
$card-subtitle		: 'subtitle';
$card-description	: 'description';
$card-media			: 'media';
$card-horizontal	: 'horizontal';
$card-action		: 'actions';

/// PREFERENCES =========================================
$card-bg			: theme('component-bg');
$card-linear-bg		: theme('component-bg-linear');
$card-padding		: 16px;
$card-margin		: 10px;
$card-default-width	: 240px; // for only a single card
