/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : FORM > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the form element from here.
///
$form-name		: 'form';
$form-items		: 'items';
$form-item		: 'item';
$form-checkbox	: 'checkbox';
$form-radio		: 'radio';
$form-group		: 'group';