/*****************************************************
PUNICA CSS > ELEMENTS : FORM *************************/
@import "mixins";
//
// if form is enable
//
@if $elements-form {
	@include form-inputs() {
		-webkit-appearance: none;
		background-color: $form-input-bg;
		border: $main-border-width $main-border-style $main-border-color;
		height: $form-input-height;
		border-radius: $form-input-radius;
		outline: $form-outline-width solid transparent;
		box-shadow: none;
		box-sizing: inherit;
		outline-offset: -$form-outline-width;
		padding: $form-input-padding;
		width: 100%;
		max-width: 100%;
		font-family: inherit;
		color: $form-input-color;
		font-size: $form-input-size;
		&:focus {
			outline: $form-outline-width solid $form-outline-color;
			outline-offset: -$form-outline-width;
			transition: .35s;
		}
		@each $style-name, $style-color in $input-styles {
			&.#{$style-name} {
				color: $style-color;
				outline-color: $style-color;
			}
		}
	};
	select {
		padding-right: 3.0rem;
		text-indent: 5px;
		background-image:
		url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE2LjU5IDguNTlMMTIgMTMuMTcgNy40MSA4LjU5IDYgMTBsNiA2IDYtNnoiLz48L3N2Zz4=");
		background-repeat: no-repeat;
		background-position: right 10px center;
		&[multiple] {
			background: none;
			height: auto;
		}
	}
	textarea {
		min-height: 6.5rem;
		resize: vertical;
	}
	label,
	legend {
		display: block;
		font-size: 1rem;
		font-weight: 400;
	}
	fieldset {
		border-width: 0;
		padding: 0;
	}
	input[type='checkbox'],
	input[type='radio'] {
		display: inline;
	}
	input:disabled {
	  opacity: .59;
	}
	.#{$form-name} {
		position: relative;
		max-width: 100%;
		padding: $form-padding;
		.#{$form-item} {
			height: auto;
			margin: $form-items-spacer;
			display: inline-flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: 100%;
			position: relative;
			align-items: flex-start;
			@at-root .#{$form-name} label,
			&>label {
				margin: $form-label-margin;
				color: $form-label-color;
				font-size: $form-label-size;
				font-weight: $form-label-weight;
				text-transform: none;
				width: 100%;
				height: fit-content;
			}
			> input[type="file"] {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				cursor: default;
			}
			// form group
			@at-root .#{$form-name} .#{$form-group},
			&>.#{$form-group} {
				display: flex;
			    width: 100%;
				>* {
					flex: 1 1 auto;
					&:last-child {
		    			margin-left: -1px;
					}
					&:not(:first-child):not(:last-child) {
	    			    margin-left: -1px;
	    				margin-right: 0;
					}
				}
				>.#{$button-class-group} {
					box-shadow: none;
				}
				>.#{$button-class} {
					height: $form-input-height;
					font-size: $button-font-size;
					padding: $button-padding;
					font-weight: $button-font-weight;
					&:first-child {
						border-bottom-right-radius: 0;
		    			border-top-right-radius: 0;
					}
					&:last-child:not(:first-child) {
						border-bottom-left-radius: 0;
		    			border-top-left-radius: 0;
					}
				}
			}
		}
		.#{$form-items} {
			margin: $form-items-spacer;
			display: flex;
			flex-wrap: wrap;
			&>.#{$form-item} {
				margin: $form-item-spacer;
			}
		}
		@each $name, $number in $grids {
			.#{$name}.#{$form-items} {
				>.#{$form-item} {
					flex: 0 0 calc(100% * (1 / #{$number}) - (2 * #{$form-item-spacer}));
				}
			}
		}
		// input sizes
		@each $size-name, $font-size, $input-height, $button-padding, $button-font-size in $form-input-sizes {
			&.#{$size-name} {
				@include form-inputs() {
					height: $input-height;
					font-size: $font-size;
				}
				.#{$button-class} {
					height: $input-height !important;
					font-size: $button-font-size !important;
					padding: $button-padding !important;
				}
				@at-root .#{$form-name}.#{$size-name} label,
				&>.#{$form-items}>.#{$form-item}>label,
				&>.#{$form-item}>label {
					font-size: $font-size;
				}
			}
		}
	}
	.#{$form-radio},
	.#{$form-checkbox} {
		position: relative;
		margin: .4rem 0;
		label {
			display: block;
			padding: 0 1.2rem 0 2.2rem;
			cursor: pointer;
			user-select: none;
			padding-top: 0;
			font-weight: 400;
		}
		input {
			left: 0;
			opacity: 0;
			position: absolute;
			top: 10px;
		}
		input + label::before,
		input + label::after {
			position: absolute;
			transition: opacity 0.11s ease-in-out;
			font-family: $form-icon-font-family;
			font-style: normal;
			font-weight: normal;
			text-transform: none;
			color: $form-radio-checkbox-color;
			font-size: $form-radio-checkbox-size;
			top: $form-radio-checkbox-top;
			left: $form-radio-checkbox-left;
		}
		input + label::before {
			opacity: 1;
		}
		input + label::after {
			opacity: 0;
		}
		input:checked + label::after {
			opacity: 1;
		}
	}
	.#{$form-checkbox} {
		input + label::before {
			content: $form-checkbox-before-content;
		}
		input + label::after {
			content: $form-checkbox-after-content;
		}
	}
	.#{$form-radio} {
		input + label::before {
			content: $form-radio-before-content;
		}
		input + label::after {
			content: $form-radio-after-content;
		}
	}
}
