/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : FORM
/////////////////////////////////////////////////////////
@import "mixins";
///
/// if form is enable
///
@if options('elements', 'form', 'enable') {
	@include form-inputs() {
		-webkit-appearance: none;
		background-color: theme('input', 'background');
		border: theme('border', 'width') theme('border', 'style') theme('input', 'border-color');
		height: $form-input-height;
		border-radius: $form-input-radius;
		outline: theme('input', 'outline-width') solid transparent;
		box-shadow: none;
		box-sizing: inherit;
		outline-offset: -#{theme('input', 'outline-width')};
		padding: $form-input-padding;
		width: 100%;
		max-width: 100%;
		font-family: inherit;
		color: theme('input', 'color');
		font-size: $form-input-size;
		&:focus {
			outline: theme('input', 'outline-width') solid theme('input', 'outline-color');
			outline-offset: -#{theme('input', 'outline-width')};
			transition: .35s;
		}
		///
		/// VALIDATION STYLES
		///
		@if options('elements', 'form', 'features', 'validation-styles') {
			@each $style-name, $style-color in $form-input-styles {
				&.#{$style-name} {
					color: $style-color;
					outline-color: $style-color;
				}
			}
		}
	};
	select {
		background-image:
		url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE2LjU5IDguNTlMMTIgMTMuMTcgNy40MSA4LjU5IDYgMTBsNiA2IDYtNnoiLz48L3N2Zz4=");
		background-repeat: no-repeat;
		background-position: right 10px center;
		&[multiple] {
			background: none;
			height: auto;
		}
	}
	textarea {
		min-height: 6.5rem;
		resize: vertical;
	}
	label,
	legend {
		display: block;
		font-size: 1rem;
		font-weight: theme('typography', 'font-weight');
	}
	fieldset {
		border-width: 0;
		padding: 0;
	}
	input[type='checkbox'],
	input[type='radio'] {
		display: inline;
	}
	input:disabled {
	  opacity: .59;
	}
	.#{class('form', 'name')} {
		position: relative;
		max-width: 100%;
		padding: $form-padding;
		.#{class('form', 'item')} {
			height: fit-content;
			margin: $form-items-spacer;
			display: inline-flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: 100%;
			position: relative;
			align-items: center;
			@at-root .#{class('form', 'name')} label,
			&>label {
				margin: $form-label-margin;
				color: theme('color', 'text');
				font-size: $form-label-size;
				font-weight: theme('input', 'label-weight');
				text-transform: none;
				height: fit-content;
			}
			> input[type="file"] {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				cursor: default;
			}
			///
			/// FORM GROUPS
			///
			@if options('elements', 'form', 'features', 'group') {
				@at-root .#{class('form', 'name')} .#{class('form', 'group')},
				&>.#{class('form', 'group')} {
					display: flex;
				    width: 100%;
					>* {
						flex: 1 1 auto;
						&:last-child {
			    			margin-left: -1px;
						}
						&:not(:first-child):not(:last-child) {
		    			    margin-left: -1px;
		    				margin-right: 0;
						}
					}
					>.#{class('button', 'group')} {
						box-shadow: none;
					}
					>.#{class('button', 'name')} {
						height: $form-input-height;
						box-shadow: none;
						&:first-child {
							border-bottom-right-radius: 0;
			    			border-top-right-radius: 0;
						}
						&:last-child:not(:first-child) {
							border-bottom-left-radius: 0;
			    			border-top-left-radius: 0;
						}
					}
				}
			}
		}
		.#{class('form', 'items')} {
			margin: $form-items-spacer;
			display: flex;
			flex-wrap: wrap;
			&>.#{class('form', 'item')} {
				margin: $form-item-spacer;
			}
		}
		@each $name, $number in $grids {
			.#{$name}.#{class('form', 'items')} {
				>.#{class('form', 'item')} {
					flex: 0 0 calc(100% * (1 / #{$number}) - (2 * #{$form-item-spacer}));
				}
			}
			@include breakpoints($breakpoints-medium, 'max-width') {
				.#{$name}.#{class('form', 'items')} {
					>.#{class('form', 'item')} {
						flex: 0 0 100%;
					}
				}
			}
		}
		///
		/// INPUT SIZES
		///
		@if options('elements', 'form', 'features', 'sizes') {
			@each $size-name, $font-size, $input-height, $button-padding, $button-font-size in $form-input-sizes {
				&.#{$size-name} {
					@include form-inputs() {
						height: $input-height;
						font-size: $font-size;
					}
					.#{class('button', 'name')} {
						height: $input-height !important;
						font-size: $button-font-size !important;
						padding: $button-padding !important;
					}
					@at-root .#{class('form', 'name')}.#{$size-name} label,
					&>.#{class('form', 'items')}>.#{class('form', 'item')}>label,
					&>.#{class('form', 'item')}>label {
						font-size: $font-size;
					}
				}
			}
		}
	}
	///
	/// CHECKBOX & RADIO
	///
	@if options('elements', 'form', 'features', 'checkbox-radio') {
		.#{class('form', 'radio')},
		.#{class('form', 'checkbox')} {
			position: relative;
			label {
				padding: $form-checkbox-label-padding;
				cursor: pointer;
				user-select: none;
				font-weight: theme('typography', 'font-weight');
				margin: 0;
			}
			input {
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
			}
			input + label::before,
			input + label::after {
				position: absolute;
				transition: opacity 0.11s ease-in-out;
				font-family: '#{class('icon', 'font-family')}';
				font-style: normal;
				font-weight: normal;
				text-transform: none;
				font-size: $form-radio-checkbox-size;
				top: $form-radio-checkbox-top;
				left: $form-radio-checkbox-left;
			}
			input + label::before {
				opacity: 1;
			}
			input + label::after {
				opacity: 0;
			}
			input:checked + label::after {
				opacity: 1;
			}
		}
		.#{class('form', 'checkbox')} {
			input + label::before {
				content: class('icon', 'checkbox-before');
				color: theme('color', 'text');
			}
			input + label::after {
				content: class('icon', 'checkbox-after');
				color: theme('color', 'primary');
			}
		}
		.#{class('form', 'radio')} {
			input + label::before {
				content: class('icon', 'radio-before');
				color: theme('color', 'text');
			}
			input + label::after {
				content:  class('icon', 'radio-after');
				color: theme('color', 'primary');
			}
		}
	}
}
