/*****************************************************
PUNICA CSS > ELEMENTS : FORM > VARIABLES *************/

/*****************************************************
CLASS NAMING *****************************************/
$form-name						: 'form';
$form-items						: 'items';
$form-item						: 'item';
$form-checkbox					: 'checkbox';
$form-radio						: 'radio';
$form-group						: 'group';

/*****************************************************
PREFERENCES ******************************************/
$form-padding					: 0 16px;
$form-input-bg					: $main-bg;
$form-input-color				: $main-dark-color;
$form-input-height				: 2.5rem;
$form-input-radius				: 0;
$form-input-padding				: .4rem .5rem;
$form-input-size				: 1.088em;
$form-outline-width				: 2px;
$form-outline-color				: $main-dark-color;
$form-radio-checkbox-size		: 20px;
$form-items-spacer				: 6px 0 .75em;
$form-item-spacer				: 6px 6px .75em;
/* Label */
$form-label-color				: black;
$form-label-size				: 1.1129em;
$form-label-weight				: 700;
$form-label-margin				: 0 0 .15rem 0;

/*****************************************************
SIZES ************************************************/
// name, font-size, input height, button padding[*], button font size[*]
// [*] referenced from button variables
$form-input-sizes: (
	('small', 1em, 1.9rem, .645rem 1.4rem, .979em),
	('large', 1.2em, 2.9rem, 1.15rem 2.1rem, 1.25em)
);

/*****************************************************
PREFERENCES ******************************************/
/* Checkbox & Radio */
$form-icon-font-family			: 'Material Icons';
$form-radio-checkbox-color		: $main-dark-color;
$form-radio-checkbox-size		: 1.5rem;
$form-radio-checkbox-top		: -9px;
$form-radio-checkbox-left		: 0;
/* Checkbox (material icons) */
$form-checkbox-before-content	: "check_box_outline_blank";
$form-checkbox-after-content	: "check_box";
/* Radio (material icons) */
$form-radio-before-content		: "radio_button_unchecked";
$form-radio-after-content		: "radio_button_checked";
