/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : FORM > VARIABLES
/////////////////////////////////////////////////////////

/// PREFERENCES =========================================
$form-padding		: 0 16px;
$form-input-height	: 2.5rem;
$form-input-radius	: 0;
$form-input-padding	: .4rem .5rem;
$form-input-size	: 1.088em;
// item spacer
$form-items-spacer	: 6px 0 .75em;
$form-item-spacer	: 6px 6px .75em;
// label
$form-label-size	: .8579rem;
$form-label-margin	: 0;

/// SIZES ===============================================
$form-input-sizes: (
	// name, font-size, input height, button padding[*], button font size[*]
	// [*] referenced from button variables
	('small', 1em, 1.9rem, .645rem 1.4rem, .979em),
	('large', 1.2em, 2.9rem, 1.15rem 2.1rem, 1.25em)
);

/// STYLES ==============================================
$form-input-styles: (
	// name, color (for input validations)
	('success', theme('success-color')),
	('error', theme('error-color'))
);

/// PREFERENCES (Checkbox & Radio) ======================
/* Checkbox & Radio */
$form-radio-checkbox-size		: 1.35rem;
$form-radio-checkbox-top		: -8px;
$form-radio-checkbox-left		: 0;
$form-checkbox-label-padding	: 0 1.2rem 0 1.7rem;
