/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : BUTTON
/////////////////////////////////////////////////////////
@import "mixins";
///
/// if button is enable
///
@if $elements-button {
	a.#{$button-class},
	.#{$button-class} {
		display: inline-flex;
		font-family: $main-font-family;
		font-size: 1em;
		font-weight: 700;
		text-decoration: none;
		white-space: nowrap;
		outline: none;
		width: min-content;
		background: theme('background-color');
		background-image: none;
		@include border();
		appearance: none;
		color: theme('text-color');
		border-radius: theme('border-radius');
		box-sizing: border-box;
		cursor: pointer;
		line-height: 1;
		padding: .935rem 1.6rem;
		transition: background .2s, color .2s;
		user-select: none;
		box-shadow: none;
		align-items: center;
		justify-content: center;
		overflow: visible;
		text-align: center;
		&:focus,
		&:hover {
			color: theme('text-color');
			background: theme('color-secondary');
			background-image: none;
			transition: background .2s, color .2s;
		}
		&:active {
			color: theme('text-color');
			background: theme('background-color');
		}
		&:focus {
			background: theme('background-color');
			> i,
			> [class^="#{$icon-font-class-name}"] {
				color: theme('primary-color');
			}
		}
		&.#{$button-class-active} {
			color: theme('text-color');
			background: theme('color-active');
			background-image: none;
			text-decoration: none;
			&:focus,
			&:hover {
				color: theme('text-color');
				background: lighten( theme('color-active'), 4%);
			}
			i, [class^="#{$icon-font-class-name}"] {
				color: theme('text-color');
				text-shadow: none;
			}
		}
        &.#{$button-class-inactive} {
			pointer-events: none;
			cursor: default;
			background-image: none !important;
		}
		&[disabled],
		&:disabled,
		&.#{$button-class-disabled} {
			cursor: default;
			opacity: .59;
			pointer-events: none;
		}
		// Block Button
		&.#{$button-class-block} {
    		display: flex;
		    flex: 1;
		    width: auto;
		}
		i, [class^="#{$icon-font-class-name}"] {
			font-size: 1.35em; 
			color: theme('text-color');
			text-shadow: none;
		}
		///
		/// STYLES
		///
		@if $elements-button-styles {
			@each $theme-name, $theme-color, $border-color in $button-styles {
				&.#{$theme-name} {
					@include button-styles($theme-color, $border-color);
				}
			}
		}

		// Button Link
		@include link-button();

		///
		/// SIZES
		///
		@if $elements-button-sizes {
			@include button-sizes();
		}
		
		///
		/// SECONDARY BUTTON
		///
		@if $elements-button-secondary {
			&.#{$button-secondary} {
				@include secondary-button();
			}
		}
	}
	///
	/// BUTTON GROUPS
	///
	@if $elements-button-group {
		@include button-group();
	}
	///
	/// DROPDOWN
	///
	@if $elements-button-dropdown {
		@include dropdown();
	}
}
