/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : BUTTON
/////////////////////////////////////////////////////////
@import "mixins";
///
/// if button is enable
///
@if options('button', 'enable') {
	a.#{class('button', 'name')},
	.#{class('button', 'name')} {
		display: inline-flex;
		font-family: $typography-font-family; // typography > variables
		font-size: 1em;
		font-weight: theme('elements', 'button', 'font-weight');
		text-decoration: none;
		white-space: nowrap;
		outline: none;
		width: min-content;
		background: theme('color', 'background');
		background-image: none;
		@include border();
		appearance: none;
		color: theme('color', 'text');
		border-radius: theme('border', 'radius');
		box-sizing: border-box;
		cursor: pointer;
		line-height: 1;
		padding: .935rem 1.6rem;
		transition: background .2s, color .2s;
		user-select: none;
		box-shadow: none;
		align-items: center;
		justify-content: center;
		overflow: visible;
		text-align: center;
		&:focus,
		&:hover {
			color: theme('color', 'text');
			background: theme('color', 'secondary');
			background-image: none;
			transition: background .2s, color .2s;
		}
		&:active {
			color: theme('color', 'text');
			background: theme('color', 'background');
		}
		&:focus {
			background: theme('color', 'background');
			> i,
			> [class^="#{class('icon', 'class-name')}"] {
				color: theme('color', 'primary');
			}
		}
		&.#{class('button', 'active')} {
			color: theme('color', 'text');
			background: theme('color', 'active');
			background-image: none;
			text-decoration: none;
			&:focus,
			&:hover {
				color: theme('color', 'text');
				background: lighten( theme('color', 'active'), 4%);
			}
			i, [class^="#{class('icon', 'class-name')}"] {
				color: theme('color', 'text');
				text-shadow: none;
			}
		}
        &.#{class('button', 'inactive')} {
			pointer-events: none;
			cursor: default;
			background-image: none !important;
		}
		&[disabled],
		&:disabled,
		&.#{class('button', 'disabled')} {
			cursor: default;
			opacity: .59;
			pointer-events: none;
		}
		// Block Button
		&.#{class('button', 'block')} {
    		display: flex;
		    flex: 1;
		    width: auto;
		}
		i, [class^="#{class('icon', 'class-name')}"] {
			font-size: 1.35em;
			color: theme('color', 'text');
			text-shadow: none;
		}
		///
		/// STYLES
		///
		@if options('button', 'features', 'styles') {
			@each $theme-name, $theme-color, $border-color in $button-styles {
				&.#{$theme-name} {
					@include button-styles($theme-color, $border-color);
				}
				@if options('button', 'features', 'outlined') {
					&.#{$theme-name}.#{class('button', 'outlined')} {
						@include button-styles($theme-color, $border-color, true);
					}
				}
			}
		}

		// Button Link
		@include link-button();

		///
		/// SIZES
		///
		@if options('button', 'features', 'sizes') {
			@include button-sizes();
		}
		
		///
		/// SECONDARY BUTTON
		///
		@if options('button', 'features', 'secondary') {
			&.#{class('button', 'secondary')} {
				@include secondary-button();
			}
		}
	}
	///
	/// BUTTON GROUPS
	///
	@if options('button', 'features', 'group') {
		@include button-group();
	}
	///
	/// DROPDOWN
	///
	@if options('button', 'features', 'dropdown') {
		@include dropdown();
	}
}
