/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : BUTTON > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the button element from here.
///
$button-class					: 'button';
/* Static Button Styles */
$button-class-link				: 'link';
$button-secondary				: 'secondary';
/* State of Active & Disabled */
$button-class-active			: 'active';
$button-class-disabled			: 'disabled';
$button-class-inactive			: 'inactive';
//
$button-class-block				: 'block';
$button-class-group				: 'buttons';
$button-class-group-vertical	: 'vertical';
/* Dropdown */
$dropdown-name					: 'dropdown';
$dropdown-right					: 'right';
$dropdown-left					: 'left';
$dropdown-top					: 'top';
$dropdown-bottom				: 'bottom';
$dropdown-toggle				: 'toggle';
$dropdown-click					: 'clickable';