/*****************************************************
PUNICA CSS > ELEMENTS : BUTTON > MIXINS **************/
@mixin button-styles(
	$bg-color: $primary-color,
	$text-color: $main-invert-color,
	$bg-img: none,
	$bg-img-hover: none
) {
	background: $bg-color;
	color: $text-color;
	text-shadow: 0 1px 1px darken($bg-color, 6%);
	background-image: $bg-img;
	border: none;
	&:hover {
		background: lighten($bg-color, 7.5%);
		color: $text-color;
		background-image: $bg-img-hover;
	}
	&:active,
	&.#{$button-class-active} {
		background: lighten($bg-color, 7.5%);
		color: $text-color;
	}
	&.#{$button-class-inactive} {
		background: darken($bg-color, 7.5%);
	}
	i, [class^="material-icons"] {
		color: $text-color;
		text-shadow: $button-icon-shadow;
	}
	@content;
}
// Secondary Button
@mixin secondary-button() {
	color: $button-secondary-text-color;
	background-image: $button-secondary-bg-img;
	&:focus,
	&:hover,
	&:active,
	&.#{$button-class-active} {
		color: $button-secondary-text-color;
		background-image: $button-secondary-bg-img-hover;
		z-index: 1;
		border-color: $main-border-color;
		i, [class^="material-icons"] {
			color: $button-secondary-text-color;
		}
	}
}
// Link Button
@mixin link-button() {
	&.#{$button-class-link}.#{$button-class},
	&.#{$button-class-link} > .#{$button-class} {
		@include button-styles(transparent, $main-font-color) {
			&:hover {
				background: $button-bg-active;
			}
		};
	}
}
// Button Sizes
@mixin button-sizes($class-name: false) {
	@each $name, $font-size, $padding, $font-weight in $button-sizes {
		@if $class-name {
			&.#{$name} > .#{$button-class},
			&.#{$name} > .#{$dropdown-name} > .#{$button-class} {
				font-size: $font-size;
				padding: $padding;
				font-weight: $font-weight;
			}
		} @else {
			&.#{$name} {
				font-size: $font-size;
				padding: $padding;
				font-weight: $font-weight;
			}
		}
	}
}
