///
/// Punica CSS Framework
/// Components : List
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Options" as *;
@use "../../../Core/Global/Sass" as *;
@use "../../../Core/Global/Mixins" as *;
@use "../../../Core/Global/Colors" as color;
@use "../../../Core/Theme/Getters" as *;
@use "../../../Core/Theme/Setters" as *;

@if enabled('components', 'list') {
	.#{class('list', 'name')} {
		list-style: none;
		margin    : components('list', 'margin');
		// .list > .item
		>.#{class('list', 'item')} {
			display    : flex;
			align-items: center;
			padding    : components('list', 'item', 'padding');
			margin     : components('list', 'item', 'margin');
			transition : components('list', 'item', 'transition');
			// .list > .item > img
			// .list > .item > i
		    >img,
		    >i {
		    	margin-right: components('list', 'media', 'margin-right');
		    }
		    // .list > .item > span
			// .list > .item > div
		    &>span,
		    &>div {
		    	/// ..children of a flex container are
		    	/// forced to have a block-flavored display type.
		    	display: contents;
		    }
		    // .list > .item > body
		    >.#{class('list', 'body')} {
				display    : initial;
				flex       : 1;
				line-height: components('list', 'body', 'line-height');
				text-align : components('list', 'body', 'text-align');
				// .list > .item > .body > .title
				// .list > .item > .body > .subtitle
		    	>.#{class('list', 'title')},
		    	>.#{class('list', 'subtitle')} {
					display: block;
				}
				// .list > .item > .body > .title
		    	>.#{class('list', 'title')} {
					font-size  : components('list', 'title', 'font-size');
					font-weight: components('list', 'title', 'font-weight');
					line-height: components('list', 'title', 'line-height');
		    	}
		    	// .list > .item > .body > .subtitle
				>.#{class('list', 'subtitle')} {
					font-size    : components('list', 'subtitle', 'font-size');
					font-weight  : components('list', 'subtitle', 'font-weight');
					margin-bottom: components('list', 'subtitle', 'margin-bottom');
					@if theme('type') == 'light' {
						color: darken(color.$grey, 20%);
					} @else if theme('type') == 'dark' {
						color: lighten(color.$grey, 20%);
					}
				}
		    }
		    // .list > .item > .actions
		    >.#{class('list', 'actions')} {
				width      : components('list', 'actions', 'width');
				margin-left: components('list', 'actions', 'margin-left');
			}
			// .list > .item.active
			&.#{class('list', 'active')} {
				background: color.$grey;
			}
		}
		///
		/// DIVIDED
		///
		@if features('components', 'list', 'divided') {
			// .divided.list
			&.#{class('list', 'divided')} {
				>.#{class('list', 'item')} {
					border-bottom: set-border();
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
		///
		/// STRIPED
		///
		@if features('components', 'list', 'striped') {
			// .striped.list
			&.#{class('list', 'striped')} {
				// .striped.list > .item
				>.#{class('list', 'item')} {
					&:nth-of-type(odd) {
						background: color.$grey;
					}
				}
			}
		}
		///
		/// HOVERED
		///
		@if features('components', 'list', 'hovered') {
			// .hovered.list
			&.#{class('list', 'hovered')} {
				// .hovered.list > .item
				>.#{class('list', 'item')} {
					// .hovered.list > .item:hover
					&:hover {
						background: color.$grey;
						transition: components('list', 'item', 'transition');
					}
				}
			}
		}
	}
}
