/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : ALERT
/////////////////////////////////////////////////////////
///
/// if alert is enable
///
@if $components-alert {
	.#{$alert-name} {
		display: block;
		@include set-style(theme('main-bg'), theme('text-color')) {
			a {
				color: theme('text-color');
			}
		}
		@include border();
		border-radius: $alert-border-radius;
		padding: $alert-padding;
		margin: $alert-margin;
		width: 100%;
		font-weight: $alert-font-weight;
		///
		/// STYLES
		///
		@if($components-alert-styles) {
			@each $style-name, $bg-color in $alert-styles {
				@include set-style($bg-color, theme('color-negative'), $style-name) {
					border-color: darken($bg-color, 5%);
				};
			}
		}
		///
		/// SIZES
		///
		@if ($components-alert-sizes) {
			// badge sizes
			@each $size-name, $font-size, $padding in $alert-sizes {
				@include set-size($font-size, $padding, $size-name);
			}
		}
		a {
			text-decoration: underline;
			&:focus,
			&:hover,
			&:active,
			&.#{$alert-active} {
				opacity: .75;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
		>i,
		>.#{$icon-font-class-name} {
			vertical-align: text-top;
		}
	}
}