/***************************************************** 
PUNICA CSS > COMPONENTS : ALERT **********************/
//
// if alert is enable
//
@if $components-alert {
	.#{$alert-name} {
		display: block;
		@include set-style($main-bg, $main-font-color) {
			border-color: $main-bg;
			a {
				color: $main-font-color;
			}
		};
		border: $main-border-width $main-border-style $main-border-color;
		border-radius: $alert-border-radius;
		padding: $alert-padding;
		margin: $alert-margin;
		width: 100%;
		font-weight: $alert-font-weight;
		//
		// STYLES
		//
		@if($components-alert-styles) {
			@each $style-name, $bg-color in $alert-styles {
				@include set-style($bg-color, $main-invert-color, $style-name) {
					border-color: darken($bg-color, 5%);
				};
			}
		}
		//
		// SIZES
		//
		@if ($components-alert-sizes) {
			// badge sizes
			@each $size-name, $font-size, $padding in $alert-sizes {
				@include set-size($font-size, $padding, $size-name);
			}
		}
		a {
			color: $primary-color;
			text-decoration: underline;
			&:focus,
			&:hover,
			&:active,
			&.#{$alert-active} {
				opacity: .75;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
		>i,
		>.#{$icon-font-class-name} {
			vertical-align: text-top;
		}
	}
}