/***************************************************** 
PUNICA CSS > COMPONENT : ALERT > MIXINS **************/

@mixin alert-types($theme: $main-bg, $text-color: $main-font-color) {
	background: $theme;
	border-color: $theme;
	color: $text-color;
	a {
		color: $text-color;
	}
}