/***************************************************** 
PUNICA CSS > COMPONENT : ALERT > VARIABLES ***********/

/*****************************************************
CLASS NAMING *****************************************/
$alert-name				: 'alert';
$alert-active			: 'active';

/*****************************************************
STYLES ***********************************************/
$alert-types: (
	"primary": $primary-color,
	"success": $success-color,
	"warning": $warning-color,
	"error": $error-color,
	"dark": $main-dark-color,
);

/***************************************************** 
PREFERENCES ******************************************/
$alert-padding			: .6rem;
$alert-margin			: 0 0 8px;
$alert-border-radius 	: $main-border-radius;
$alert-font-weight		: 700;