/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENT : ALERT > VARIABLES
/////////////////////////////////////////////////////////

/// CLASS NAMING ========================================
$alert-name				: 'alert';
$alert-active			: 'active';

/// STYLES ==============================================
$alert-styles: (
	// style name, theme variable
	"primary"	: theme('primary-color'),
	"success"	: theme('success-color'),
	"warning"	: theme('warning-color'),
	"error"		: theme('error-color'),
	"dark"		: theme('text-color'),
);

/// SIZES ===============================================
$alert-sizes: (
	// size name, font-size, padding
    ("small", .749rem, .4rem),
    ("large", 1.1rem, .8rem)
);

/// PREFERENCES =========================================
$alert-padding			: .6rem;
$alert-margin			: 0 0 8px;
$alert-border-radius 	: theme('border-radius');
$alert-font-weight		: 700;