///
/// Punica CSS Framework
/// Components : Stats
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Options" as *;
@use "../../../Core/Global/Mixins" as *;
@use "../../../Core/Global/Colors" as color;
@use "../../../Core/Theme/Getters" as *;
@use "../../../Core/Theme/Setters" as *;

@if enabled('components', 'stats') {
	.#{class('stats', 'name')},
	a.#{class('stats', 'name')} {
		display         : inline-flex;
		flex-direction  : column;
		background-color: transparent;
		margin          : components('stats', 'margin');
		border-width    : components('stats', 'border-width');
		border-color    : components('stats', 'border-color');
		border-style    : components('stats', 'border-style');
		border-radius   : components('stats', 'border-radius');
		padding         : components('stats', 'padding');
		line-height     : components('stats', 'line-height');
		text-decoration : none;
		transition      : components('stats', 'transition');
		>.#{class('stats', 'title')},
		>.#{class('stats', 'subtitle')},
		>.#{class('stats', 'value')} {
			display: flex;
			flex-direction: column;
		}
		>.#{class('stats', 'title')} {
			font-size: components('stats', 'title', 'font-size');
		}
		>.#{class('stats', 'subtitle')} {
			font-size : components('stats', 'subtitle', 'font-size');
			margin-top: components('stats', 'subtitle', 'margin-top');

			@if theme('type') == 'light' {
				color: darken(color.$grey, 20%);
			} @else if theme('type') == 'dark' {
				color: lighten(color.$grey, 20%);
			}
		}
		>.#{class('stats', 'value')} {
			flex-direction: row;
			align-items   : center;
			font-weight   : components('stats', 'value', 'font-weight');
			font-size     : components('stats', 'value', 'font-size');
			line-height   : components('stats', 'value', 'line-height');
			>img,
		    >i {
				font-weight   : normal;
				display       : inline-block;
				vertical-align: baseline;
				font-size     : components('stats', 'media', 'font-size');
				margin-right  : components('stats', 'media', 'margin-right');
		    }
		}
		///
		/// STYLES
		///
		@if features('components', 'stats', 'styles') {
			@each $style-name, $bg-color in components('stats', 'styles') {
				@include set-style($bg-color, white, $style-name) {
					border-color: $bg-color;
					background  : transparent;
					color       : inherit;
					>.#{class('stats', 'value')} {
						color: inherit;
					    >i {
					    	color: $bg-color;
					    }
					}
				};
			}
		}
	}
	a.#{class('stats', 'name')}:hover {
		@if theme('type') == 'light' {
			background-color: darken(theme('color', 'background'), 4.75%);
		} @else {
			background-color: lighten(theme('color', 'background'), 3.25%);
		}
		
	}
}