/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : BILLBOARD
/////////////////////////////////////////////////////////
///
/// if billboard is enable
///
@if $components-billboard {
	.#{$billboard-name} {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: $billboard-default-padding;
		@include set-style('bg-color', 'text-color') {
			border-color: darken(theme('background-color'), 4.5%);
		};
		border: theme('border-width') theme('border-style') theme('border-color');
		///
		/// STYLES
		///
		@if $components-billboard-styles {
			@each $style-name, $bg-color in $billboard-styles {
				@include set-style($bg-color, 'negative-color', $style-name);
			}
		}
		///
		/// SIZES
		///
		@if $components-billboard-sizes {
			@each $size-name, $padding, $font-size in $billboard-sizes {
				@include set-size($font-size, $padding, $size-name) {
					.#{$billboard-body} {
						padding: $padding;
					}
					p {
						font-size: $font-size;
					}
				};
			}
		}
		.#{$billboard-media} {
			flex: 0 0 auto;
		}
		.#{$billboard-body} {
			padding: $billboard-default-padding;
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
    }
    ///
    /// COVER
    ///
    @if $components-billboard-cover {
		&.#{$billboard-cover} {
			min-height: 100vh;
			max-height: 100%;
			min-width: 100%;
			border: 0;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	///
	///
	///
	@include breakpoints($breakpoints-medium, 'max-width') {
		.#{$billboard-name} {
			padding: $billboard-responsive-padding;
			flex-direction: column;
			.#{$billboard-media} {
				img {
					width: 100%;
				}
			}
			.#{$billboard-body} {
				padding: $billboard-responsive-padding;
			}
			///
			/// SIZES
			///
			@if $components-billboard-sizes {
				@each $size, $padding, $font-size in $billboard-responsive-sizes {
					&.#{$size} {
						padding: $padding;
						.#{$billboard-body} {
							padding: $padding;
						}
						p {
							font-size: $font-size;
						}
					}
				}
			}
		}
	}
}