/***************************************************** 
PUNICA CSS > COMPONENTS : BILLBOARD ******************/
@import "mixins";

// if billboard is enable
@if $components-billboard {
	.#{$billboard-name} {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: $billboard-default-padding;
		@include billboard-types();
		border: $main-border-width $main-border-style $main-border-color;
		@each $type, $bg-color in $billboard-types {
			&.#{$type} {
				@include billboard-types($main-invert-color, $bg-color);
			}
		}
		@each $size, $padding, $font-size in $billboard-sizes {
			&.#{$size} {
				padding: $padding;
				.#{$billboard-body} {
					padding: $padding;
				}
				p {
					font-size: $font-size;
				}
			}
		}
		.#{$billboard-media} {
			flex: 0 0 auto;
		}
		.#{$billboard-body} {
			padding: $billboard-default-padding;
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
    }
	&.#{$billboard-cover} {
		min-height: 100vh;
		max-height: 100%;
		min-width: 100%;
		border: 0;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	@include breakpoints($breakpoints-medium, 'max-width') {
		.#{$billboard-name} {
			padding: $billboard-responsive-padding;
			flex-direction: column;
			.#{$billboard-media} {
				img {
					width: 100%;
				}
			}
			.#{$billboard-body} {
				padding: $billboard-responsive-padding;
			}
			@each $size, $padding, $font-size in $billboard-responsive-sizes {
				&.#{$size} {
					padding: $padding;
					.#{$billboard-body} {
						padding: $padding;
					}
					p {
						font-size: $font-size;
					}
				}
			}
		}
	}
}