/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : BILLBOARD > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the billboard component from here.
///
$billboard-name		: 'billboard';
$billboard-media	: 'media';
$billboard-body		: 'body';
$billboard-cover	: 'cover';