/***************************************************** 
PUNICA CSS > COMPONENT : BILLBOARD > MIXINS **********/

@mixin billboard-types($text-color: $main-font-color, $theme: $main-bg) {
	background-color: $theme;
	border-color: darken($theme, 4.5%);
	color: $text-color;
}