/***************************************************** 
PUNICA CSS > ELEMENTS : BILLBOARD > VARIABLES ********/

/*****************************************************
CLASS NAMING *****************************************/
$billboard-name		: 'billboard';
$billboard-media	: 'media';
$billboard-body		: 'body';
$billboard-cover	: 'cover';

/*****************************************************
STYLES ***********************************************/
$billboard-types	: (
	"primary": $primary-color,
	"success": $success-color,
	"warning": $warning-color,
	"error": $error-color,
);

/*****************************************************
SIZES ************************************************/
// name, padding, font-size
$billboard-sizes	: ( 
	("small", 2.5rem 1.5rem, 1em),
	("large", 7.5rem 4rem, 1.6em)
);
$billboard-responsive-sizes	: ( 
	("small", 1rem, 1em),
	("large", 1rem, 1.358em)
);

/***************************************************** 
PREFERENCES ******************************************/
$billboard-default-padding		: 4.5rem 2.5rem;
$billboard-responsive-padding	: 2.5rem 1rem;