/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : NAVBAR > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the navbar component from here.
///
$navbar-name	: 'navbar';
$navbar-section	: 'section';
$navbar-fixed	: 'fixed';
$navbar-brand	: 'brand';
$navbar-links	: 'links';
$navbar-burger	: 'burger';
$navbar-divided	: 'divided';
$navbar-spacer	: 'navbar-spacer';