/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENT : NAVBAR > MIXINS
/////////////////////////////////////////////////////////

///
/// Navbar Themes
/// @param {Color} $bg-color
/// @param {Color} $text-color
/// @param {Color} $input-bg
/// @param {Color} $input-color
/// @param {Color} $input-border-color
///
@mixin navbar-themes(
	$bg-color: $navbar-bg, 
	$text-color: $navbar-color,
	$input-bg: $navbar-color,
	$input-color: $main-font-color,
	$input-border-color: inherit

) {
	background: $bg-color;
	color: $text-color;
	.#{$button-class-group} {
		.#{$button-class} {
			color: $text-color;
			min-height: 100%;
			i, span.#{$icon-font-class-name} {
				color: $text-color;
			}
		}
	}
	.#{$navbar-brand} {
		a,
		a:visited {
			color: $text-color;
		}
	}
	section.#{$navbar-links} {
		div.#{$navbar-section} {
			input[type='text'] {
				background-color: $input-bg;
				border-color: $input-border-color;
				color: $input-color;
				&::placeholder {
					color: $text-color;
				}
				&:focus {
					outline: theme('input-outline-width') solid lighten($input-border-color, 13%);
				}
			}
		}
	}
}