/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENT : NAVBAR > MIXINS
/////////////////////////////////////////////////////////

///
/// Navbar Themes
/// @param {Color} $bg-color
/// @param {Color} $text-color
/// @param {Color} $input-bg
/// @param {Color} $input-color
/// @param {Color} $input-border-color
///
@mixin navbar-themes(
	$bg-color: $navbar-bg, 
	$text-color: $navbar-color,
	$input-bg: $navbar-color,
	$input-color: $main-font-color,
	$input-border-color: inherit
) {
	background: $bg-color;
	color: $text-color;
	.#{$button-class-group} {
		.#{$button-class} {
			color: $text-color;
			min-height: 100%;
			i, span.#{$icon-font-class-name} {
				color: $text-color;
			}
			&:hover {
				background: darken($bg-color, 10.15%);
			}
		}
	}
	///
	/// DIVIDED NAVBAR
	///
	@if($components-navbar-divided) {
		&.#{$navbar-divided} {
			.#{$button-class-group} {
				.#{$button-class},
				.#{$dropdown-name} .#{$button-class} {
					border: solid $input-border-color;
				}
			}
		}
	}
	.#{$navbar-brand} {
		a,
		a:visited {
			color: $text-color;
		}
	}
	section.#{$navbar-links} {
		div.#{$navbar-section} {
			input[type='text'] {
				background-color: $input-bg;
				border-color: $input-border-color;
				color: $input-color;
				&::placeholder {
					color: $text-color;
				}
				&:focus {
					outline: theme('input-outline-width') solid lighten($input-border-color, 13%);
				}
			}
		}
	}
}

///
/// Divided Navbar
///
@mixin navbar-divided() {
	.#{$button-class-group} {
		.#{$button-class},
		.#{$dropdown-name} .#{$button-class} {
			border-width: 0 1px !important;
		}
		&>.#{$button-class}:first-child {
			border-left-width: 0 !important;
		}
		&>.#{$button-class}:last-child {
			border-right-width: 0 !important;
		}
		.#{$dropdown-name}:first-child {
			.#{$button-class} {
				border-left-width: 0 !important;
			}
		}
		.#{$dropdown-name}:last-child {
			.#{$button-class} {
				border-right-width: 0 !important;
				border-left-width: 0 !important;
				margin-left: 1px;
			}
		}
	}
}