/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENT : NAVBAR > MIXINS
/////////////////////////////////////////////////////////

///
///
///
@mixin navbar-themes(
	$bg-color: $navbar-bg, 
	$text-color: $navbar-color,
	$input-bg: $navbar-color,
	$input-color: $main-font-color,
	$input-border-color: inherit

) {
	background: $bg-color;
	color: $text-color;
	.#{$button-class-group} {
		.#{$button-class} {
			color: $text-color;
			min-height: 100%;
			i, span.#{$icon-font-class-name} {
				color: $text-color;
			}
		}
	}
	.#{$navbar-brand} {
		a,
		a:visited {
			color: $text-color;
		}
	}
	section.#{$navbar-links} {
		div.#{$navbar-section} {
			input[type='text'] {
				background-color: $input-bg;
				border-color: $input-border-color;
				color: $input-color;
			}
		}
	}
}