/*****************************************************
PUNICA CSS > COMPONENTS : NAVBAR *********************/
@import "mixins";
//
// if navbar is enable
//
@if $components-navbar {
	.#{$navbar-name} {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		min-height: $navbar-min-height;
		background: $navbar-bg;
		color: $navbar-color;
		width: 100%;
		// grid container
		.#{$container} {
			display: flex;
			width: $navbar-container-width;
		}
		// navbar brand
		.#{$navbar-brand} {
			padding: $navbar-brand-padding;
			display: flex;
			justify-content: center;
			min-height: 100%;
			align-items: center;
			margin-right: 1rem;
			img {
				max-height: $navbar-min-height - 20px;
				padding: ($navbar-min-height / 10);
			}
			a,
			a:visited {
				font-size: $navbar-font-size;
				text-decoration: none;
				color: $navbar-color;
				display: flex;
				font-weight: bold;
			}
		}
		// navbar burger
		input[type=checkbox]##{$navbar-burger},
		.#{$navbar-burger} {
			display: none;
		}
		.#{$navbar-burger} {
			&::before {
				content: "dehaze";
				font-family: "Material Icons";
				font-size: 2.459rem;
				display: none;
				min-height: $navbar-min-height;
				min-width: $navbar-min-height;
				position: absolute;
				cursor: pointer;
				right: 0;
				top: 0;
			}
		}
		// navbar links
		section.#{$navbar-links} {
			display: flex;
			flex: 1 0 0;
			align-items: center;
			// navbar sections
			div.#{$navbar-section} {
				flex: 1 0 0;
				display: flex;
				height: 100%;
				align-items: center;
				&:not(:first-child):last-child {
					justify-content: flex-end;
				}
				input[type='text'] {
					background-color: $navbar-color;
				}
			}
		}
		&.#{$navbar-fixed} {
			position: fixed;
			top: 0;
			left: 0;
			right: 0px;
			margin-top: 0;
			transform: translateY(0px);
			z-index: 5;
		}
		.#{$button-class-group} {
			height: 100%;
			min-height: 100%;
			box-shadow: none;
			.#{$button-class} {
				background: transparent;
				border-color: transparent;
				border: none;
				color: $navbar-color;
				min-height: 100%;
				i, span.material-icons {
					color: $navbar-color;
				}
			}
		}
		.#{$button-class},
		.#{$dropdown-name} .#{$button-class} {
			font-size: $navbar-font-size;
			padding: .935rem 1.4rem;
			font-weight: 700;
		}
		// 
		// THEMES
		//
		@if $components-navbar-themes {
			@each $theme-name, $bg-color, $text-color, $input-bg, $input-color, $input-border-color in $navbar-themes {
				&.#{$theme-name} {
					@include navbar-themes($bg-color, $text-color, $input-bg, $input-color, $input-border-color);
				}
			}
		}
	}
	.#{$navbar-spacer} {
		margin-top: $navbar-spacer-top;
	}

	@include breakpoints($breakpoints-medium, 'max-width') {
		.#{$navbar-spacer} {
			margin-top: 0;
		}
		.#{$navbar-name} {
			.#{$container} {
				padding: 0;
			}
			&.#{$navbar-fixed} {
				position: relative;
			}
			section.#{$navbar-links} {
				position: absolute;
				display: block;
				width: 100%;
				height: 0;
				top: $navbar-min-height;
				left: 0;
				overflow-x: auto;
				overflow-y: hidden;
				background: $main-secondary-bg;
				z-index: 1;
				margin: 0 !important;
				padding: 0 !important;
				@include shadow();
				.#{$navbar-section},
				.#{$navbar-section} .#{$button-class-group},
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name},
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$menu-name},
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$menu-name} .#{$button-class},
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$button-class},
				.#{$navbar-section} .#{$button-class-group} .#{$button-class} {
					display: block !important;
					width: 100%;
					text-align: left;
					position: relative;
				}
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$button-class},
				.#{$navbar-section} .#{$button-class-group} .#{$button-class} {
					color: $main-font-color;
					i, span.material-icons {
						display: none;
					}
				}
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$menu-name} {
					max-height: 100%;
					box-shadow: none;
				}
			}
			.#{$navbar-burger} {
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: $navbar-min-height;
				min-width: $navbar-min-height;
				&::before {
					content: "clear";
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			input[type=checkbox]##{$navbar-burger}:not(:checked) ~ section.#{$navbar-links} {
				height: 0;
			}
			input[type=checkbox]##{$navbar-burger}:checked ~ section.#{$navbar-links} {
				height: auto;
			}
			input[type=checkbox]##{$navbar-burger}:not(:checked) ~ .#{$navbar-burger}::before {
				content: "dehaze";
			}
			input[type=checkbox]##{$navbar-burger}:checked ~ .#{$navbar-burger}::before {
				content: "clear";
			}
		}
	}
}
