/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : NAVBAR
/////////////////////////////////////////////////////////
@import "mixins";
///
/// if navbar is enable
///
@if $components-navbar {
	.#{$navbar-spacer} {
		margin-top: $navbar-spacer-top;
	}
	.#{$navbar-name} {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		min-height: $navbar-min-height;
		background: theme('primary-color');
		color: theme('color-negative');
		width: 100%;
		// grid container
		.#{$container} {
			display: flex;
			width: $container-width; // layout->grid
		}
		// navbar brand
		.#{$navbar-brand} {
			padding: $navbar-brand-padding;
			display: flex;
			justify-content: center;
			min-height: 100%;
			align-items: center;
			margin-right: 1rem;
			white-space: nowrap;
			img {
				width: 7rem;
			}
			a,
			a:visited {
				font-size: $navbar-font-size;
				text-decoration: none;
				color: theme('color-negative');
				display: flex;
				font-weight: bold;
			}
		}
		// navbar burger
		input[type=checkbox]##{$navbar-burger},
		.#{$navbar-burger} {
			display: none;
		}
		.#{$navbar-burger} {
			&::before {
				content: "#{$icon-navbar-open}"; // [*]
				font-family: "#{$icon-font-name}"; // [*]
				font-size: 2.459rem;
				display: none;
				min-height: $navbar-min-height;
				min-width: $navbar-min-height;
				position: absolute;
				cursor: pointer;
				right: 0;
				top: 0;
			}
		}
		// navbar links
		section.#{$navbar-links} {
			display: flex;
			flex: 1 0 0;
			align-items: center;
			// navbar sections
			div.#{$navbar-section} {
				flex: 1 0 0;
				display: flex;
				height: 100%;
				align-items: center;
				&:not(:first-child):last-child {
					justify-content: flex-end;
				}
				input[type='text'] {
					background-color: darken(theme('primary-color'), 7%);
					color: theme('color-negative');
					border-color: lighten(theme('primary-color'), 8%);
					&::placeholder {
						color: theme('color-negative');
					}
					&:focus {
						outline: theme('input-outline-width') solid lighten(theme('primary-color'), 26%);
					}
				}
			}
		}
		&.#{$navbar-fixed} {
			position: fixed;
			top: 0;
			left: 0;
			right: 0px;
			margin-top: 0;
			transform: translateY(0px);
			z-index: 5;
		}
		.#{$button-class-group} {
			height: 100%;
			min-height: 100%;
			box-shadow: none;
			.#{$button-class},
			.#{$dropdown-name} .#{$button-class} {
				background: transparent;
				border-color: transparent;
				color: theme('color-negative');
				min-height: 100%;
				border-radius: 0;
				border: 0;
				i, span.#{$icon-font-class-name} {
					color: theme('color-negative');
				}
				&:hover {
					background: darken(theme('primary-color'), 10.15%);
					border-radius: 0;
				}
			}
			.#{$dropdown-name}:last-child,
			.#{$dropdown-name}:last-child > .#{$button-class}:first-child,
			.#{$dropdown-name}:last-child > .#{$button-class}:last-child {
				border-radius: 0;
			}
		}
		///
		/// DIVIDED NAVBAR
		///
		@if $components-navbar-divided {
			&.#{$navbar-divided} {
				@include navbar-divided();
				.#{$button-class-group} {
					.#{$button-class},
					.#{$dropdown-name} .#{$button-class} {
						border: solid darken(theme('primary-color'), 10.15%);
					}
				}
			}
		}
		.#{$button-class},
		.#{$dropdown-name} .#{$button-class} {
			font-size: $navbar-font-size;
			padding: .935rem 1.4rem;
			font-weight: 700;
		}
		/// 
		/// NAVBAR THEMES
		///
		@if $components-navbar-themes {
			@each $theme-name, $bg-color, $text-color, $input-bg, $input-color, $input-border-color in $navbar-themes {
				&.#{$theme-name} {
					@include navbar-themes($bg-color, $text-color, $input-bg, $input-color, $input-border-color);
				}
			}
		}
		///
		/// NAVBAR SIZES
		///
		@if $components-navbar-sizes {
			@each $size-name, $min-height, $font-size, $button-padding, $spacer-top in $navbar-sizes {
				&.#{$size-name} {
					min-height: $min-height;
					& .#{$button-class},
					& .#{$dropdown-name} .#{$button-class} {
						font-size: $font-size;
						padding: $button-padding;
					}
					@at-root .#{$navbar-spacer}-#{$size-name} {
						margin-top: $spacer-top !important;
					}
					@include breakpoints($breakpoints-medium, 'max-width') {
						@at-root .#{$navbar-spacer}-#{$size-name} {
							margin-top: $spacer-top / 2 !important;
						}
					}
				}
			}
		}
	}
	//
	@include breakpoints($breakpoints-medium, 'max-width') {
		.#{$navbar-spacer} {
			margin-top: 0;
		}
		.#{$navbar-name} {
			.#{$container} {
				padding: 0;
			}
			&.#{$navbar-fixed} {
				position: relative;
			}
			section.#{$navbar-links} {
				position: absolute;
				display: block;
				width: 100%;
				height: 0;
				top: $navbar-min-height;
				left: 0;
				overflow-x: auto;
				overflow-y: hidden;
				background: theme('color-secondary');
				z-index: 1;
				margin: 0 !important;
				padding: 0 !important;
				@include shadow();
				.#{$navbar-section},
				.#{$navbar-section} .#{$button-class-group},
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name},
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$menu-name},
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$menu-name} .#{$button-class},
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$button-class},
				.#{$navbar-section} .#{$button-class-group} .#{$button-class} {
					display: block !important;
					width: 100%;
					text-align: left;
					position: relative;
				}
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$button-class},
				.#{$navbar-section} .#{$button-class-group} .#{$button-class} {
					color: theme('text-color');
					background: theme('color-secondary');
					i, span.#{$icon-font-class-name} {
						display: none;
					}
				}
				.#{$navbar-section} .#{$button-class-group} .#{$dropdown-name} .#{$menu-name} {
					max-height: 100%;
					box-shadow: none;
				}
			}
			.#{$navbar-burger} {
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: $navbar-min-height;
				min-width: $navbar-min-height;
				&::before {
					content: "#{$icon-navbar-close}"; // [*]
					display: flex;
					align-items: center;
					justify-content: center;
					top: auto;
				}
			}
			///
			/// NAVBAR SIZES
			///
			@if $components-navbar-sizes {
				@each $size-name, $min-height, $font-size, $button-padding, $spacer-top in $navbar-sizes {
					&.#{$size-name} {
						& .#{$navbar-burger},
						& .#{$navbar-burger}::before {
							min-height: $min-height;
							min-width: $min-height;
							font-size: 1.359em;
						}
						section.#{$navbar-links} {
							top: $min-height;
						}
					}
				}
			}
			input[type=checkbox]##{$navbar-burger}:not(:checked) ~ section.#{$navbar-links} {
				height: 0;
			}
			input[type=checkbox]##{$navbar-burger}:checked ~ section.#{$navbar-links} {
				height: auto;
			}
			input[type=checkbox]##{$navbar-burger}:not(:checked) ~ .#{$navbar-burger}::before {
				content: "#{$icon-navbar-open}"; // [*]
			}
			input[type=checkbox]##{$navbar-burger}:checked ~ .#{$navbar-burger}::before {
				content: "#{$icon-navbar-close}"; // [*]
			}
		}
	}
}
/*
REFERENCES ******************************************
[*] Defined at Elements -> Icon -> variables.scss
https://material.io/resources/icons/
*****************************************************/