/***************************************************** 
PUNICA CSS > COMPONENTS : MENU > VARIABLES ***********/

/* 
NAMING ***********************************************/
$navbar-name			: 'navbar';
$navbar-section			: 'section';
$navbar-fixed			: 'fixed';
$navbar-shadowed		: 'shadowed';
$navbar-brand			: 'brand';
$navbar-links			: 'links';
$navbar-burger			: 'burger';
$navbar-spacer			: 'navbar-spacer'; // if nav is fixed

$navbar-bg				: $primary-color;
$navbar-color			: $main-invert-color;
$navbar-min-height		: 80px;
$navbar-brand-padding	: 0 50px;
$navbar-font-size		: 1.1em;
$navbar-container-width : 80%;
$navbar-shadow			: 0 2px 25px 0 rgba(0, 0, 0, 0.23);
$navbar-spacer-top		: $navbar-min-height + 30px;