/***************************************************** 
PUNICA CSS > COMPONENTS : MENU > VARIABLES ***********/

/* 
NAMING ***********************************************/
$navbar-name			: 'navbar';
$navbar-section			: 'section';
$navbar-fixed			: 'fixed';
$navbar-shadowed		: 'shadowed';
$navbar-brand			: 'brand';
$navbar-links			: 'links';
$navbar-burger			: 'burger';
$navbar-spacer			: 'navbar-spacer'; // if nav is fixed
/* 
STYLES ***********************************************/
// default theme style
$navbar-bg				: $primary-color;
$navbar-color			: $main-invert-color;
// you can add your custom styles.
// theme name, bg color, text color, input bg, input color, input border color
$navbar-themes: ( 
	("light", $main-bg, $main-font-color, $main-bg, $main-font-color),
	("dark", darken(#414552, 5%), $main-invert-color, lighten(#414552, 7%), $main-invert-color, lighten(#414552, 7%))
);
/*
PREFERENCES ******************************************/
$navbar-min-height		: 80px;
$navbar-brand-padding	: 0 75px;
$navbar-font-size		: 1.1em;
$navbar-container-width : 80%;
$navbar-shadow			: 0 2px 25px 0 rgba(0, 0, 0, 0.23);
$navbar-spacer-top		: $navbar-min-height + 20px;