///////////////////////////////////////////////////////// 
/// PUNICA CSS > COMPONENTS : TIMELINE > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the timeline component from here.
///
$timeline-container	: 'timeline';
$timeline-item		: 'activity';
$timeline-author	: 'author';
$timeline-body		: 'body';
$timeline-type		: 'type';
$timeline-date		: 'date';
$timeline-media		: 'media';
$timeline-actions	: 'actions';