/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : TIMELINE
/////////////////////////////////////////////////////////
///
/// if timeline is enable
///
@if options('timeline', 'enable') {
	.#{class('timeline', 'name')} {
		.#{class('timeline', 'item')} {
			display: flex;
			padding: 1.25em 2em 2.85em;
			position: relative;
			flex-direction: column;
			justify-content: center;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: variables('timeline', 'border-width');
				background-color: theme('border', 'color');
			}
			&:target .#{class('timeline', 'type')} {
				border-color: theme('color', 'primary');
				box-shadow: 0 0 0.2em theme('color', 'primary');
			}
			.#{class('timeline', 'type')} {
				position: absolute;
				z-index: 1;
				display: flex;
				width: variables('timeline', 'type-width');
				height: variables('timeline', 'type-width');
				top: 13px;
				left: -((variables('timeline', 'type-width') / 2px) - variables('timeline', 'border-width'));
				align-items: center;
				background-color: theme('color', 'secondary');
				border: 2px theme('border', 'style') theme('border', 'color');
				border-radius: 50%;
				justify-content: center;
				flex-shrink: 0;
				@include shadow();
				///
				/// STYLES
				///
				@if options('timeline', 'features', 'styles') {
					@each $type, $bg-color, $color in $timeline-styles {
					    &.#{$type} {
							background-color: $bg-color;
							color: $color;
							border-color: darken($bg-color, 5%);
						}
					}
				}
			}
			.#{class('timeline', 'author')},
			.#{class('timeline', 'body')},
			.#{class('timeline', 'date')},
			.#{class('timeline', 'actions')},
			.#{class('timeline', 'media')} {
				min-width: 0;
				max-width: 100%;
				color: theme('color', 'text');
				flex: auto;
				margin-left: 10px;
				width: 100%;
			}
			.#{class('timeline', 'author')} {
				font-weight: bold;
				font-size: 1rem;
				color: darken(theme('color', 'text'), 12%);
			}
			.#{class('timeline', 'date')} {
				font-size: .9em;
				opacity: .6;
			}
			///
			/// MEDIA
			///
			@if options('timeline', 'features', 'media') {
				.#{class('timeline', 'media')} {
					margin-top: 16px;
					display: flex;
					flex-wrap: wrap;
					@include embedded-media();
					img {
						display: block;
					}
				}
				///
				/// MEDIA GROUP
				///
				@if options('timeline', 'features', 'media-group') {
					@include media-group-specs(class('timeline', 'media'));
				}
			}
			.#{class('timeline', 'actions')} {
				margin-top: 16px;
			}
			&:last-child::before {
				background: linear-gradient(180deg, theme('border', 'color') 45%, rgba(255,255,255,0) 100%);
			}
			&:first-child::before {
				background: linear-gradient(0deg, theme('border', 'color') 45%, rgba(255,255,255,0) 100%);
			}
		}
	}
}