/***************************************************** 
PUNICA CSS > COMPONENTS : TIMELINE *******************/
//
// if timeline is enable
//
@if $components-timeline {
	.#{$timeline-container} {
		.#{$timeline-item} {
			display: flex;
			padding: $timeline-padding;
			position: relative;
			flex-direction: column;
			justify-content: center;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: $timeline-border-width;
				background-color: $main-border-color;
			}
			&:target .#{$timeline-type} {
				border-color: $primary-color;
				box-shadow: 0 0 0.2em $primary-color;
			}
			.#{$timeline-type} {
				position: absolute;
				z-index: 1;
				display: flex;
				width: $timeline-type-width;
				height: $timeline-type-width;
				top: 13px;
				left: -(($timeline-type-width / 2px) - $timeline-border-width);
				align-items: center;
				background-color: $main-secondary-bg;
				border: 2px $main-border-style $main-border-color;
				border-radius: 50%;
				justify-content: center;
				flex-shrink: 0;
				@include shadow();
				//
				// STYLES
				//
				@if $components-timeline-styles {
					@each $type, $color in $timeline-styles {
					    &.#{$type} {
							background-color: $color;
							color: $main-invert-color;
							border-color: darken($color, 5%);
						}
					}
				}
			}
			.#{$timeline-author},
			.#{$timeline-body},
			.#{$timeline-date},
			.#{$timeline-actions},
			.#{$timeline-media} {
				min-width: 0;
				max-width: 100%;
				color: $main-font-color;
				flex: auto;
				margin-left: 10px;
				width: 100%;
			}
			.#{$timeline-author} {
				font-weight: bold;
				font-size: 1rem;
				color: darken($main-font-color, 12%);
			}
			.#{$timeline-date} {
				font-size: .9em;
				opacity: .6;
			}
			//
			// MEDIA
			//
			@if $components-timeline-media {
				.#{$timeline-media} {
					margin-top: 16px;
					display: flex;
					flex-wrap: wrap;
					@include embedded-media();
					img {
						display: block;
					}
				}
				//
				// MEDIA GROUP
				//
				@if $components-timeline-media-group {
					@include media-group-specs($timeline-media);
				}
			}
			.#{$timeline-actions} {
				margin-top: 16px;
			}
			&:last-child::before {
				background: linear-gradient(180deg, $main-border-color 45%, rgba(255,255,255,0) 100%);
			}
			&:first-child::before {
				background: linear-gradient(0deg, $main-border-color 45%, rgba(255,255,255,0) 100%);
			}
		}
	}
}