///////////////////////////////////////////////////////// 
/// PUNICA CSS > COMPONENTS : TIMELINE > VARIABLES
/////////////////////////////////////////////////////////

/// STYLES ==============================================
$timeline-styles: (
	("primary", theme('color', 'primary'), theme('color', 'negative')),
	("success", theme('color', 'success'), theme('color', 'negative')),
	("warning", theme('color', 'warning'), theme('color', 'negative')),
	("error", theme('color', 'error'), theme('color', 'negative')),
	("dark", theme('color', 'text'), theme('color', 'grey')),
);

/// PREFERENCES =========================================
$timeline-type-width	: 32px;
$timeline-border-width	: 1px;