///////////////////////////////////////////////////////// 
/// PUNICA CSS > COMPONENTS : TIMELINE > VARIABLES
/////////////////////////////////////////////////////////

/// STYLES ==============================================
$timeline-styles: (
	("primary", theme('primary-color'), theme('color-negative')),
	("success", theme('success-color'), theme('color-negative')),
	("warning", theme('warning-color'), theme('color-negative')),
	("error", theme('error-color'), theme('color-negative')),
	("dark", theme('text-color'), theme('color-grey')),
);

/// PREFERENCES =========================================
$timeline-type-width	: 32px;
$timeline-border-width	: 1px;