/***************************************************** 
PUNICA CSS > COMPONENTS : TIMELINE > VARIABLES *******/

/***************************************************** 
CLASS NAMING *****************************************/
$timeline-container		: 'timeline';
$timeline-item			: 'activity';
$timeline-author		: 'author';
$timeline-body			: 'body';
$timeline-type			: 'type';
$timeline-date			: 'date';
$timeline-media			: 'media';
$timeline-actions		: 'actions';

/***************************************************** 
STYLES ***********************************************/
$timeline-types: (
	"primary": $primary-color,
	"success": $success-color,
	"warning": $warning-color,
	"error": $error-color,
	"dark": $main-dark-color,
);

/***************************************************** 
PREFERENCES ******************************************/
$timeline-type-width	: 32px;
$timeline-border-width	: 1px;
$timeline-padding		: 1.25em 2em 2.85em;
$timeline-type-bg		: $main-secondary-bg;