/***************************************************** 
PUNICA CSS > ELEMENTS : LABEL ************************/
@import "mixins";
//
// if label is enable
//
@if $elements-label {
	a.#{$label-name},
	.#{$label-name} {
		display: inline-block;
		font-weight: $label-font-weight;
		line-height: $label-line-height;
		margin: $label-margin;
		border-radius: $label-border-radius;
		text-decoration: none;
		border: $main-border-width solid $main-border-color;
		@include shadow(0, .155em, 0, rgba(0, 0, 0, 0.095));
		@include set-style($main-bg, $main-font-color) {
			border-color: $main-border-color;
		};
		@include set-size($label-font-size, $label-padding);
		//
		// STYLES
		//
		@if ($elements-label-styles) {
			@each $style-name, $bg-color in $label-styles {
				@include set-style($bg-color, $main-invert-color, $style-name) {
					border-color: darken($bg-color, 7%);
				};
			}
		}
		//
		// SIZES
		//
		@if ($elements-label-sizes) {
			@each $size-name, $padding, $font-size in $label-sizes {
				@include set-size($font-size, $padding, $size-name);
			}
		}
		>i,
		>.material-icons {
			vertical-align: text-top;
		}
	}
}