/***************************************************** 
PUNICA CSS > ELEMENTS : LABEL > VARIABLES ************/

/*****************************************************
CLASS NAMING *****************************************/
$label-name		: 'label';

/*****************************************************
STYLES ***********************************************/
$label-styles	: (
	"primary": $primary-color,
	"success": $success-color,
	"warning": $warning-color,
	"error": $error-color,
	"dark": $main-dark-color,
);

/***************************************************** 
SIZES ************************************************/
// size name, padding, font-size 
$label-sizes: (
    ("small", .18rem .85rem, .8195em),
    ("large", .415rem 1.159rem, 1em)
);

/***************************************************** 
PREFERENCES ******************************************/
$label-line-height		: 1.2;
$label-font-size		: .9195em;
$label-font-weight		: 700;
$label-padding			: 0.28rem 0.9rem;
$label-margin			: .1rem .05rem;
$label-border-radius	: $main-border-radius;