/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : LABEL > VARIABLES
/////////////////////////////////////////////////////////

/// STYLES ==============================================
$label-styles	: (
	"primary"	: theme('color', 'primary'),
	"success"	: theme('color', 'success'),
	"warning"	: theme('color', 'warning'),
	"error"		: theme('color', 'error'),
	"dark"		: theme('color', 'dark'),
);

/// SIZES =============================================== 
$label-sizes: (
	// size name, padding, font-size
    ("small", .18rem .85rem, .8195em),
    ("large", .415rem 1.159rem, 1em)
);

/// PREFERENCES =========================================
$label-font-size		: .9195em;
$label-padding			: 0.28rem 0.9rem;
$label-margin			: .1rem .05rem;