/////////////////////////////////////////////////////////
/// PUNICA CSS > ELEMENTS : LABEL > VARIABLES
/////////////////////////////////////////////////////////

/// STYLES ==============================================
$label-styles	: (
	"primary"	: theme('primary-color'),
	"success"	: theme('success-color'),
	"warning"	: theme('warning-color'),
	"error"		: theme('error-color'),
	"dark"		: theme('color-dark'),
);

/// SIZES =============================================== 
$label-sizes: (
	// size name, padding, font-size
    ("small", .18rem .85rem, .8195em),
    ("large", .415rem 1.159rem, 1em)
);

/// PREFERENCES =========================================
$label-line-height		: 1.2;
$label-font-size		: .9195em;
$label-font-weight		: 700;
$label-padding			: 0.28rem 0.9rem;
$label-margin			: .1rem .05rem;