/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : TOOLTIP > CLASSNAMES
/////////////////////////////////////////////////////////
///
/// you can customize the class names 
/// of the tooltip component from here.
///
$tooltip-name: 'tooltip';
$tooltip-text: 'text';
// directions
$tooltip-right: 'right';
$tooltip-left: 'left';
$tooltip-top: 'top';