/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : TOOLTIP
/////////////////////////////////////////////////////////
///
/// if tooltip is enable
///
@if options('tooltip', 'enable') {
	.#{class('tooltip', 'name')} {
		display: inline-flex;
		justify-content: center;
        align-items: center;
		position: relative;
		cursor: default;
		.#{class('tooltip', 'text')} {
			position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
			color: theme('color', 'negative');
			font-size: .9em;
			font-weight: bold;
			visibility: hidden;
			background-color: theme('color', 'dark');
			border-radius: theme('border', 'radius');
			min-width: 100px;
			max-width: 180px;
			padding: 5px;
			top: 120%;
			opacity: 0;
			transition: opacity 0.18s;
			z-index: 1;
			&::after {
				content: "";
				position: absolute;
				top: auto;
				bottom: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent theme('color', 'dark') transparent;
			}
		}
        &.#{class('tooltip', 'left')},
        &.#{class('tooltip', 'right')},
        &.#{class('tooltip', 'top')} {
            &>.#{class('tooltip', 'text')} {
                top: auto;
                 &::after {
                    bottom: auto;
                 }
            }
        }
        &.#{class('tooltip', 'right')} {
            &>.#{class('tooltip', 'text')} {
                left: 110%;
                &::after {
                    right: 100%;
                    left: auto;
                    border-color: transparent theme('color', 'dark') transparent transparent;
                }
            }
        }
        &.#{class('tooltip', 'left')} {
            &>.#{class('tooltip', 'text')} {
                right: 110%;
                &::after {
                    left: 100%;
                    right: auto;
                    margin: auto -5px auto auto ;
                    border-color: transparent transparent transparent theme('color', 'dark');
                }
            }
        }
        &.#{class('tooltip', 'top')} {
            &>.#{class('tooltip', 'text')} {
                bottom: 120%;
                &::after {
                    top: 100%;
                    border-color: theme('color', 'dark') transparent transparent transparent;
                }
            }
        }
		&:hover .#{class('tooltip', 'text')} {
			visibility: visible;
			opacity: 1;
		}
	}
}