/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : TOOLTIP
/////////////////////////////////////////////////////////
///
/// if tooltip is enable
///
@if $components-tooltip {
	.#{$tooltip-name} {
		display: inline-flex;
		justify-content: center;
		position: relative;
		cursor: default;
		.#{$tooltip-text} {
			position: absolute;
			color: theme('color-negative');
			font-size: .9em;
			font-weight: 600;
			text-align: center;
			visibility: hidden;
			background-color: theme('color-dark');
			border-radius: theme('border-radius');
			min-width: 100px;
			max-width: 180px;
			padding: 5px;
			top: 120%;
			opacity: 0;
			transition: opacity 0.18s;
			z-index: 1;
			&::after {
				content: "";
				position: absolute;
				top: auto;
				bottom: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent theme('color-dark') transparent;
			}
		}
		&:hover .#{$tooltip-text} {
			visibility: visible;
			opacity: 1;
		}
	}
}