/////////////////////////////////////////////////////////
/// PUNICA CSS > COMPONENTS : TOOLTIP > VARIABLES
/////////////////////////////////////////////////////////

/// CLASS NAMING ========================================
$tooltip-name: 'tooltip';
$tooltip-text: 'text';

/// PREFERENCES =========================================
$tooltip-color			: theme('color-negative');
$tooltip-background		: theme('color-dark');
$tooltip-font-size		: .9em;
$tooltip-font-weight	: 600;
$tooltip-min-width		: 100px;
$tooltip-max-width		: 180px;
$tooltip-padding		: 5px;