///
/// Punica CSS Framework
/// v3.0 Theme API
/// 
/// Note: you can also add your custom theme map here.
/// 
/// If you want to compile your own theme map, don't forget to change 
/// the "$active-theme" variable in the punica.scss file.
/// 

@use "Core/Global/Sass" as *;

$themes: (
	//
	// 01. Default Theme (beta)
	//
	default: (
		'name'      : 'Default Theme',
		'type'      : 'light', // light or dark (required*),
		'typography': (
			'font-family': 'Inter Tight',
			'font-url'   : 'https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;700&display=swap', // embed/import url
			'font-size'  : 1rem,
			'font-weight': 400,
			'line-height': 1.7
		),
		'color': (
			'text'      : #202123,
			'background': white,
			'primary'   : #3266ec,
			'success'   : #53970e,
			'warning'   : #ac7c09,
			'error'     : #c11c3a,
			'dark'      : #3f4359
		),
		'border': (
			'color' : #c6c6c6,
			'width' : 1px,
			'style' : solid,
			'radius': 2px,
		),
		'shadow': 0 .25em .5em 0 rgba(0, 0, 0, 0.14),
		//////////////////////////////////////////////////////////
		// You can use this section to override/change
		// the all default variables in the options.scss API file.
		'classnames': (
			/*
			'panel': (
				'name'    : 'box',
				'headline': 'spot'
			),
			'grid': (
				'offset': 'off'
			)
			*/
		),
		'components': (
			'tabnav': (
				'border-bottom': 4px
			),
			/*
			'navbar': (
				'brand': (
					'img-width': 9rem
				)
			),
			'alert': (
				'enabled': false
			)
			*/
		),
		'elements': (
			'button': (
				'font-weight': 500
			)
		),
		// You can use this section to override/change the 
		// all default utility variables in the 
		// Modules/Utilities/index.scss API file.
		'utilities': (
			//'enabled': false, // this option disables all helpers (default true).
			/*
			'flex-wrap': (
				'enabled': false 
			),
			'overflow': (
				'prefix': 'flow-' 
			)
			*/
		)
		//////////////////////////////////////////////////////////
	),
	//
	// 02. Dark Theme (beta)
	//
	dark: (
		'name'      : 'Dark Theme',
		'type'      : 'dark', // light or dark (required*),
		'typography': (
			'font-family': 'Inter Tight',
			'font-url'   : 'https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;700&display=swap', // embed/import url
			'font-size'  : 1rem,
			'font-weight': 400,
			'line-height': 1.7
		),
		'color': (
			'text'      : white,
			'background': #22232b,
			'primary'   : #4975f9,
			'success'   : #2ea668,
			'warning'   : #b78122,
			'error'     : #b94343,
			'dark'      : #32343E
		),
		'border': (
			'color' : #474a59,
			'width' : 1px,
			'style' : solid,
			'radius': 2px,
		),
		'shadow': 0 .2em 1em 0 rgba(0,0,0,.17),
		//////////////////////////////////////////////////////////
		// You can use this section to override/change
		// the all default variables in the options.scss API file.
		'classnames': (),
		'components': (
			'tabnav': (
				'border-bottom': 4px
			),
			'tooltip': (
				'color'           : black,
				'font-weight'     : normal,
				'background-color': white
			)
		),
		'elements': (
			'button': (
				'font-weight': 500
			),
			'form': (
				'input': (
					'border-color': #5f6171
				)
			)
		),
		// You can use this section to override/change the 
		// all default variables of utilities in the 
		// Modules/Utilities/index.scss API file.
		'utilities': ()
		//////////////////////////////////////////////////////////
	),
);