///
/// Punica CSS Framework : Themes
/// Note: you can also add your custom theme map here.
/// 
/// If you want to compile your own theme map, don't forget to change 
/// the "$active-theme" variable in the punica.scss file.
/// 

@use "Core/Global/Sass" as *;

$themes: (
	//
	// 01. Default Theme (beta)
	//
	default: (
		'name'      : 'Default Theme',
		'type'      : 'light', // light or dark (required*),
		'typography': (
			'font-family': 'Inter Tight',
			'font-url'   : 'https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;700&display=swap', // embed/import url
			'font-size'  : 1rem,
			'font-weight': 400,
			'line-height': 1.7
		),
		'color': (
			'text'      : #202123,
			'background': white,
			'primary'   : #3266ec,
			'success'   : #4f971c,
			'warning'   : #c68916,
			'error'     : #d02645,
			'dark'      : #393b42
		),
		'border': (
			'color' : #c6c6c6,
			'width' : 1px,
			'style' : solid,
			'radius': 2px,
		),
		'shadow': (
			'horizontal': 0,
			'vertical'  : .25em,
			'blur'      : .5em,
			'spread'    : 0,
			'color'     : rgba(0, 0, 0, 0.14),
		),
		//////////////////////////////////////////////////////////
		// You can use this section to override/change
		// the all default variables in the options.scss API file.
		'classnames': (
			/*
			'panel': (
				'name'    : 'box',
				'headline': 'spot'
			),
			'grid': (
				'offset': 'off'
			)
			*/
		),
		'components': (
			'tabnav': (
				'border-bottom': 4px
			),
			/*
			'navbar': (
				'brand': (
					'img-width': 9rem
				)
			),
			'alert': (
				'enabled': false
			)
			*/
		),
		'elements': (
			'button': (
				'font-weight': 500
			)
		),
		'utilities': (
			/*
			'helpers': (
				'enabled': false
			)
			*/
		)
		//////////////////////////////////////////////////////////
	),
	//
	// 02. Dark Theme (pre-alpha)
	//
	dark: (
		'name'      : 'Dark Theme',
		'type'      : 'dark', // light or dark (required*),
		'typography': (
			'font-family': 'IBM Plex Sans Hebrew',
			'font-url'   : 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@400;600;700&display=swap', // embed/import url
			'font-size'  : 13px,
			'font-weight': 400,
			'line-height': 1.7
		),
		'color': (
			'text'      : white,
			'background': #252831,
			'primary'   : #3e5bb2,
			'success'   : #2f8f5d,
			'warning'   : #ab7d2d,
			'error'     : #ba3d3d,
			'dark'      : lighten(#252831, 4.5%)
		),
		'border': (
			'color' : lighten(#252831, 17%),
			'width' : 1px,
			'style' : solid,
			'radius': 4px,
		),
		'shadow': (
			'horizontal': 0,
			'vertical'  : 1px,
			'blur'      : 4px,
			'spread'    : 0,
			'color'     : rgba(0, 0, 0, 0.20),
		),
		//////////////////////////////////////////////////////////
		// You can use this section to override/change
		// the all default variables in the options.scss API file.
		'classnames': (),
		'components': (
			'card': (
				'background-color' : lighten(#252831, 1.75%)
			),
			'tooltip': (
				'color'           : black,
				'font-weight'     : normal,
				'background-color': white
			)
		),
		'elements': (
			'form': (
				'input': (
					'background-color': lighten(#252831, 4.5%),
					'outline-color'   : white,
				),
			)
		),
		'utilities': ()
		//////////////////////////////////////////////////////////
	),
);