///
/// Punica CSS Framework
/// Components : Menu
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Options" as *;
@use "../../../Core/Global/Sass" as *;
@use "../../../Core/Global/Mixins" as *;
@use "../../../Core/Global/Colors" as color;
@use "../../../Core/Theme/Getters" as *;
@use "../../../Core/Theme/Setters" as *;

@if enabled('components', 'menu') {
	.#{class('menu', 'name')} {
		font-family     : components('menu', 'font-family');
		background-color: components('menu', 'background-color');
		border-radius   : components('menu', 'border-radius');
		margin          : components('menu', 'margin');
		width           : components('menu', 'width');
		padding         : components('menu', 'padding');
		min-width       : components('menu', 'min-width');
		list-style      : components('menu', 'list-style');
		box-shadow      : components('menu', 'box-shadow');
		z-index         : components('menu', 'z-index');
		// menu title
		.#{class('menu', 'title')} {
			font-size     : components('menu', 'title', 'font-size');
			min-height    : components('menu', 'title', 'min-height');
			color         : components('menu', 'title', 'color');
			padding       : components('menu', 'title', 'padding');
			font-weight   : components('menu', 'title', 'font-weight');
			letter-spacing: components('menu', 'title', 'letter-spacing');
		}
		// menu item
		.#{class('menu', 'item')} {
			padding        : 0; // default container
			position       : relative;
			text-decoration: components('menu', 'item', 'text-decoration');
			text-align     : components('menu', 'item', 'text-align');
			& > a {
				display        : block;
				text-decoration: components('menu', 'item', 'text-decoration');
				color          : components('menu', 'item', 'color');
				width          : components('menu', 'item', 'width');
				padding        : components('menu', 'item', 'padding');
				font-size      : components('menu', 'item', 'font-size');
				font-weight    : components('menu', 'item', 'font-weight');
				transition     : components('menu', 'item', 'transition');
				&:hover {
					color           : components('menu', 'item', 'hover', 'color');
					transition      : components('menu', 'item', 'transition');
					background-color: components('menu', 'item', 'hover', 'background-color');
				}
				&:active,
				&:focus,
				&.#{class('menu', 'active')} {
					color           : components('menu', 'item', 'hover', 'color');
					transition      : components('menu', 'item', 'transition');
					background-color: components('menu', 'item', 'hover', 'background-color');
				}
			}
			i {
				@if theme('type') == 'light' {
					color: darken(color.$grey, 28%);
				} @else if theme('type') == 'dark' {
					color: lighten(color.$grey, 28%);
				}
				font-size     : components('menu', 'icon', 'font-size');
				margin-right  : components('menu', 'icon', 'margin-right');
				vertical-align: components('menu', 'icon', 'vertical-align');
			}
			.#{class('menu', 'name')} {
				padding: components('menu', 'item', 'sub-menu', 'padding');
			}
		}
		// menu badge
		.#{class('menu', 'badge')} {
			position : absolute;
			right    : components('menu', 'badge', 'right');
			top      : components('menu', 'badge', 'top');
			padding  : components('menu', 'badge', 'padding');
			font-size: components('menu', 'badge', 'font-size');
		}
		// small menu
		&.#{class('menu', 'small')} > .#{class('menu', 'item')} a {
			font-size: components('menu', 'item', 'small-menu', 'font-size');
		}
		// divided menu
		&.#{class('menu', 'divided')} {
			.#{class('menu', 'item')} {
				border-bottom: set-border();
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}
