///
/// Punica CSS Framework
/// Elements : Table
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Options" as *;
@use "../../../Core/Global/Colors" as color;
@use "../../../Core/Theme/Getters" as *;
@use "../../../Core/Theme/Setters" as *;

@if enabled('elements', 'table') {
	.#{class('table', 'name')} {
		position       : elements('table', 'position');
		border-collapse: elements('table', 'border-collapse');
		border-spacing : elements('table', 'border-spacing');
		width          : elements('table', 'width');
		max-width      : elements('table', 'max-width');
		text-align     : elements('table', 'text-align');
		margin-bottom  : elements('table', 'margin-bottom');
		caption {
			text-align      : elements('table', 'caption', 'text-align');
			color           : elements('table', 'caption', 'color');
			font-family     : elements('table', 'caption', 'font-family');
			font-size       : elements('table', 'caption', 'font-size');
			font-weight     : elements('table', 'caption', 'font-weight');
			padding         : elements('table', 'caption', 'padding');
			border-bottom   : elements('table', 'caption', 'border-bottom');
			background-color: elements('table', 'caption', 'background-color');
		}
		///
		/// STRIPED
		///
		@if features('elements', 'table', 'striped') {
			&.#{class('table', 'striped')} {
				tr,
				tbody tr {
					&.#{class('table', 'active')} {
						@extend .#{class('table', 'active')};
					}
					&:nth-of-type(odd) {
						background-color: elements('table', 'striped', 'background-color');
					}
				}
			}
		}
		/// 
		/// HOVERED
		///
		@if features('elements', 'table', 'hovered') {
			&.#{class('table', 'hovered')} {
				tr,
				tbody tr {
					&:hover {
						background-color: elements('table', 'hover', 'background-color');
						color           : elements('table', 'hover', 'color');
					}
				}
			}
		}
		tr,
		tbody tr {
			transition: elements('table', 'transition');
			&.#{class('table', 'active')},
			&.#{class('table', 'active')}:hover {
				color           : elements('table', 'active', 'color');
				background-color: elements('table', 'active', 'background-color');
			}
		}
		td,
		th {
			border-bottom: set-border();
			text-align   : inherit;
		}
		td {
			padding: elements('table', 'td', 'padding');
		}
		th {
			border-bottom-color: elements('table', 'th', 'border-bottom-color');
		}
		thead tr {
			background: transparent !important;
			th {
				font-family     : elements('table', 'th', 'font-family');
				font-size       : elements('table', 'th', 'font-size');
				font-weight     : elements('table', 'th', 'font-weight');
				color           : elements('table', 'th', 'color');
				padding         : elements('table', 'th', 'padding');
				background-color: elements('table', 'th', 'background-color');
			}
		}
	}
}