///
/// Punica CSS Framework
/// Components : Badge
///

@use "../../../Core/Global/Getters" as *;
@use "../../../Core/Global/Colors" as color;
@use "../../../Core/Theme/Getters" as *;
@use "../../../Core/Theme/Setters" as *;
@use "variables";

/// if badge is enable
@if enabled('components', 'badge') {
	.#{class('badge', 'name')} {
		@include set-style(color.$grey, theme('color', 'text')) {
			position: relative;
			white-space: nowrap;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			border-radius: components('badge', 'border-radius');
			border: theme('border', 'width') theme('border', 'style') darken(color.$grey, 6.5%);
		};
		@include set-size(1em, 1px 6px);
		///
		/// STYLES
		///
		@if features('components', 'badge', 'styles') {
			@each $name, $bg-color in variables.$styles {
				@include set-style($bg-color, white, $name) {
					border-color: darken($bg-color, 6.5%);
				};
			}
		}
		///
		/// SIZES
		///
		@if features('components', 'badge', 'sizes') {
			@each $size-name, $font-size, $padding in variables.$sizes {
				@include set-size($font-size, $padding, $size-name);
			}
		}
	}
}